.accountWizard {
  width: 100%;
}

:global(.showLogin) {
  opacity: 0;
  visibility: hidden;
  display: none;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

:global(.hiddenRegister),
:global(.hiddenConfirmation) {
  opacity: 0;
  visibility: hidden;
  display: none;
}

:global(.showRegister) {
  opacity: 1;
  visibility: visible;
  display: block;
  animation-name: fadeInnOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInnOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:global(.showConfirmation) {
  opacity: 1;
  visibility: visible;
  display: block;
  animation-name: fadeInnOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInnOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
