.container {
  max-width: 1200px;
  margin: 40px auto;
}

.container h2 {
  font-family: var(--MediumSans);
  display: inline-block;
  border-bottom: 1px solid #000;
}

.container div h4 {
  margin-top: 15px;
  color: var(--pink);
  font-weight: bolder !important;
}

.cooperation {
  position: relative;
  margin-top: 40px;
  border-bottom: 1px solid #eee;
  padding-bottom: 25px;
}

.cooperation label {
  font-size: 12px;
  font-weight: bolder;
  font-family: var(--LightSans) !important;
}

.cooperation ul li {
  margin-top: 8px;
}

:global(.mf-arrowsLeft)::before {
  font-size: 8px;
  color: var(--pink);
}

.cooperation button {
  position: absolute;
  top: 35px;
  left: 22px;
  border-color: var(--pink);
  color: var(--pink);
  width: 130px;
}

@media (max-width: 480px) {
  .cooperation button {
    position: relative;
    top: 14px;
    left: unset;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 35px;
  }
}
