.properties {
  margin: 10px auto;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.properties h3 {
  background: #fafafa;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px 5px 0 0;
}

.properties ul {
  padding: 5px 15px;
}

.properties ul li i {
  font-size: 6px;
  color: var(--green);
  margin-left: 10px;
}

.properties ul li b {
  font-size: 13px;
}

.productDetail :global(.ant-table) table th,
.productDetail :global(.ant-table) table td {
  text-align: right !important;
}

.productDetail :global(.ant-table) table tr:last-child td {
  border-bottom: none;
}

.productDetail :global(.ant-table) table {
  border: 1px solid #e8e8e8;
  border-radius: 5px !important;
}
