@import '../../variables.css';

.cardTable {
  display: block;
}

.cardTable :global(.ant-card-body) {
  padding: 15px;
}

.createRecord {
  position: absolute;
  bottom: -20px;
  left: 15px;
  border-radius: 50%;
  height: 40px;
  padding: 5px;
  width: 40px;
  font-size: 30px;
  text-align: center;
  z-index: 100;
}

.createRecordLocationTop {
  position: relative;
  right: 96%;
  left: 15px;
  border-radius: 50%;
  height: 40px;
  padding: 5px;
  width: 40px;
  font-size: 30px;
  text-align: center;
  z-index: 100;
}

.cardTable :global(.ant-btn-circle) {
  font-size: 18px;
  line-height: 35px;
}

:global(.cp-add) {
  font-weight: 600;
  font-size: 16px;
}
