@import '../../variables.css';

.dateInput {
  position: relative;
}

.dateInput::before {
  content: '\E946';
  font-family: CPicons;
  position: absolute;
  font-size: 16px;
  right: 8px;
  top: 4px;
  color: #9a9a9a;
}

.dateInput input {
  height: 32px;
  max-width: 100%;
  font-size: 13px;
  width: 100%;
  box-shadow: none !important;
  border: 1px solid #d9d9d9;
  padding: 5px 35px 5px 10px;
}

:global(.JDatePicker) {
  background: #fff;
  border-radius: 0 !important;
  z-index: 1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  margin-top: 3px;
  padding: 0 !important;
}

:global(.JDatePicker .JC-days) {
  background: #fff !important;
}

:global(.JDatePicker .JDheader .right),
:global(.JDatePicker .JDheader .left) {
  display: block !important;
  width: 100% !important;
  text-align: center !important;
}

:global(.JDatePicker .JDheader .right .number) {
  width: auto !important;
}

:global(.JDheader) {
  background: #1890ff;
  color: #fff;
  padding: 7px;
  margin-bottom: 7px;
}

:global(.JDatePicker .JC-months) {
  margin-bottom: 7px;
  color: #1890ff;
}

:global(.days-titles) {
  margin-bottom: 14px;
}

:global(.days-titles),
:global(.JC-days) {
  padding: 0 5px;
}

:global(.JDatePicker .JC-months .prev),
:global(.JDatePicker .JC-months .next) {
  position: relative;
  height: 20px;
  font-size: 0;
}

:global(.JDatePicker .JC-months .prev::before),
:global(.JDatePicker .JC-months .next::before) {
  font-family: CPicons;
  position: absolute;
  font-size: 10px;
  color: #000;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

:global(.JDatePicker .JC-months .prev::before) {
  content: '\e90c';
}

:global(.JDatePicker .JC-months .next::before) {
  content: '\e915';
}

:global(.JDatePicker .day-items) {
  padding: 7px;
  transition: all ease 0.5s;
}

:global(.JDatePicker .day-items:hover) {
  background: #e6f7ff !important;
}

:global(.JDatePicker .day-items.selected) {
  background: #1890ff !important;
  color: #fff;
}
