.profileMenu {
  border-radius: 2px;
  border: none;
  margin: 0;
  padding: 15px 0;
}

.profileMenu .proItems a {
  display: block;
  padding: 15px;
  color: #5e6770;
  font-size: 13px;
  transition: all ease 0.5s;
}

.profileMenu .proItems.active a {
  background-color: var(--pink);
  color: #fff !important;
}

.profileMenu .proItems.active a i {
  color: #fff;
}

.profileMenu .proItems a:hover,
.profileMenu .proItems a:focus {
  color: var(--pink);
}

.profileMenu .proItems:first-child {
  text-align: center;
  padding: 20px 0;
}

.profileMenu .proItems a i {
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
}

.profileMenu .proItems button i {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

.userName {
  display: block;
  text-align: center;
  color: #5e6770;
  font-weight: 600;
  font-size: 16px;
  margin: 5px 0;
}

.profileMenu :global(.mf-user) {
  display: inline-block;
  font-size: 37px;
  margin: 0 auto;
  border: 5px double #e8e8e8;
  padding: 10px;
  color: #c6c6c6;
  border-radius: 50%;
}

.avatar {
  border-radius: 50%;
  cursor: pointer;
}

.parentAvatar {
  position: relative;
}

@media (min-width: 992px) {
  .profileMenu {
    border: 1px solid #e8e8e8;
  }
}

@media (min-width: 1200px) {
  .profileMenu .proItems a {
    padding: 20px;
    font-size: 14px;
  }
}
