:global(.disabled) {
  pointer-events: none;
  opacity: 0.5;
  background-color: #cccccc;
}

.priceBox {
  display: flex;
}

.radioBtns {
  flex: 1;
}

.prices {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.radioBtns :global(.ant-radio-group) :global(.ant-radio-wrapper) {
  display: block;
}

:global(span.ant-radio + *) {
  width: 100%;
  cursor: default;
}

:global(label.ant-radio-wrapper) {
  display: flex;
  padding: 10px 0 10px;
}

@media (min-width: 992px) {
  :global(label.ant-radio-wrapper) {
    padding: 35px 0 10px;
  }
}

:global(.ant-radio-group) {
  display: block;
  width: 100%;
}

:global(.ant-radio-group) :global(.ant-radio-wrapper:nth-child(2)) {
  border-top: 1px solid #d7d7d7;
}

.radioData {
  display: block;
}

@media (min-width: 992px) {
  .radioData {
    display: flex;
    cursor: default;
  }
}

.radioData .label {
  flex: 1;
}

.radioData .label b {
  display: block;
  color: #484848;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 600;
}

:global(.ant-radio-wrapper) {
  white-space: unset;
}
