.vendorsSlider {
  margin: 35px auto 70px auto;
  max-width: 1360px;
  padding: 0 35px;
  text-align: center;
}

.title {
  display: inline-block;
  margin: 25px auto;
  padding: 0 5px 6px 6px;
  border-bottom: 1px solid var(--pink);
  color: #000;
  font-size: 16px;
  font-weight: bold !important;
}

.slides {
  padding: 0;
}

.borderSlide {
  border: 1px solid #eee;
  border-radius: 50%;
  width: 148px;
  height: 134px;
  margin: 0 auto;
}

.vendorsSlider :global(.slick-dots) li {
  width: 11px;
  height: 11px;
  margin: 3px;
}

.vendorsSlider :global(.slick-dots) li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 11px;
  height: 11px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.vendorsSlider :global(.slick-dots) li button:before {
  font-size: 9px;
  content: '';
  font-family: unset;
  opacity: 1;
  width: 11px;
  height: 11px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 50%;
}

.vendorsSlider :global(.slick-dots .slick-active) button:before {
  opacity: 1 !important;
  background-color: var(--pink) !important;
  border: 1px solid var(--pink);
}

.vendorCard {
  position: relative;
  text-align: center;
  width: 128px;
  height: 128px;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  box-shadow: none;
  border-radius: 50%;
  transition: all ease 0.5s;
}

.vendorCard:hover {
  box-shadow: 0 0 10px #ddd;
}

.details {
  position: relative;
  display: block;
  height: 35px;
}

.customerImg {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-top: 10px;
  width: 109px;
  height: 109px;
}

.customerName {
  color: #000;
  margin: 7px 0 0 0;
  font-size: 14px;
}

:global(.slick-slide img) {
  display: unset;
}

@media (min-width: 480px) {
  .slides {
    padding: 15px;
  }
}
