.content,
.direction {
  direction: rtl;
}

:global(.trigger) {
  background: transparent;
  font-weight: 600;
  font-size: 7px;
  padding: 0;
  line-height: 23px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
}

:global(.trigger:hover),
:global(.trigger:focus) {
  background-color: transparent;
  color: #000;
}

.basketHeader {
  padding: 15px 15px 15px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}

:global(.my-drawer) {
  -webkit-overflow-scrolling: touch;
}

:global(.my-drawer .am-drawer-sidebar) {
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}

:global(.my-drawer .am-drawer-sidebar .am-list) {
  width: 300px;
  padding: 0;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 24%;
}

@media (max-width: 992px) {
  .spinner {
    margin-top: 35%;
  }
}

@media (max-width: 767px) {
  .spinner {
    margin-top: 50%;
  }
}

@media (max-width: 480px) {
  .spinner {
    margin-top: 60%;
  }
}
