:global { @import '/css/mainFlag.css'; }

.addressList {
  width: 100%;
  padding: 0;
}

:global(.eventForm) {
  display: flex;
  padding: 0;
  width: 100%;
}

:global(.eventForm) > div {
  width: 32%;
  margin-left: 1%;
}
:global(.eventForm) > div:last-child {
  margin-left: unset;
}

.comboBox > div {
  border: unset;
  border-bottom: 1px solid #d9d9d9;
  border-radius: unset;
}

.inputName {
  margin-top: 1px !important;
}

.inputName i::before {
  background-color: #1890ff !important;
  height: 0.05rem !important;
}

.month {
  margin-top: 21px;
}

.eventBtn {
  text-align: left;
  margin-top: 8px;
}

.eventBtn button:first-child {
  margin-left: 3px;
}

@media (min-width: 992px) {
  .addressList {
    padding: 30px 25px;
  }
}

.wrapper {
  border: none;
}

.tableHeader,
.tableData {
  display: block;
  margin: 0;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
}

.tableHeader {
  background: var(--gray);
}

.tableData {
  border-top: none;
}

.tableHeader li,
.tableData li {
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
  flex: 1;
}

.tableHeader li:nth-child(3),
.tableData li:last-child {
  border-bottom: none;
}

.tableHeader p,
.tableData p {
  line-height: 32px;
  margin: 0;
  font-size: 12px;
  color: #000;
  white-space: nowrap;
}

.tableHeader li:nth-child(4),
.tableHeader li:last-child {
  display: none;
  visibility: hidden;
}

.tableData li :global(.ant-btn) {
  margin: 0 auto;
  padding: 0 !important;
  width: 32px !important;
  border: none !important;
  height: 32px !important;
  border-radius: 50% !important;
  line-height: 35px !important;
}

.tableData li :global(.ant-btn:hover),
.tableData li :global(.ant-btn:focus) {
  background-color: #ccc;
  color: #555;
}

@media (min-width: 768px) {
  .tableHeader,
  .tableData {
    display: flex;
  }

  .tableHeader li,
  .tableData li {
    border-bottom: none;
  }

  .tableHeader li:nth-child(4),
  .tableHeader li:last-child {
    display: block;
    visibility: visible;
  }

  .tableHeader li:nth-child(6),
  .tableHeader li:last-child,
  .tableData li:nth-child(6),
  .tableData li:last-child {
    max-width: 50px;
  }
}

@media (min-width: 992px) {
  .tableHeader {
    border: 1px solid #e8e8e8;
  }

  .tableData {
    border: 1px solid #e8e8e8;
    border-top: none;
  }

  .tableHeader li,
  .tableData li {
    padding: 10px;
    border: none;
  }
}

.addressList :global(.ant-table) {
  border-radius: 0 !important;
}

.addressList :global(.ant-table table th),
.addressList :global(.ant-table table td) {
  text-align: right !important;
}

.addressList :global(.ant-table-thead) > tr > th,
.addressList :global(.ant-table-tbody) > tr > td {
  padding: 14px 16px !important;
  font-size: 13px;
}

.addressList :global(.ant-table-thead) > tr > th {
  background: #fff;
  color: #000 !important;
}

.addressList .addNewAddress {
  visibility: hidden;
  height: 0;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  transition: all linear 0.3s;
}

.addressList :global(.showAddNewAddress) {
  display: block;
  height: auto !important;
  visibility: visible;
  overflow: hidden;
  margin: 15px 0;
  transition: all linear 0.3s;
  -webkit-box-shadow: 4px 8px 32px 4px rgba(148, 148, 148, 0.22);
  -moz-box-shadow: 4px 8px 32px 4px rgba(148, 148, 148, 0.22);
  box-shadow: 4px 8px 32px 4px rgba(148, 148, 148, 0.22);
  padding: 21px;
  flex-direction: column;
}

.addressList :global(.hideAddNewAddress) {
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all linear 0.2s;
}

.addressList :global(.addButton) {
  text-align: left;
  margin: 0 15px;
  height: 52px;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.addressList :global(.hide-button) {
  text-align: left;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

@media (min-width: 992px) {
  :global(.showAddNewAddress) {
    margin: 15px 0 !important;
  }

  :global(.addButton) {
    margin: 0 !important;
  }
}

.addBtn {
  font-size: 12px;
  color: #fff;
  background: var(--green);
  border: none;
  line-height: 36px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  margin-top: 5px;
}

:global(.hiddenBoxBtns) {
  margin: 22px 0;
}

:global(.hiddenBoxBtns) .save,
:global(.hiddenBoxBtns) .cancel {
  margin-right: 7px;
  border-radius: 2px;
  font-size: 12px;
  border: none;
}

:global(.hiddenBoxBtns) .save {
  background: var(--green);
  color: #fff !important;
}

:global(.hiddenBoxBtns) .cancel {
  background: #ededed;
  color: #666 !important;
}

.mobileView {
  display: flex;
  margin-bottom: 15px;
}

.mobileView ul {
  flex: 1 1;
}

.mobileView ul:first-child {
  background: var(--gray);
  border-left: none;
  margin: 0;
}

.mobileView ul:first-child li {
  flex: 1 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #e8e8e8;
}

.mobileView ul:last-child {
  /*border: 1px solid #e8e8e8;*/
  margin: 0;
}

.mobileView ul:last-child li {
  flex: 1 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #e8e8e8;
}

:global(.mobileViewTitle) {
  margin-bottom: 15px;
}

.editButton {
  border: unset;
}

.mobileView ul:first-child li,
.mobileView ul:last-child li {
  height: 43px;
}

.mobileView ul:first-child li:last-child {
  background-color: #fff;
  height: 44px;
  border-left: unset;
  text-align: left;
}

.mobileView ul:last-child li:last-child {
  background-color: #fff;
  height: 44px;
  border-right: unset;
  padding-right: 20px;
}

@media (max-width: 767px) {
  :global(.contentProfile) {
    border: unset !important;
  }

  .mobileViewForm > div {
    margin-bottom: 11px;
  }
}
