.root {
  position: relative;
}

.login,
.shipping,
.payment {
  width: 100%;
  margin: 25px auto;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;
}

@media (min-width: 768px) {
  .login,
  .shipping,
  .payment {
    width: 70%;
  }
}

.login {
  animation-name: login;
}

.shipping {
  animation-name: shipping;
}

.payment {
  animation-name: payment;
}

@keyframes login {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shipping {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes payment {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
