.socialShare {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

:global(.share-button) {
  cursor: pointer;
  text-align: center;
  line-height: 28px;
  margin-right: 12px;
}

:global(.share-button) i {
  font-size: 22px;
  color: #b7b7b7;
}

:global(.share-button .mf-telegram) {
  color: #2fa8df;
}

.socialShare :global(.share-button:focus) {
  outline: 0;
}

.socialShare :global(.SocialMediaShareButton) {
  display: inline-block;
}

.label {
  display: none;
  visibility: hidden;
  margin: 0 !important;
}

:global(.mf-telegram)::before {
  color: #b7b7b7;
}

@media (min-width: 768px) {
  .label {
    line-height: 30px;
    display: inline-block;
    visibility: visible;
  }
}

.socialShare :global(.share-button) {
  display: inline-block;
}

.SocialName {
  display: none;
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
  padding: 0;
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 0;
  color: rgba(0, 0, 0, 0.85);
}

:global(.SocialNameDefault) {
  display: inline-block;
  visibility: visible;
}

:global(.SocialNameDefaultHide) {
  display: none;
  visibility: hidden;
}

:global(.share-button:hover) .SocialName {
  visibility: visible;
  display: inline-block;
}

@media (min-width: 768px) {
  .label {
    visibility: visible;
    display: inline-block;
  }
}
