.pickupPrice {
  position: relative;
  width: 130px;
  float: left;
}

@media (min-width: 1200px) {
  .pickupPrice {
    width: 165px;
  }
}

.lastPrice {
  position: relative;
  background-color: #fff;
  width: 130px;
  height: 40px;
  display: block;
  color: var(--green);
  text-align: center;
  line-height: 40px;
  border: 1px solid var(--green);
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .lastPrice {
    width: 165px;
  }
}

.price {
  position: relative;
  background-color: #ebebeb;
  width: 130px;
  height: 40px;
  display: block;
  color: #a1a1a1;
  text-align: center;
  line-height: 35px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  z-index: -2;
}

@media (min-width: 1200px) {
  .price {
    width: 165px;
  }
}

.price b {
  position: relative;
  font-size: 16px;
  font-weight: 200;
  font-family: var(--RegularSans);
}

@media (min-width: 1200px) {
  .price b {
    font-size: 18px;
  }
}

.price b::before {
  content: '';
  width: 60%;
  border-bottom: 1px solid #a1a1a1;
  position: absolute;
  right: 0;
  top: 50%;
}

.price p {
  display: inline-block;
  padding: 0;
  font-weight: 200;
  font-size: 12px;
}

.lastPrice::before {
  content: '';
  position: absolute;
  width: 55%;
  height: 100%;
  max-width: 200px;
  max-height: 100px;
  bottom: 3px;
  right: 1px;
  border-radius: 10px;
  box-shadow: 8px 5px 5px rgba(31, 31, 31, 0.51);
  transform: rotate(3deg);
  z-index: -1;
}

.lastPrice b {
  font-size: 20px;
}

@media (min-width: 1200px) {
  .lastPrice b {
    font-size: 24px;
  }
}

.lastPrice p {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: 4px;
}

.percent {
  left: 0;
  top: -40px;
  position: absolute;
}
