.timepickerBox .title {
  background-color: var(--gray);
  color: #484848;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 14px;
  font-family: var(--BoldSans);
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}

:global(.ant-modal-close-x) {
  display: none;
}

@media (min-width: 992px) {
  .timepickerBox .title {
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 35px;
  }
}

@media (min-width: 1200px) {
  .timepickerBox .title {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
  }
}

.contentWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contentWrap + .dateTime .date {
  background-color: var(--pink);
  color: #fff;
}

.dateTime {
  width: 49%;
  text-align: center;
}

@media (min-width: 480px) {
  .dateTime {
    width: 23%;
  }
}

.date,
.time {
  padding: 10px 0;
  margin-bottom: 15px;
  border: 1px solid #e8e8e8;
}

.date {
  height: 60px;
  line-height: 35px;
  color: #959595;
  display: block;
  border-radius: 4px;
  transition: all ease 0.5s;
}

.dateSelect {
  background-color: var(--pink);
  color: #fff;
}

@media (min-width: 992px) {
  .date {
    height: 75px;
    line-height: 50px;
  }
}

.date:hover,
.date:focus {
  background-color: var(--pink);
  color: #fff;
}

.date p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: bold;
}

@media (min-width: 992px) {
  .date p {
    font-size: 14px;
  }
}

.lastDate {
  line-height: 23px !important;
  transition: all ease 0.5s;
}

.lastDate p {
  color: var(--pink);
  line-height: 20px;
}

.lastDate:hover p,
.lastDate:focus p {
  color: #fff;
}

.timepickerBox :global(.ant-select) {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.timepickerBox :global(.ant-select-selection--single) {
  height: 40px;
  position: relative;
  cursor: pointer;
  border: none;
}

.timepickerBox :global(.ant-select-selection__rendered) {
  line-height: 40px;
}

.timepickerBox :global(.mf-calendar) {
  font-size: 11px;
  /*color: #fff;*/
  color: var(--pink);
  padding: 5px;
  border-radius: 500rem;
}

@media (min-width: 1200px) {
  .timepickerBox :global(.mf-calendar) {
    font-size: 16px;
    padding: 7px;
  }
}

.timepickerBox :global(.ant-select-selection-selected-value) {
  float: none !important;
  padding: 0 !important;
  font-size: 20px;
  color: #959595;
}

.cpDatepiker :global(.ant-modal-body){
  padding: 0;
}

:global(.disabled) {
  pointer-events: none;
  opacity: 0.5;
  background-color: var(--gray);
}
