.wrapper {
  padding: 30px 25px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .wrapper {
    width: 70%;
    margin: 90px auto;
  }
}

@media (min-width: 992px) {
  .wrapper {
    width: 50%;
    margin: 90px auto;
  }
}

.saveBtn {
  background-color: var(--green);
  color: #fff;
  border-radius: 2px;
  border: none;
}

.changePass {
  width: 100%;
  align-items: center;
  align-self: center;
}

.changePass :global(.form-radio),
.changePass :global(.form-group) {
  margin: 0 0 30px;
}

.input {
  width: 100%;
}
