.container {
 
  -webkit-box-shadow: 0px 0px 5px 0px rgba(237,237,237,0.88);
  -moz-box-shadow: 0px 0px 5px 0px rgba(237,237,237,0.88);
  box-shadow: 0px 0px 5px 0px rgba(237,237,237,0.88);
  padding: 0px 10px;
}

.socialMenu {
  flex: 1;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socialMenu li {
  display: inline-block;
  visibility: visible;
}

.socialMenu li:nth-child(3),
.socialMenu li:nth-child(4),
.socialMenu li:nth-child(5),
.socialMenu li:nth-child(6) {
  display: none;
  visibility: hidden;
}

@media (min-width: 768px) {
  .socialMenu li:nth-child(3),
  .socialMenu li:nth-child(4),
  .socialMenu li:nth-child(5),
  .socialMenu li:nth-child(6) {
    display: inline-block;
    visibility: visible;
  }
}

.link {
  color: #000;
  font-size: 16px;
  line-height: 35px;
  width: 28px;
  display: block;
  height: 28px;
  text-align: center;
}

.link:hover,
.link:focus {
  color: var(--pink);
}

:global(.showHeader) .link {
  color: #fff;
}
  .login {
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    
    padding: 0px 10px;
  }

  .login > label {
    padding-top: 5px;
    font-size: 13px;
    font-weight: bold;
    
  }

  .socialMenu li i {
    font-size: 14px;
  }