.profilePage {
  display: flex;
  margin: 50px auto;
}

.sideBar {
  display: none;
  visibility: hidden;
}

@media (min-width: 992px) {
  .sideBar {
    flex: 1;
    padding-left: 15px;
    display: block;
    visibility: visible;
  }
}

:global(.contentProfile) {
  position: relative;
  flex: 3;
  border: 1px solid #e8e8e8;
}

.sideBarBtn {
  display: block;
  visibility: visible;
  position: absolute;
  right: 20px;
  top: -20px;
  width: 40px;
  height: 40px;
  color: var(--pink);
  background: #fff;
  padding: 11px;
  font-size: 18px !important;
  border: none;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.3);
}

@media (min-width: 992px) {
  .sideBarBtn {
    display: none;
    visibility: hidden;
  }
}
