@import '../../variables.css';

.editCard :global(.ant-card-head) {
  background-color: #fa2828;
}

.editCard :global(.ant-card-head-title) {
  color: #fff !important;
  font-size: 22px;
}

.editCard .topbtns {
  position: absolute;
  top: 10px;
  left: 10px;
}

.editCard .bottombtns :global(.ant-btn) {
  width: 40px;
  height: 40px;
  border: none !important;
  color: #fff;
  font-size: 20px;
  background-color: #3f51b5 !important;
  padding: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 500rem;
}

.editCard .topbtns :global(.ant-btn) {
  width: 35px;
  height: 35px;
  color: #fff;
  border-radius: 500rem !important;
  border: none !important;
  background: transparent !important;
  margin-right: 5px;
  padding: 9px 0;
  font-size: 18px;
}

.editCard .topbtns :global(.ant-btn):hover {
  background: rgba(0,0,0,0.2) !important;
}

.editCard .bottombtns {
  position: absolute;
  top: 60px;
  left: 20px;
}

.editCard :global(.ant-card-head) {
  padding: 10px 24px;
}

:global(.ant-tabs) :global(.ant-card-body) {
  padding: 0 !important;
}

:global(.ant-tabs-tabpane) :global(.ant-btn-circle) {
  bottom: 10px !important;
  left: 0 !important;
}
