
.ant-rate,
.ant-carousel,
.ant-card,
.ant-tag,
.ant-avatar,
.ant-form,
.ant-tree,
.ant-form-item,
.ant-menu,
.ant-divider,
.ant-tabs,
.ant-pagination,
.ant-popover,
.ant-time-picker,
.ant-time-picker-input,
.ant-time-picker-panel-input,
.ant-progress,
.ant-tooltip,
.ant-btn,
.ant-switch,
.ant-radio,
.ant-radio-wrapper,
.ant-radio-group,
.ant-upload-list,
.ant-upload,
.ant-breadcrumb,
.ant-notification,
.ant-back-top,
.ant-collapse,
.ant-spin,
.ant-dropdown,
.ant-timeline,
.ant-modal,
.ant-select,
.ant-table,
.ant-list,
.ant-slider,
.ant-badge,
.ant-input,
.ant-steps,
.ant-anchor,
.ant-alert,
.ant-message,
.ant-transfer,
.ant-checkbox,
.ant-input-group,
.ant-select-tree,
.ant-fullcalendar,
.ant-input-number,
.ant-mention-wrapper,
.ant-cascader-picker,
.ant-checkbox-group,
.ant-select-dropdown,
.ant-mention-dropdown,
.ant-calendar-picker,
.ant-checkbox-wrapper,
.ant-time-picker-panel,
.ant-input-affix-wrapper,
.ant-select-tree-dropdown,
.ant-select-tree-checkbox,
.ant-select-auto-complete,
.ant-calendar-picker-container,
.ant-select-tree-checkbox-group,
.ant-select-tree-checkbox-wrapper,
.ant-pagination-item {
  font-family: var(--RegularSans) !important;
}

.ant-card-head-title {
  font-size: 18px;
  font-weight: bold;
}

.ltr {
  direction: ltr !important;
}

.has-success.has-feedback::after,
.has-warning.has-feedback::after,
.has-error.has-feedback::after,
.is-validating.has-feedback::after {
  position: absolute;
  top: 0;
  left: -30px;
  right: auto;
}

.ltr-form .ant-form-item-control-wrapper,
.ltr-form .ant-input-group-wrapper,
.ant-badge-count {
  direction: ltr !important;
}

.ant-form-explain {
  direction: rtl;
}

.ant-form-item-required::before {
  margin-right: 0 !important;
  margin-left: 4px !important;
}

.ant-col-xs-1,
.ant-col-xs-2,
.ant-col-xs-3,
.ant-col-xs-4,
.ant-col-xs-5,
.ant-col-xs-6,
.ant-col-xs-7,
.ant-col-xs-8,
.ant-col-xs-9,
.ant-col-xs-10,
.ant-col-xs-11,
.ant-col-xs-12,
.ant-col-xs-13,
.ant-col-xs-14,
.ant-col-xs-15,
.ant-col-xs-16,
.ant-col-xs-17,
.ant-col-xs-18,
.ant-col-xs-19,
.ant-col-xs-20,
.ant-col-xs-21,
.ant-col-xs-22,
.ant-col-xs-23,
.ant-col-xs-24 {
  float: right !important;
}

@media (min-width: 576px) {
  .ant-col-sm-1,
  .ant-col-sm-2,
  .ant-col-sm-3,
  .ant-col-sm-4,
  .ant-col-sm-5,
  .ant-col-sm-6,
  .ant-col-sm-7,
  .ant-col-sm-8,
  .ant-col-sm-9,
  .ant-col-sm-10,
  .ant-col-sm-11,
  .ant-col-sm-12,
  .ant-col-sm-13,
  .ant-col-sm-14,
  .ant-col-sm-15,
  .ant-col-sm-16,
  .ant-col-sm-17,
  .ant-col-sm-18,
  .ant-col-sm-19,
  .ant-col-sm-20,
  .ant-col-sm-21,
  .ant-col-sm-22,
  .ant-col-sm-23,
  .ant-col-sm-24 {
    float: right !important;
  }
}

.ant-form-item-control > * {
  font-size: 12px;
}

.has-feedback .ant-input {
  padding-right: 10px;
}

/****************** ant-tabs *********************/
.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content-animated {
  display: block;
}

.ant-select-dropdown .ant-select-dropdown-menu {
  direction: ltr;
  text-align: right;
}

.ant-select-selection-selected-value {
  float: right;
  padding-right: 0 !important;
}

.ant-select-arrow {
  left: 11px;
  right: unset;
}

.ant-input-group.ant-input-group-compact > *:first-child,
.ant-input-group.ant-input-group-compact > .ant-select:first-child > .ant-select-selection,
.ant-input-group.ant-input-group-compact > .ant-calendar-picker:first-child .ant-input,
.ant-input-group.ant-input-group-compact > .ant-select-auto-complete:first-child .ant-input,
.ant-input-group.ant-input-group-compact > .ant-cascader-picker:first-child .ant-input,
.ant-input-group.ant-input-group-compact > .ant-mention-wrapper:first-child .ant-mention-editor,
.ant-input-group.ant-input-group-compact > .ant-time-picker:first-child .ant-time-picker-input {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ant-input-group.ant-input-group-compact > *:last-child,
.ant-input-group.ant-input-group-compact > .ant-select:last-child > .ant-select-selection,
.ant-input-group.ant-input-group-compact > .ant-calendar-picker:last-child .ant-input,
.ant-input-group.ant-input-group-compact > .ant-select-auto-complete:last-child .ant-input,
.ant-input-group.ant-input-group-compact > .ant-cascader-picker:last-child .ant-input,
.ant-input-group.ant-input-group-compact > .ant-mention-wrapper:last-child .ant-mention-editor,
.ant-input-group.ant-input-group-compact > .ant-time-picker:last-child .ant-time-picker-input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left-width: 1px;
  border-right-width: 0;
}

.ant-select-search__field__mirror {
  left: unset;
  right: -9999px;
}

.ant-select-selection--multiple .ant-select-selection__rendered {
  margin-right: 5px !important;
  margin-left: 0 !important;
}

.ant-select-selection--multiple .ant-select-search--inline {
  float: right !important;
}

:global(.ant-select-dropdown-menu-item-active),
:global(.ant-select-dropdown-menu-item-selected),
:global(.ant-select-dropdown-menu-item-selected:hover),
:global(.ant-select-dropdown-menu-item:hover) {
  background-color: #f1f1f1 !important;
}

/****************** ant-popover *********************/
.ant-popover {
  text-align: justify !important;
  max-width: 340px;
}

.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
  text-align: right !important;
  font-size: 12px;
}

/****************** ant-rate *********************/
.rate-text {
  display: inline-block;
  font-size: 10px;
  vertical-align: middle;
  color: #000;
  margin-right: 3px;
  line-height: 26px;
}

.ant-rate {
  direction: rtl;
  color: var(--pink) !important;
}

.ant-rate-star {
  margin-left: 5px !important;
  margin-right: 0 !important;
}

.ant-rate-star-first,
.ant-rate-star-second {
  right: 0;
  left: unset !important;
}

/****************** ant-icons *********************/
i.anticon::before,
span.ant-select-arrow::before {
  font-family: 'motherFlower' !important;
}

.anticon-exclamation-circle::before {
  content: '\e937' !important;
}

.anticon-search::before {
  content: '\e94a' !important;
  font-size: 14px;
  font-weight: 600;
}


.anticon-save:before {
  content: '\e965' !important;
}

.anticon-close-circle-o:before,
.anticon-cross-circle-o:before {
  content: '\e940' !important;
}

.ant-modal-close-x:before {
  content: '\e93f' !important;
  font-family: 'motherFlower' !important;
}

@media (min-width: 1024px) {
  .anticon-search::before {
    font-size: 16px;
  }
}

.ant-select-arrow::before {
  content: '\e93a' !important;
  font-size: 10px;
  font-weight: 600;
}

.anticon-star::before {
  content: '\e912' !important;
  font-size: 12px;
}

/****************** ant-breadcrumbs *********************/
div.ant-breadcrumb {
  padding: 10px 0 10px 10px;
}

.ant-breadcrumb a {
  color: #000 !important;
  font-size: 12px;
}

.ant-breadcrumb-separator {
  color: #e8e8e8 !important;
}

/****************** ant-radio *********************/
label.ant-radio-wrapper {
  margin-left: 0;
  margin-right: 0;
}

span.ant-radio + * {
  padding-left: 0 !important;
  font-size: 12px;
  color: #000;
  font-family: var(--RegularSans);
}

span.ant-radio-checked .ant-radio-inner,
span.ant-radio-checked::after {
  border-color: var(--pink) !important;
}

span.ant-radio-inner::after {
  background-color: var(--pink) !important;
}

.ant-radio-wrapper:hover .ant-radio .ant-radio-inner,
.ant-radio:hover .ant-radio-inner,
.ant-radio-focused .ant-radio-inner {
  border-color: var(--pink) !important;
}

@media (max-width: 480px) {
  .ant-tabs-nav .ant-tabs-tab {
    width: 50%;
    margin: 0 !important;
    text-align: center;
    padding: 5px 0 12px 0 !important;
  }

  .ant-tabs-nav {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100%;
  }

  .ant-tabs-ink-bar {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .ant-tabs-nav .ant-tabs-tab {
    margin: 0 !important;
    text-align: center;
    width: 33%;
    padding: 5px 0 12px 0 !important;
  }

  .ant-tabs-nav {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100%;
  }

  .ant-tabs-ink-bar {
    display: none;
    visibility: hidden;
  }
}

.ant-popover-buttons {
  text-align: left !important;
}

.ant-popover-message > .anticon {
  right: 15px;
  top: 12px;
  font-size: 14px;
}

.ant-popover-message-title {
  padding-right: 22px;
  padding-left: 0 !important;
  font-size: 12px;
  color: #000;
}

.ant-popover-buttons .ant-btn {
  font-size: 12px;
  border-radius: 2px !important;
}

.ant-popover-buttons button {
  margin-left: 0 !important;
  margin-right: 8px !important;
}

.ant-select-selection-selected-value {
  float: right !important;
}

.ant-select-arrow {
  left: 11px;
  right: unset !important;
}

.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content-animated {
  display: block !important;
}

.ant-btn.disabled,
.ant-btn[disabled],
.ant-btn.disabled:hover,
.ant-btn[disabled]:hover,
.ant-btn.disabled:focus,
.ant-btn[disabled]:focus,
.ant-btn.disabled:active,
.ant-btn[disabled]:active,
.ant-btn.disabled.active,
.ant-btn[disabled].active {
  color: rgba(0, 0, 0, 0.25) !important;
  background-color: var(--gray) !important;
  border-color: #e8e8e8 !important;
}

/****************** ant-notification *********************/

.ant-notification {
  bottom: 5px !important;
}

.anticon-check-circle-o::before {
  content: '\e92f' !important;
  font-family: 'motherFlower' !important;
  color: var(--green) !important;
  font-size: 18px;
}

span.ant-notification-notice-close-x::after {
  content: '\e93f' !important;
  font-family: 'motherFlower' !important;
  color: #ccc !important;
  font-size: 9px !important;
}

i.anticon-cross-circle-o::before {
  content: '\e940' !important;
  font-family: 'motherFlower' !important;
  color: var(--pink) !important;
  font-size: 18px;
}

.ant-notification-notice-with-icon .ant-notification-notice-description,
.ant-notification-notice-with-icon .ant-notification-notice-message {
  margin-right: 0;
  margin-left: 0 !important;
  text-align: justify;
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
  font-size: 13px !important;
}

.ant-notification-notice-close {
  left: 22px !important;
  right: unset !important;
}

.successBox .ant-notification-notice-message {
  padding-right: 24px !important;
  padding-left: 0 !important;
  color: var(--green);
}

.errorsBox .ant-notification-notice-message {
  padding-right: 24px !important;
  padding-left: 0 !important;
  color: #f22;
}

.ant-notification-notice.successBox {
  border-radius: 2px !important;
  border: 1px solid #b7eb8f !important;
  box-shadow: 0 1px 15px #93dd59 !important;
}

.ant-notification-notice.errorsBox {
  border-radius: 2px !important;
  border: 1px solid #ffa39e !important;
  box-shadow: 0 1px 15px #ff6262 !important;
}

:root .ant-select-tree li span.ant-select-tree-switcher.ant-select-tree-switcher_open::after,
:root .ant-select-tree li span.ant-select-tree-switcher.ant-select-tree-switcher_close::after,
.ant-tree li span.ant-tree-switcher.ant-tree-switcher_close::after,
.ant-tree li span.ant-tree-switcher.ant-tree-switcher_open::after {
  content: '\e924' !important;
  font-family: 'motherFlower' !important;
}

.ant-select-tree li span.ant-select-tree-switcher.ant-select-tree-switcher_close::after,
.ant-tree li span.ant-tree-switcher.ant-tree-switcher_close::after {
  transform: rotate(90deg) scale(0.59) !important;
}

.ant-tree li span.ant-tree-checkbox {
  margin: 4px 2px 0 4px !important;
}

.ant-select-dropdown-menu-item-selected,
.ant-select-dropdown-menu-item-selected:hover,
.ant-select-dropdown-menu-item:hover {
  background-color: #f7f7f7 !important;
}

span.ant-tabs-tab-prev-icon::before,
span.ant-tabs-tab-next-icon::before {
  font-family: 'motherFlower' !important;
}

.ant-select-selection--multiple .ant-select-selection__choice__content {
  font-size: 16px !important;
}

.anticon svg {
  display: none;
}
