.react-confirm-alert-blur {
  filter: url(#gaussian-blur);
  filter: blur(2px);
}

.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  z-index: 1001;
}

.react-confirm-alert-body {
  position: relative;
  width: 400px;
  padding: 30px 55px 0 0;
  text-align: right;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666;
}

.react-confirm-alert-body::before {
  content: '\e937';
  font-family: motherFlower;
  position: absolute;
  right: 20px;
  top: 22px;
  font-size: 24px;
  color: #ffef70;
}

.react-confirm-alert-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.react-confirm-alert-body > h1 {
  margin-top: 0;
}

.react-confirm-alert-body > h3 {
  margin: 0;
  font-size: 16px;
}

.react-confirm-alert-button-group {
  display: flex;
  margin-top: 30px;
  height: 45px;
  border-top: 1px solid #e8e8e8;
  margin-right: -55px;
}

.react-confirm-alert-button-group > button {
  width: 50%;
  background: transparent;
  border: none;
  display: inline-block;
  padding: 10px 18px;
  color: #000;
  height: 45px;
  margin-right: 0;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}

.react-confirm-alert-button-group > button:first-child {
  border-left: 1px solid #e8e8e8;
}

@-webkit-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
