@font-face {
  font-family: 'motherFlower';
  src: url('../fonts/motherFlower.eot');
  src: url('../fonts/motherFlower.eot') format('embedded-opentype'), url('../fonts/motherFlower.ttf') format('truetype'), url('../fonts/motherFlower.woff') format('woff'), url('../fonts/motherFlower.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='mf-'],
[class*=' mf-'] {
  font-family: 'motherFlower' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mf-facebook::before {
  content: '\e900';
}

.mf-googlePlus::before {
  content: '\e901';
}

.mf-instagram::before {
  content: '\ea92';
}

.mf-linkedin::before {
  content: '\e903';
}

.mf-twitter::before {
  content: '\e904';
}

.mf-telegram::before {
  content: '\e905';
}

.mf-visit::before {
  content: '\e906';
}

.mf-checkbox::before {
  content: '\e907';
}

.mf-filters::before {
  content: '\e908';
}

.mf-logout::before {
  content: '\e909';
}

.mf-login::before {
  content: '\e90a';
}

.mf-pen::before {
  content: '\e90b';
}

.mf-cake::before {
  content: '\e90c';
}

.mf-gift::before {
  content: '\e90d';
}

.mf-time::before {
  content: '\e90e';
}

.mf-calendar::before {
  content: '\e90f';
}

.mf-favorite::before {
  content: '\e910';
}

.mf-favorite-o::before {
  content: '\e911';
}

.mf-star::before {
  content: '\e912';
}

.mf-star-o::before {
  content: '\e913';
}

.mf-vendor::before {
  content: '\e914';
}

.mf-credit-card::before {
  content: '\e915';
}

.mf-cart::before {
  content: '\e916';
}

.mf-basket::before {
  content: '\e917';
}

.mf-sort::before {
  content: '\e918';
}

.mf-grid::before {
  content: '\e919';
}

.mf-squares::before {
  content: '\e91a';
}

.mf-email::before {
  content: '\e91b';
}

.mf-square::before {
  content: '\e91c';
}

.mf-double-left-arrow::before {
  content: '\e91d';
}

.mf-double-right-arrow::before {
  content: '\e91e';
}

.mf-double-up-arrow::before {
  content: '\e91f';
}

.mf-double-down-arrow::before {
  content: '\e920';
}

.mf-mobile::before {
  content: '\e921';
}

.mf-cellphone::before {
  content: '\e922';
}

.mf-circle::before {
  content: '\e923';
}

.mf-arrowsDown::before {
  content: '\e924';
}

.mf-arrowsLeft::before {
  content: '\e925';
}

.mf-home::before {
  content: '\e926';
}

.mf-filter::before {
  content: '\e927';
}

.mf-stack::before {
  content: '\e962';
}

.mf-compass::before {
  content: '\e964';
}

.mf-edit::before {
  content: '\e928';
}

.mf-download::before {
  content: '\e929';
}

.mf-chat::before {
  content: '\e92a';
}

.mf-clock::before {
  content: '\e92b';
}

.mf-circle-o::before {
  content: '\e92c';
}

.mf-checked::before {
  content: '\e92d';
}

.mf-checked-square::before {
  content: '\e92e';
}

.mf-check::before {
  content: '\e92f';
}

.mf-fave::before {
  content: '\e930';
}

.mf-left::before {
  content: '\e931';
}

.mf-arrow-top::before {
  content: '\e932';
}

.mf-arrow-right::before {
  content: '\e933';
}

.mf-arrow-left::before {
  content: '\e934';
}

.mf-arrow-bottom::before {
  content: '\e935';
}

.mf-bar::before {
  content: '\e936';
}

.mf-warn::before {
  content: '\e937';
}

.mf-warning::before {
  content: '\e938';
}

.mf-market::before {
  content: '\e939';
}

.mf-down::before {
  content: '\e93a';
}

.mf-up::before {
  content: '\e93b';
}

.mf-right::before {
  content: '\e93c';
}

.mf-at::before {
  content: '\e93d';
}

.mf-info::before {
  content: '\e93e';
}

.mf-close::before {
  content: '\e93f';
}

.mf-close-o::before {
  content: '\e940';
}

.mf-user::before {
  content: '\e941';
}

.mf-add-user::before {
  content: '\e942';
}

.mf-upload::before {
  content: '\e943';
}

.mf-lock::before {
  content: '\e944';
}

.mf-trash-o::before {
  content: '\e945';
}

.mf-trash::before {
  content: '\e946';
}

.mf-tag::before {
  content: '\e947';
}

.mf-photo::before {
  content: '\e948';
}

.mf-share::before {
  content: '\e949';
}

.mf-search::before {
  content: '\e94a';
}

.mf-return::before {
  content: '\e94b';
}

.mf-add::before {
  content: '\e94c';
}

.mf-add-o::before {
  content: '\e94d';
}

.mf-call::before {
  content: '\e94e';
}

.mf-phone-call::before {
  content: '\e94f';
}

.mf-minus::before {
  content: '\e950';
}

.mf-minus-o::before {
  content: '\e951';
}

.mf-menu::before {
  content: '\e952';
}

.mf-pin::before {
  content: '\e953';
}

.mf-forbidden::before {
  content: '\e954';
}

.mf-minimize::before {
  content: '\e955';
}

.mf-bouquet::before {
  content: '\e956';
}

.mf-truck::before {
  content: '\e957';
}

.mf-delivery::before {
  content: '\e957';
}

.mf-addToCard::before {
  content: '\e958';
}

.mf-store::before {
  content: '\e959';
}

.mf-longLeft::before {
  content: '\e95a';
}

.mf-longRight::before {
  content: '\e95b';
}

.mf-mobile-linear::before {
  content: '\e922';
}

.mf-cellphone::before {
  content: '\e95c';
}

.mf-mobile-filled::before {
  content: '\e95d';
}

.mf-android::before {
  content: '\e95e';
}

.mf-apple::before {
  content: '\e95f';
}

.mf-technology::before {
  content: '\e960';
}

.mf-tablet::before {
  content: '\e961';
}

.mf-mailBox::before {
  content: '\e963';
}

.mf-sphere::before {
  content: '\e9c9';
}

.mf-wallet::before {
  content: '\e966';
}
