@import '../css/variables.css';

body {
  font-family: var(--LightSans) !important;
  direction: rtl;
  background-color: #fff !important;
}

* {
  outline: 0 !important;
  outline: none !important;
  text-decoration: none !important;
}

::-moz-selection {
  background-color: #b3d4fc;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background-color: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: unset !important;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
optgroup,
select,
textarea {
  font-family: var(--LightSans) !important;
  font-size: 14px !important;
}

table {
  background-color: #fff;
}

.clearfix::after {
  content: ' ';
  clear: both;
  display: table;
}

.google-map {
  width: 100%;
  height: 245px;
}

#app {
  height: 100% !important;
  margin: 0 !important;
}

.greenBtn {
  width: 100%;
  background-color: var(--green) !important;
  color: #fff !important;
  border-radius: 2px;
  border: none !important;
  font-family: var(--MediumSans) !important;
  transition: all ease 0.5s !important;
}

.greenBtn:hover,
.greenBtn:focus {
  background-color: var(--pink) !important;
  color: #fff !important;
  border: none !important;
}

.pinkBtn {
  width: 100%;
  background-color: var(--pink) !important;
  color: #fff !important;
  border-radius: 2px !important;
  border: none !important;
  font-family: var(--MediumSans) !important;
  transition: all ease 0.5s !important;
}

.pinkBtn:hover,
.pinkBtn:focus {
  background-color: var(--green) !important;
  color: #fff !important;
  border: none;
}

.downloadBtn {
  width: 145px;
  padding: 5px !important;
}

.downloadBtn i {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 16px;
}

.form-radio,
.form-group {
  position: relative;
  margin: 0 0 15px;
}

.form-inline .form-group,
.form-inline .btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}

.checkbox .form-help,
.form-radio .form-help,
.form-group .form-help {
  position: absolute;
  width: 100%;
}

.checkbox .form-help {
  position: relative;
  margin-bottom: 1rem;
}

.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

.form-group input {
  height: 1.9rem;
}

.form-group textarea {
  resize: none;
}

.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background-color: unset;
  border: none;
  line-height: 1.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: normal;
  transition: all 0.28s ease;
  right: 0;
}

.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #ddd;
  display: block;
}

.form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background-color: var(--pink);
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}

.form-group .bar_isValid {
  position: relative;
  border-bottom: 0.0625rem solid var(--green);
  display: block;
}

.form-group .bar_noValid {
  position: relative;
  border-bottom: 0.0625rem solid var(--pink);
  display: block;
}

.form-group input,
.form-group textarea {
  display: block;
  text-align: right;
  background-color: unset;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border: none;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.28s ease;
  box-shadow: none;
}

.form-group input[type='file'] {
  line-height: 1;
}

.form-group input[type='file'] ~ .bar {
  display: none;
}

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}

.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  top: -0.9rem;
  right: 0;
  font-size: 12px;
  color: #000;
  font-weight: 600;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}

.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: var(--pink);
}

.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

/******************************* ant-select *******************************/
.ant-select-selection--multiple .ant-select-selection__choice {
  float: right !important;
  padding: 1px 10px 1px 26px !important;
  background-color: #ebebeb !important;
  border-radius: 20px !important;
  line-height: 19px;
}

.ant-select-selection--multiple .ant-select-selection__choice__content {
  font-size: 12px !important;
}

.ant-select-selection--multiple .ant-select-selection__choice__remove,
.anticon-cross {
  width: 18px !important;
  height: 18px !important;
  border-radius: 500rem !important;
  background-color: #959595 !important;
  line-height: 18px !important;
  color: #ececec !important;
  left: 4px !important;
  right: auto !important;
}

.ant-select-selection--multiple .ant-select-selection__rendered {
  margin-right: 0 !important;
}

.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu .ant-select-dropdown-menu-item::after {
  left: 12px !important;
  right: auto !important;
}

.ant-select-tree li span.ant-select-tree-switcher.ant-select-tree-switcher_open::after {
  font-weight: normal !important;
  font-family: 'motherFlower' !important;
  content: '\e925' !important;
  font-size: 12px !important;
}

.ant-select-selection--multiple span.ant-select-selection__choice__remove::before,
.anticon-cross::before {
  content: '\e93f' !important;
  font-family: 'motherFlower' !important;
  font-weight: 600;
  font-size: 6px;
  line-height: 17px;
}

.github-picker {
  width: 100% !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) !important;
}

.github-picker > span {
  margin: 3px !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) !important;
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  box-shadow: none !important;
}

.ant-select-tree li ul,
.ant-tree li ul {
  font-size: 13px;
  margin: 0;
  padding: 0 18px 0 0 !important;
}

.ant-radio-wrapper {
  white-space: unset !important;
}

.ant-radio-wrapper,
.ant-select-auto-complete.ant-select .ant-input {
  /*font-size: 13px !important;*/
  color: #000;
}

.ant-select-tree li span.ant-select-tree-checkbox {
  margin: 0 0 0 4px !important;
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active,
.ant-input:focus {
  box-shadow: none !important;
}

.ant-select-dropdown-menu-item {
  font-size: 12px !important;
}

.ant-table table th,
.ant-table table td {
  text-align: center !important;
}

.ant-table-tbody > tr > td {
  padding: 8px 16px !important;
}

.ant-table-thead > tr > th {
  padding: 8px 16px !important;
  font-weight: 600 !important;
  color: #7c7c7c !important;
}

.ant-table-thead > tr.ant-table-row-hover > td,
.ant-table-tbody > tr.ant-table-row-hover > td,
.ant-table-thead > tr:hover > td,
.ant-table-tbody > tr:hover > td {
  background-color: transparent !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.ant-tabs-nav .ant-tabs-tab {
  margin: 0 0 0 20px !important;
  padding: 14px 16px !important;
  font-family: var(--MediumSans);
  color: #b7b7b7;
}

.ant-tabs-nav .ant-tabs-tab:last-child {
  margin-left: 0 !important;
}

.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item:after {
  content: '\e92d' !important;
  font-family: 'motherFlower' !important;
  font-size: 10px !important;
}

.ant-back-top {
  left: 20px !important;
  bottom: 80px !important;
  right: unset !important;
  height: 50px !important;
  width: 50px !important;
  cursor: pointer;
}

.ant-back-top-content {
  height: 50px !important;
  width: 50px !important;
  border-radius: 500rem !important;
  background-color: #fff !important;
  color: var(--blue) !important;
  border: 1px solid var(--blue) !important;
}

.ant-back-top-content:hover {
  background-color: #fff;
  border: 1px solid var(--blue);
}

.ant-back-top-icon {
  background-color: unset !important;
  position: relative;
  margin: 0 !important;
  width: unset !important;
  height: 45px !important;
}

.ant-back-top-icon::before {
  position: absolute;
  content: '\e93b';
  font-size: 16px;
  font-family: 'motherFlower';
  color: var(--blue) !important;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 992px) {
  .ant-back-top {
    width: 40px !important;
    height: 40px !important;
    right: unset !important;
    left: 10px !important;
    bottom: 65px !important;
  }

  .ant-back-top-content {
    height: 40px !important;
    width: 40px !important;
  }

  .ant-back-top-icon {
    height: 35px !important;
  }

  .ant-back-top-icon::before {
    font-size: 12px;
  }
}

.ant-steps-item-title::after {
  background-color: #fff;
  right: 100% !important;
  left: unset !important;
}

.ant-steps-item-title {
  font-size: 13px !important;
  color: #000 !important;
  font-weight: 600;
}

.ant-steps-item-icon {
  margin-left: 8px;
  background-color: #000;
  border: 1px solid #fff !important;
}

.ant-steps-item-icon > .ant-steps-icon {
  color: #fff !important;
  font-weight: 600;
}

.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: #525252 !important;
  font-weight: 200;
}

.ant-steps-vertical .ant-steps-item-icon {
  float: right !important;
  margin-right: 16px !important;
  margin-left: 0 !important;
}

.ant-steps-item {
  height: 185px;
}

.ant-steps-vertical > .ant-steps-item > .ant-steps-item-tail {
  right: 32px;
  left: unset;
}

.ant-steps-item-wait .ant-steps-item-icon {
  border-color: #fff !important;
}

.ant-steps-item-tail::after {
  background-color: #fff !important;
}

.ant-steps-vertical .ant-steps-item-content {
  min-width: 200px;
  background-color: #fff;
  margin-right: 16px;
  border-radius: 2px;
  display: inline-block !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.41);
}

.ant-steps-item-content::after {
  content: '';
  position: absolute;
  top: 9px;
  right: 60px;
  width: 9px;
  height: 9px;
  display: block;
  background-color: #fff;
  border-style: solid;
  transform: rotate(45deg);
  border-color: transparent;
  box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.28);
}

.ant-layout {
  background-color: #fff !important;
  direction: ltr;
}

.ant-layout-sider {
  transition: all 0.4s !important;
  position: fixed !important;
  background-color: #f9f9f9 !important;
  min-width: 0;
  height: 100vh;
  z-index: 1000;
  border-right: 1px solid #e8e8e8;
  overflow-y: auto;
  overflow-x: hidden;
}

.ant-menu {
  background-color: #f9f9f9 !important;
  border: none !important;
}

.my-drawer {
  -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
  z-index: 1000 !important;
  position: fixed !important;
}

.am-drawer-overlay {
  z-index: 999 !important;
}

.am-drawer.am-drawer-left .am-drawer-sidebar,
.am-drawer.am-drawer-right .am-drawer-sidebar {
  direction: rtl;
  width: 260px !important;
  overflow: hidden;
}

.am-drawer-overlay {
  position: fixed !important;
}

input:-moz-placeholder {
  color: #ccc !important;
}

input::-webkit-input-placeholder {
  color: #ccc !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

.delete_action,
.edit_action {
  background-color: transparent !important;
  color: #777 !important;
  display: block !important;
  padding: 0 !important;
  width: 30px !important;
  border: none !important;
  height: 30px !important;
  line-height: 32px !important;
  text-align: center !important;
  border-radius: 50% !important;
  transition: all ease 0.5s !important;
}

.delete_action:hover,
.edit_action:hover,
.delete_action:focus,
.edit_action:focus {
  background-color: #ddd !important;
  color: #777 !important;
}

.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab:hover {
  color: var(--pink) !important;
}

.ant-tabs-ink-bar {
  background-color: var(--pink) !important;
}

.mobileViewTitle {
  display: block;
  visibility: visible;
  padding: 10px;
  text-align: center;
  background-color: var(--pink);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.mobileViewTitle i {
  font-size: 15px;
  margin-left: 5px;
  vertical-align: middle;
}

@media (min-width: 992px) {
  .mobileViewTitle {
    display: none;
    visibility: hidden;
  }
}

.ant-input {
  font-size: 16px !important;
}

.intl-tel-input.allow-dropdown input {
  font-size: 16px !important;
}

@media (max-width: 768px) {
  .intl-tel-input .country-list {
    max-height: 80vh !important;
  }
}

input.ant-select-search_field,
input[type=password],
input[type=text] {
  font-size: 16px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

:global(#app)::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

:global(#app)::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

:global(#app)::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: unset;
}

@media (max-width: 767px) {
  .ant-notification-bottomRight {
    width: 80% !important;
  }
}
