
@font-face {
  font-family: LightSans;
  src: url('/../fonts/iransansweb_Light.eot') format('eot'), url('/../fonts/iransansweb_Light.woff') format('woff'), url('/../fonts/iransansweb_Light.ttf') format('truetype'), url('/../fonts/iransansweb_Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RegularSans;
  src: url('/../fonts/iransansweb.eot') format('eot'), url('/../fonts/iransansweb.woff') format('woff'), url('/../fonts/iransansweb.ttf') format('truetype'), url('/../fonts/iransansweb.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MediumSans;
  src: url('/../fonts/iransansweb_Medium.eot') format('eot'), url('/../fonts/iransansweb_Medium.woff') format('woff'), url('/../fonts/iransansweb_Medium.ttf') format('truetype'), url('/../fonts/iransansweb_Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: BlackSans;
  src: url('/../fonts/iransansweb_Black.eot') format('eot'), url('/../fonts/iransansweb_Black.woff') format('woff'), url('/../fonts/iransansweb_Black.ttf') format('truetype'), url('/../fonts/iransansweb_Black.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: BoldSans;
  src: url('/../fonts/iransansweb_Bold.eot') format('eot'), url('/../fonts/iransansweb_Bold.woff') format('woff'), url('/../fonts/iransansweb_Bold.ttf') format('truetype'), url('/../fonts/iransansweb_Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


:root {
  /*
 * Typography
 * ======================================================================== */
  --RegularSans: RegularSans;
  --BlackSans: BlackSans;
  --BoldSans: BoldSans;
  --LightSans: LightSans;
  --MediumSans: MediumSans;
  --UltraLightSans: UltraLightSans;
  --black: #000;
  --gray: #f9f9f9;
  --pink: #ff5c77;
  --blue: #1a73e8;
  --green: #0dd169;
}
