@import '../../variables.css';

.cpImage {
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 580px) {
  .cpImage {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .cpImage {
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .cpImage {
    width: 25%;
  }
}

.cpImage img {
  max-width: 100%;
  height: auto;
}

.cpImage .maximize {
  position: absolute;
  font-size: 22px;
  left: 25px;
  top: 10px;
  color: #fff;
  background: #00b45a;
  padding: 10px;
  border-radius: 500rem !important;
  font-weight: 600;
  width: 44px;
  height: 44px;
  border: none;
}

.cpImage :global(.ant-card-body) {
  padding: 0;
}

.cardContent {
  display: flex;
  padding: 10px 15px;
  background: #f0f2f5;
}

.edit,
.delete {
  display: block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
  margin-right: 5px;
  background: #f0f2f5;
  border-radius: 500rem !important;
  transition: all ease 0.5s;
}

.edit {
  font-size: 20px;
  color: #00b45a;
  border: none;
}

.delete {
  font-size: 20px;
  color: #f81d22;
  border: none;
}

.edit:hover,
.delete:hover,
.edit:focus,
.delete:focus {
  color: #595959;
  background-color: #e9e9e9;
}

.displayOrder {
  flex: 1;
  line-height: 32px;
  font-size: 13px;
  font-weight: 600;
}

.modalImg {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.default {
  position: absolute;
  right: 15px;
  top: 0;
  color: #fff;
  width: 0;
  height: 0;
  border-top: 80px solid #00b45a96;
  border-left: 80px solid transparent;
}

.default b {
  position: absolute;
  top: -72px;
  right: 7px;
  font-size: 12px;
}
