:global(.ant-slider-rail) {
  background-color: #d7d7d7;
}

:global(.ant-slider-track) {
  background-color: #8ec3f2;
}

:global(.ant-slider-handle) {
  margin-top: -7px;
  width: 18px;
  height: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
  border: solid 2px var(--blue);
  background-color: var(--blue);
}
