.searchPage {
  margin: 20px auto;
  padding: 0;
  max-width: 1200px;
}

@media (max-width: 768px) {
  .searchPage {
    padding: 0 35px;
  }
}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0;
}

.hide {
  display: none;
}

.cardRow {
  justify-content: space-between;
}

.result {
  margin-top: 12px;
  padding-top: 6px;
}

.dropDownRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -10px;
  margin-left: -10px;
}

.filterSide {
  flex: 1;
  padding-left: 0;
  position: relative;
}

.resultSide {
  flex: 1;
  position: relative;
}

.resultSide :global(.row) {
  margin-right: -10px;
  margin-left: -10px;
}

.dropDowns {
  width: 100%;
  display: block;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 9px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.dropDowns :global(.ant-select-selection-selected-value) {
  padding-right: 15px !important;
}

.dropDowns .order {
  height: 32px;
  display: inline-block;
  line-height: 33px;
  font-size: 12px;
  margin-left: 10px;
  color: #000;
  font-family: var(--BoldSans);
}

.dropDowns > img:hover {
  cursor: pointer;
}

.resultSide :global(.ant-select) {
  width: 130px !important;
  float: left;
}

.resultSide :global(.ant-select-selection) {
  border-color: #e8e8e8;
}

:global(.ant-select-dropdown-menu-item) {
  font-size: 12px !important;
}

.resultSide :global(.ant-select-arrow:before) {
  font-size: 10px;
  color: var(--blue);
}

.resultSide :global(.ant-select-auto-complete.ant-select .ant-select-selection) {
  border: 1px solid #ddd !important;
}

.resultSide :global(.ant-input) {
  border: none !important;
}

.resultSide :global(.ant-select-selection__rendered) {
  display: block;
  margin-left: 5px;
  margin-right: 0;
  position: relative;
  line-height: 30px;
  height: 30px;
  font-size: 12px;
}

.resultSide :global(.ant-tabs-nav) {
  float: left;
}

:global(.fixSide) {
  position: fixed;
  top: 0;
  right: 0;
}

:global(.searchResult) {
  border-top: 1px solid #e8e8e8;
  padding-top: 10px;
  margin-top: 3px;
}

.searchPage :global(.ant-collapse-borderless) {
  background-color: #fff !important;
  border: 1px solid #e8e8e8;
  border-radius: 5px !important;
}

.searchPage .ant-collapse {
  border-radius: 0 !important;
}

:global(.ant-collapse-borderless) > :global(.ant-collapse-item),
:global(.ant-collapse) > :global(.ant-collapse-item) {
  border-bottom: none !important;
}

@media (min-width: 480px) {
  .dropDowns {
    display: flex;
  }
}

@media (min-width: 768px) {
  .resultSide {
    flex: 2;
  }

  .searchPage,
  .cardRow {
    display: flex;
    flex-wrap: wrap;
    min-height: 1000px;
    position: relative;
  }

  .filterSide {
    padding-left: 20px;
  }

  .resultSide :global(.ant-select-selection) {
    display: flex;
  }
}

@media (min-width: 992px) {
  .resultSide {
    flex: 3 !important;
  }
}


.noExistProduct {
  background-color: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  text-align: center;
  padding: 15px;
}

.noExistProduct i {
  font-size: 36px;
  position: relative;
  color: #c6c6c6;
}

.noExistProduct i i {
  position: absolute;
  left: 10px;
  color: #c6c6c6;
  font-size: 11px;
  background-color: #f9f9f9;
  top: 11px;
  font-weight: bolder;
  border-radius: 12px;
}

.noExistProduct div {
  margin-top: 5px;
  color: #c6c6c6;
  font-size: 18px;
}
