.socialMenu {
  flex: 1;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socialMenu li {
  display: inline-block;
  visibility: visible;
}

.socialMenu li:nth-child(3),
.socialMenu li:nth-child(4),
.socialMenu li:nth-child(5),
.socialMenu li:nth-child(6) {
  display: none;
  visibility: hidden;
}

@media (min-width: 768px) {
  .socialMenu li:nth-child(3),
  .socialMenu li:nth-child(4),
  .socialMenu li:nth-child(5),
  .socialMenu li:nth-child(6) {
    display: inline-block;
    visibility: visible;
  }
}

.link {
  color: #fff;
  font-size: 16px;
  line-height: 35px;
  width: 28px;
  display: block;
  height: 28px;
  text-align: center;
}

.link:hover,
.link:focus {
  color: var(--pink);
}

:global(.showHeader) .link {
  color: #fff;
}

@media (max-width: 480px) {
  .socialMenu {
    position: absolute;
    left: 12px;
    top: -71px;
  }
}
