.container {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 1360px; */
    padding: 35px auto;
    margin: 0 auto;
    position: relative;
    margin-bottom: 75px;
}

.sliderContainer {
    position: relative;
    bottom: 0;
}

.slider {
    position: absolute;
    /* top: 0; */
    width: 80%;
    margin: 0 auto;
    height: 300px;
    bottom: -85px;
    margin-right: 10%;
    margin-left: 10%;
    /* background-color: #fff; */
}

.itemSlider {
    /* margin: 5px; */
    background-color: #fff;
    width: 95% !important;
    display: inline-block;
    /* height: 128px; */
    border-radius: 4px;
    /* padding: 15px; */
    display: inline-block;
    text-align: right;
    padding: 18px;
    position: relative;
    top: 0px;
}

.itemSlider img {
    border-radius: 50%;
    width: 83px;
    height: 83px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.itemSlider small {
    position: absolute;
    right: 73px;
    background-color: var(--pink);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    line-height: 0.5;
    top: 31px;
}




@media (max-width: 1024px) {
    .itemSlider {
        padding: 4px;
    }

    .itemSlider img {
        width: 65px;
        height: 65px;
        margin-left: 7px;
    }
    
    .itemSlider label {
        font-size: 12px;
    }

    .itemSlider small {
        right: 54px;
        width: 20px;
        top: 19px;
    }
}

@media (min-width: 768px) {
    :global(.commentSlider .slick-slider .slick-track) {
        position: absolute;
        bottom: 41px;
        background-color: #fff;
        top: unset !important;
    }
    
    :global(.centerSlide) {
        animation: centerSlide 1s;
        animation-fill-mode: forwards;
        top: -60px;
    }
    
    :global(.otherSlide) {
        animation: otherSlide 1s;
        animation-fill-mode: forwards;
        top: 0px;
    }
    
    :global(.slick-list) {
        height: 100%;
    }
    
    :global(.commentSlider .slick-arrow) {
        top: 80%;
    }
    
    @keyframes otherSlide {
        from {top: -60px;}
        to {top: 0px;}
      }
    
    @keyframes centerSlide {
        from {top: 0px;}
        to {top: -60px;}
      }
}

@media (max-width: 480px) {
    .slider {
        position: relative;
    }
}
