.daysHeader {
  display: flex;
}

.daysHeader span {
  flex: 1;
  text-align: center;
}

.emptyCell {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
}

.dayCell {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin: 1px 0;
  line-height: 40px;
  height: 40px;
  direction: ltr;
}

.dayCell:hover {
  margin: 1px 0;
  line-height: 40px;
  height: 40px;
  cursor: pointer;
  color: #0282b8;
}

.dayCell:hover span {
  color: #fff;
  display: inline-block;
  background-color: rgb(0, 151, 167);
  border-radius: 50%;
  height: 38px;
  opacity: 1;
  transform: scale(1);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  width: 38px;
  margin: 0 auto;
  line-height: 38px;
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
  background: #ececec;
  border-radius: 30px;
  padding: 5px 10px;
  width: 35px;
  display: inline-block;
  height: 35px;
  line-height: 27px;
}

.dayCell:hover .disabled {
  background-color: #fff;
  line-height: 30px;
  color: #666;
}

.imageEvent {
  /*position: absolute;*/
  /*margin-top: 17px;*/
  height: 20px;
  width: 20px;
}

.active {
  color: #fff;
  display: block;
  background-color: rgb(0, 151, 167);
  border-radius: 50%;
  height: 38px;
  opacity: 1;
  transform: scale(1);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  width: 38px;
  margin: 0 auto;
  line-height: 38px;
}

@media (max-width: 600px) {
  .active {
    color: #fff;
    display: block;
    background-color: rgb(0, 151, 167);
    border-radius: 50%;
    height: 38px;
    opacity: 1;
    transform: none;
    transition: none;
    width: 38px;
    margin: 0 auto;
    line-height: 38px;
  }
}
