@import '../../variables.css';

.toolbarContainer {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 1000;
}

.toolbarBtns {
  border-radius: 4px;
  background: #fff !important;
  padding: 8px;
  box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.15);
}

.toolbarContainer :global(.ant-btn) {
  display: block;
  margin: 5px;
}

.toolbarContainer :global(.ant-btn.ant-btn-default.ant-btn-icon-only) {
  color: #fff !important;
  background-color: #fa2828;
  border-color: #fa2828;
  padding: 10px;
  width: 45px;
  height: 45px;
  margin: 10px 0 0 0;
  font-size: 22px;
  line-height: 10px;
  box-shadow: 0 2px 17px 1px rgba(0, 0, 0, 0.15);
  float: left;
}

.toolbarBtns :global(.ant-btn.ant-btn-primary.ant-btn-default) {
  color: #3f51b5;
  background-color: #ffe867;
  border-color: #ffe867;
}
