@import '../../variables.css';

.fileInput {
  display: none;
}

.uploadImg {
  display: block;
  position: relative;
  width: 130px;
}

.uploadImg img {
  margin: 7px 0;
}

.btn {
  display: inline-block;
  background: #f0f2f5;
  font-size: 13px;
  width: 23%;
  padding: 0;
}

.fileName {
  width: 70%;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-right: none;
  height: 32px;
  line-height: 30px;
  padding-left: 10px;
  text-align: left;
}

.deleteButton {
  position: absolute;
  top: 10px;
  left: 0;
}

:global(.ant-slider-rail) {
  display: none;
}
