.filterSide {
  background-color: #fff;
  position: relative;
  display: none;
  visibility: hidden;
  direction: rtl;
}

:global(.ant-select-auto-complete) {
  width: 100%;
}

.webFilter :global(.ant-select-auto-complete.ant-select .ant-select-selection__placeholder) {
  margin-left: 0;
  margin-right: 0;
}

:global(.filterOptions) {
  position: fixed;
  overflow-y: scroll;
  height: 90%;
  width: 300px;
  top: 8px;
  direction: ltr;
  padding-top: 0;
}

:global(.filterOptions)::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

:global(.filterOptions)::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

:global(.filterOptions)::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: unset;
}

.location {
  display: flex;
  flex: 1 1;
}

.cityLocation {
  width: 150px !important;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .filterSide {
    display: block;
    visibility: visible;
    padding: 0;
  }
}

.zoneName,
.vendorName,
.deliveryType {
  padding-top: 15px;
}

@media (min-width: 768px) {
  .zoneName,
  .vendorName,
  .deliveryType {
    padding-top: 0;
    margin: 10px 0;
  }
}

.tags {
  display: none;
  visibility: hidden;
}

@media (min-width: 768px) {
  .tags {
    display: block;
    visibility: visible;
  }
}

.webFilter :global(.ant-collapse) > :global(.ant-collapse-item) > :global(.ant-collapse-header i.arrow::before),
.mobileFilter :global(.ant-collapse) > :global(.ant-collapse-item) > :global(.ant-collapse-header i.arrow::before) {
  content: '\e925' !important;
  font-family: 'motherFlower' !important;
  font-size: 10px;
}

.webFilter :global(.ant-collapse) > :global(.ant-collapse-item) > :global(.ant-collapse-header .arrow),
.mobileFilter :global(.ant-collapse) > :global(.ant-collapse-item) > :global(.ant-collapse-header .arrow) {
  right: 15px !important;
  left: unset !important;
}

.webFilter :global(.ant-collapse) > :global(.ant-collapse-item) :global(.ant-collapse-header),
.mobileFilter :global(.ant-collapse) > :global(.ant-collapse-item) :global(.ant-collapse-header) {
  padding: 12px 30px 12px 12px !important;
  color: #000;
  font-size: 13px;
  font-family: var(--MediumSans);
}

.mobileFilter :global(.ant-collapse) > :global(.ant-collapse-item) :global(.ant-collapse-header .ant-badge) {
  font-family: var(--MediumSans) !important;
  color: #000;
  font-size: 13px;
}

.webFilter :global(.ant-collapse) > :global(.ant-collapse-item) > :global(.ant-collapse-header[aria-expanded='true'] .arrow),
.mobileFilter :global(.ant-collapse) > :global(.ant-collapse-item) > :global(.ant-collapse-header[aria-expanded='true'] .arrow) {
  transform: rotate(-90deg);
}

.webTitle,
.tagTitle {
  position: relative;
  text-align: right;
  color: var(--blue);
  padding: 12px 0 8px 15px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 0;
  font-size: 14px;
  font-family: var(--BoldSans);
}

.mobileTitle .filterButton {
  position: fixed;
  bottom: 10px;
  width: auto;
  height: 35px;
  border-radius: 35px;
  color: white;
  background: var(--pink);
  font-size: 14px;
  border: 1px solid #fff;
  left: 50%;
  padding: 0 12px;
  z-index: 100;
  transform: translate(-50%, 0);
}

.filterButton span {
  margin-right: 4px;
}

.filterButton i {
  margin-top: 3px;
}

.closeBtn .filterButton {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  color: var(--pink);
  border: none;
  font-size: 20px;
  line-height: 0;
  z-index: 9999;
  font-weight: 600;
}

@media (min-width: 768px) {
  .mobileTitle {
    position: relative;
    display: none;
    visibility: hidden;
  }
}

.webTitle i,
.tagTitle i {
  margin-left: 7px;
  font-size: 15px;
  vertical-align: middle;
}

.deliveryType,
.category,
.chooseFlower,
.color,
.pricePeriod {
  margin: 10px 0;
}

.category :global(.form-group) {
  margin: 0 !important;
}

.pricePeriod .wrapp {
  margin: 0 5px;
}

.tag {
  padding: 10px 0;
}

.tag :global(.ant-tag) {
  margin-right: 0 !important;
  margin-left: 8px;
  margin-bottom: 8px;
  font-size: 11px !important;
  border-radius: 20px !important;
  color: #555;
  background-color: #efefef;
}

.tag :global(.ant-tag-checkable-checked),
.tag :global(.ant-tag-checkable:active) {
  background-color: var(--blue);
  color: #fff;
}

.filters :global(.fa-caret-left) {
  vertical-align: middle;
  margin-left: 5px;
}

.switchTxt {
  color: var(--blue);
  font-weight: 600;
  margin-right: 7px;
  font-size: 13px;
}

.deliveryType :global(.ant-switch) {
  height: 10px;
  border: none !important;
}

.deliveryType :global(.ant-switch.ant-switch-checked) {
  height: 10px;
  background-color: #8ec3f2;
}

.deliveryType :global(.ant-switch.ant-switch-checked) {
  height: 10px;
  background-color: #8ec3f2;
}

.deliveryType :global(.ant-switch::before),
.deliveryType :global(.ant-switch::after) {
  left: 0;
  top: -5px;
}

.deliveryType :global(.ant-switch.ant-switch-checked::before),
.deliveryType :global(.ant-switch.ant-switch-checked::after) {
  left: 100%;
  top: -5px;
  background-color: var(--blue);
}

.marginTop {
  margin-top: 20px;
}

.webTitle :global(.fa-trash-o),
.tagTitle :global(.fa-trash-o) {
  position: absolute;
  left: 15px;
}

.filterBtnsss {
  position: fixed;
  left: 50%;
  margin-left: -37.5%;
  z-index: 100;
  width: 60px;
  height: 60px;
  color: white;
  background: var(--pink);
  font-size: 30px;
  line-height: 0;
  border: 2px solid #fff;
}

.applySearch :global(.ant-btn-primary) {
  width: 105px;
}

.applySearch :global(.ant-btn-primary) i {
  vertical-align: middle;
  margin-left: 5px;
}

.filterBtn {
  background: transparent;
  border: beige;
  color: var(--blue);
  padding: 0;
  line-height: 0;
  margin-right: 7px;
  font-size: 16px;
}

.filterBtn:hover,
.filterBtn:focus {
  background-color: transparent;
  color: var(--blue);
  border: none;
}

.label {
  display: flex;
  margin: 0 8px;
}

.from,
.to {
  width: 20px;
}

.label .price {
  flex: 1;
  text-align: left;
  font-size: 12px;
  color: #000;
}

.to {
  margin-right: 10px;
}

.switch {
  margin-bottom: 5px;
}

.applySearch {
  display: flex;
  padding: 10px;
}

.applyBtn,
.deleteBtn {
  flex: 1;
}

.applyBtn {
  margin-left: 3px;
}

.deleteBtn {
  margin-right: 3px;
}

.categoryButton {
  margin-top: 5px;
}

:global(.hideMobileFilter) {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  transform: translateY(100%);
  transition: all 0.5s, all 0.5s;
  z-index: 1000;
  padding: 15px;
}

:global(.showMobileFilter) {
  transform: translateY(0);
  background-color: #fff;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}


:global(.showMobileFilter) .applySearch {
  position: absolute;

  /*bottom: 15px;*/
  left: 37px;
  z-index: 9999;
}

:global(.scroll-collapse) {
  height: 85vh;
  overflow: scroll;
}

:global(.enableSelect) :global(.ant-select-selection--multiple) {
  background-color: #fff !important;
}

:global(.ant-select-tree-dropdown) {
  max-height: 250px !important;
}


:global(.showMobileFilter) :global(.ant-tabs-bar) {
  margin: 0;
}

:global(.showMobileFilter) h4 {
  font-size: 14px;
}

:global(.showMobileFilter) h4 i {
  vertical-align: middle;
  font-size: 16px;
  margin-left: 5px;
}

.mobileFilter :global(.ant-collapse) {
  margin-top: 10px;
}

.mobileFilter :global(.ant-collapse) > :global(.ant-collapse-item) {
  border-bottom: 1px solid #d9d9d9 !important;
  background-color: var(--gray) !important;
}

.mobileFilter :global(.ant-collapse-header) {
  color: var(--blue);
}

.filterSide :global(.ant-radio-wrapper),
:global(.showMobileFilter) :global(.ant-radio-wrapper) {
  margin: 5px 0;
  display: block;
}

.fix {
  position: fixed;
  top: 0;
  right: 0;
}

.footerModal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #eee;
}

:global(.hideFilterIcon) {
  visibility: hidden;
}

:global(.showFilterIcon) {
  visibility: visible;
}
