:global { @import '/css/mainFlag.css'; }

.formWrapper {
  position: relative;
  text-align: center;
}

.errorMessage {
  color: #cf1322 !important;
  font-size: 12px !important;
}

.shippingForm {
  position: relative;
  direction: rtl;
  width: 100%;
  align-self: center;
  background: transparent;
  padding: 0;
  text-align: center;
}

:global(.modalButton) {
  text-align: left;
}

:global(.modalButton) button:first-child {
  margin-left: 5px;
  background-color: #0e80d2;
}

.time {
  font-size: 16px !important;
  font-weight: bold;
}

@media (max-width: 480px) {
  :global(.delete_action),
  :global(.edit_action) {
    width: 100% !important;
  }

  :global(.ant-table-tbody) > tr > td {
    display: table-cell;
    border-bottom: 1px solid #e8e8e8;
  }
}

@media (min-width: 768px) {
  .shippingForm {
    background: rgba(255, 255, 255, 0.48);
    padding: 15px;
  }
}

@media (min-width: 992px) {
  .shippingForm {
    padding: 20px;
  }
}

.title {
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding-bottom: 2px;
  color: #000;
  font-family: var(--MediumSans);
}

.formWrapper :global(.mf-pin) {
  display: none;
  visibility: hidden;
  color: #fff;
  background-color: var(--pink);
  border: none;
  position: absolute;
  left: 0;
  top: -45px;
  width: 50px;
  font-size: 20px;
  border-radius: 50%;
  height: 50px;
  text-align: center;
  padding: 14px;
}

@media (min-width: 768px) {
  .formWrapper :global(.mf-pin) {
    display: block;
    visibility: visible;
  }
}

.addNew {
  box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
  background: #fff;
  margin: 7px 0;
  padding: 15px;
  text-align: right;
  border-radius: 2px;
}

.addNew b {
  font-size: 13px;
  color: #949494;
  font-weight: 200;
}

.addNew p {
  margin-bottom: 5px;
  color: #000;
  font-size: 13px;
  font-weight: 600;
}

:global(.confirmationBtn) {
  height: 32px;
  margin-top: 7px;
  font-size: 13px;
  box-shadow: 0 2px 4px 0 rgba(45, 45, 45, 0.42);
}

@media (min-width: 768px) {
  :global(.confirmationBtn) {
    width: 370px;
    font-size: 14px;
  }
}

.addNewBtn {
  position: absolute;
  top: 57px;
  left: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 12px;
  height: 20px;
  color: var(--green);
  border-radius: 0;
  border-bottom: 1px solid var(--green);
}

@media (min-width: 600px) {
  .addNewBtn {
    position: unset;
    float: left;
    font-size: 13px;
  }
}

.addNewBtn i {
  font-size: 8px;
  vertical-align: baseline;
  margin-left: 5px;
}

.formWrapper :global(.ant-table-footer) {
  background: #fff;
  border-radius: 0 0 2px 2px;
  position: relative;
  border-top: 1px solid #e7e7e7;
}

.formWrapper :global(.ant-table-thead) {
  display: none;
  visibility: hidden;
}

.formWrapper :global(.ant-table-tbody td:first-child) {
  text-align: right !important;
}

.city {
  text-align: right;
  margin-bottom: 0;
}

.city :global(.ant-select-selection) {
  border-radius: 0;
  font-size: 13px;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.addNewAddress {
  display: block;
  margin: 0 -10px;
}

@media (min-width: 768px) {
  .addNewAddress {
    display: flex;
  }
}

.city :global(.ant-select) {
  margin-bottom: 20px;
}

.city :global(.ant-select-selection-selected-value) {
  padding-right: 0 !important;
}

.city :global(.ant-select-selection__rendered) {
  margin: 0 !important;
  font-size: 12px !important;
}

:global(.ant-select-dropdown-menu-item) {
  font-size: 12px !important;
}

.addNewAddress :global(.form-radio),
.addNewAddress :global(.form-group) {
  position: relative;
  margin: 0 0 20px;
}

.modalTitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 13px;
}

.mapTitle {
  font-size: 12px;
  font-weight: 600;
}

.location {
  display: block;
  text-align: center;
}

@media (min-width: 568px) {
  .location {
    display: flex;
  }
}

.addressBox {
  flex: unset;
  width: 100%;
  align-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.addressBox:first-child {
  width: 100%;
  flex: unset;
}

.addressBox:last-child {
  width: 100%;
  flex: unset;
}

@media (min-width: 568px) {
  .addressBox {
    flex: 1;
    width: auto;
    margin-bottom: 20px;
  }

  .addressBox:first-child {
    width: 140px;
  }

  .addressBox:last-child {
    width: 60px;
  }
}

.workingTime {
  display: inline-block;
  margin-left: 20px;
  text-align: left;
}

.workingTime b {
  color: #000;
  font-family: var(--LightSans);
}

.workingTime i {
  margin-left: 10px;
  vertical-align: middle;
  color: var(--pink);
}

.workingTime p {
  margin-bottom: 0;
  font-family: sans-serif;
  font-size: 12px;
}

.isOpen i {
  margin-left: 10px;
  vertical-align: middle;
  color: rgb(118, 201, 21);
  border-radius: 500rem;
  border: none;
  box-shadow: 0 0 10px 2px rgb(118, 201, 21);
}

.isClose i {
  margin-left: 10px;
  vertical-align: middle;
  color: rgb(106, 106, 106);
  border-radius: 500rem;
  border: none;
  box-shadow: 0 0 10px 2px rgb(106, 106, 106);
}

.isClose b,
.isOpen b {
  color: #000;
  font-family: var(--LightSans);
}

.formWrapper :global(.ant-card-bordered) {
  border: none;
  margin-top: 7px;
}

.formWrapper :global(.ant-table),
.formWrapper :global(.ant-table) table {
  border-radius: 2px;
}

.formWrapper :global(.ant-card-head-title) {
  font-size: 13px;
  padding: 15px 0;
  color: #000;
  text-align: right;
}
