:global { @import '/css/mainFlag.css'; }

.container {
  position: relative;
  padding-bottom: 25px;
}

.appDownload {
  position: relative;
  text-align: center;
  margin: 10px auto;
  padding: 15px 0 72px 0;
  /* max-width: 1360px; */
  background-color: #eee;
  /* background-image: url("/images/home/background.svg"); */
  overflow: hidden;
}

.appDownload > h2 {
  margin-top: 13px;
}

.background {
  width: 970px;
    margin-right: 120px;
}

.downloadBox {
  position: absolute;
    top: 27%;
    width: 151px;
    right: 30%;
}

.downloadBox img {
  margin-bottom: 10px;
  width: 170px;
  cursor: pointer;
}

.title {
  display: inline-block;
  margin: 25px auto;
  padding: 0 5px 6px 6px;
  border-bottom: 1.5px solid var(--pink);
  color: #000;
  font-size: 16px;
  font-weight: bold !important;
}

:global(.intl-tel-input) {
  margin: 15px auto;
  background-color: #fff;
  border-radius: 25px;
  width: 315px;
  height: 50px;
  border-bottom: unset;
}

.phoneBox {
  text-align: center;
}

.phoneBtn {
  width: 315px;
  border-radius: 25px;
  height: 50px;
  background-color: var(--green);
  margin-bottom: 50px;
  color: #fff;
    font-size: 16px
}

@media(max-width: 978px) {
  .downloadBox {
    position: absolute;
    top: 27%;
    width: 151px;
    right: 14%;
  }

  .appDownload {
    padding: unset;
  }

  .background {
    width: 100%;
    margin: unset;
  }
}

@media(max-width: 768px) {
  .downloadBox {
    top: 25%;
    right: 11%;
  }

  .downloadBox img {
    width: 130px;
  }
}

@media(max-width: 520px) {
  .downloadBox {
    top: 27%;
  }

  .downloadBox img {
    width: 103px;
  }
}

@media(max-width: 480px) {
  .downloadBox {
    top: 25%;
    right: 0%;
  }

  .downloadBox img {
    width: 110px;
  }
}