.container {
  max-width: 1200px;
  margin: 70px auto;
}

.container h2 {
  font-family: var(--MediumSans);
  display: inline-block;
  border-bottom: 1px solid #000;
}

.content {
  display: block;
}

.contactInfo {
  width: 100%;
  margin-left: 0;
}

.infoList {
  margin-bottom: 0;
}

.contactInfo .infoList li {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  padding: 8px 0;
  align-items: center;
}

.contactInfo .infoList li:first-child,
.contactInfo .infoList li:nth-child(5) {
  display: block;
}

.contactInfo .infoList li:first-child p {
  display: initial;
}

.contactInfo .infoList li:last-child {
  border-bottom: none;
}

.contactInfo .infoList li i {
  margin-left: 10px;
  font-size: 18px;
  color: #000;
  vertical-align: middle;
}

.contactInfo .infoList label {
  font-family: var(--MediumSans);
  color: #000;
  margin-left: 5px;
}

.contactInfo .infoList p {
  margin-bottom: 0;
  font-size: 13px;
  font-family: var(--RegularSans);
}

.socials {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.socials a {
  width: 22px;
  height: 22px;
  text-align: center;
  background: transparent;
  border-radius: 50%;
  margin-right: 2px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.socials a:hover {
  background-color: #ddd;
}

.socials a i {
  margin: 0 !important;
  font-size: 13px !important;
}

.map {
  margin-right: 0;
  background: url('https://cdn.motherflower.com:7090/SiteAsset/address.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 266px;
  margin-top: 10px;
}

.rotate i {
  transform: rotate(-90deg);
}

.rotateShare i {
  transform: rotate(180deg);
}

@media (min-width: 380px) {
  .contactInfo .infoList li:nth-child(5) {
    display: flex;
  }
}

@media (min-width: 768px) {
  .content {
    display: flex;
  }

  .map {
    height: auto;
    margin-right: 10px;
    margin-top: 0;
  }

  .contactInfo {
    margin-left: 10px;
  }
}
