.cover {
  direction: rtl;
  position: relative;
  background: url(https://cdn.motherflower.com:7090/SiteAsset/headerCover.jpg) no-repeat 0 65%;
  background-size: cover;
  height: 160px;
  box-shadow: inset 0 -25px 20px 0 #fff;
}

.cover.back {
  background: none;
  height: auto;
  width: 100%;
  box-shadow: none;
}

.wrapper {
  padding: 8px 15px;
  display: flex;
}

.logoWrapper {
  position: relative;
  width: 100%;
  text-align: center;
  top: 21px;
}

.logoWrapper .lineRight,
.logoWrapper .lineLeft {
  position: relative;
  display: inline-block;
  height: 1px;
  background: #fff;
  border-radius: 20px;
  width: 15%;
}

@media (min-width: 480px) {
  .logoWrapper .lineRight,
  .logoWrapper .lineLeft {
    width: 130px;
  }
}

@media (min-width: 769px) {
  .logoWrapper .lineRight,
  .logoWrapper .lineLeft {
    width: 130px;
  }
}

@media (min-width: 992px) {
  .logoWrapper .lineRight,
  .logoWrapper .lineLeft {
    width: 180px;
  }
}

.logoWrapper .lineRight {
  margin-left: 35px;
  margin-right: 0;
}

.logoWrapper .lineLeft {
  margin-left: 0;
  margin-right: 35px;
}

.mainLogo {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  line-height: 120px;
}

.mainLogo::before,
.mainLogo::after {
  content: '';
  position: absolute;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 500rem;
}

.mainLogo::before {
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
}

.mainLogo::after {
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
}

.logoColored {
  width: 110px;
  height: auto;
  overflow: hidden;
}

.logoWhite {
  display: none;
  visibility: hidden;
}

:global(.showHeader) .logoColored {
  display: none;
  visibility: hidden;
}

:global(.showHeader) .logoWhite {
  display: inline-block;
  visibility: visible;
  width: 115px;
  height: auto;
  overflow: hidden;
}

:global(.showHeader) .lineRight,
:global(.showHeader) .lineLeft {
  display: none;
  visibility: hidden;
}

:global(.showHeader) .mainLogo::before,
:global(.showHeader) .mainLogo::after {
  content: none;
}

:global(.showHeader) .mainLogo {
  position: absolute;
  width: auto;
  height: auto;
  line-height: unset;
  margin-top: -9px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 480px) {
  .mainLogo {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    line-height: 115px;
  }

  .logoColored {
    width: 115px;
    height: auto;
  }
}
