.searchBox {
  background-image: url(https://cdn.motherflower.com:7090/SiteAsset/home/mob.jpg);
  width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
  /* font-weight: bold; */
  width: 80%;
  display: inline-block;
  color: #fff;
  line-height: 1.7;
  font-size: 21px;
  margin: 22px 0;
}

.searchBox > div:first {
  width: 100%;
  height: 81px;
  background-color: #000;
  opacity: 0.5;
}

.dropDownSearch,
.categoryBox {
  display: flex;
  width: 90%;
  /* background-color: #fff; */
  margin: 0 auto;
  border-radius: 15px;
}

:global(.cityBox) {
  width: 130px !important;
}

:global(.cityBox .ant-select-selection) {
  border-radius: 0px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-width: 0px;
  border-left: 1px solid #eee;
}

.areaInput {
  width: 100%;
  height: 50px;
}

.areaInput :global(.ant-input) {
  border-width: 0px !important;
  height: 50px !important;
}

.categoryBox {
  margin-top: 22px;
  height: 50px;
  line-height: 2;
}

.categoryBox > button {
  width: 25%;
  height: 100%;
  border: unset;
  border-radius: unset;
  border-left: 1px solid #eee;
}

.categoryBox > button:hover {
  border: unset;
  border-color: #eee;
  color: #000;
}

.categoryBox > button:last-child {
  border-left: unset;
}

.activeCategory {
  background-color: var(--pink) !important;
  color: #fff !important;
  padding: 0;
  border-radius: 0;;
}

.categoryBox > button:first-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.categoryBox > button:last-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.searchBottom {
  background-color: var(--pink);
  border-radius: 25px;
  width: 90%;
  margin: 0 auto;
  margin-top: 22px;
  height: 50px;
  line-height: 2;
  margin-bottom: unset;
  color: #fff;
  border: unset;
}

.searchBottom:hover {
  color: #fff;
  background-color: var(--pink);
}

.searchBoxContainer {
  background-color: rgb(0,0,0,0.5);
  padding: 14px 0;
}

.autoLocation {
  margin-top: 16px;
}

.autoLocation button{
  border-radius: 50%;
    color: var(--pink);
    font-size: 17px;
    font-weight: bolder;
    line-height: 3.2;
    height: 31px;
    height: 50px;
    width: 50px;
}

.autoLocation div {
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
}

.downloadApp {
  margin-top: 10px;
  position: relative;
  display: block;
}

.downloadApp img {
  margin-right: 2px;
  margin-left: 2px;
  cursor: pointer;
  height: 50px;
  width: 114px;
}

.dropDownSearch :global(.ant-select-selection-selected-value) {
  height: 50px;
  line-height: 3.5;
}

.dropDownSearch :global(.ant-select-selection--single) {
  height: 50px;
}

.areaInput :global(.ant-select-selection--single) {

  height: 100% !important;
  border-radius: 0px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

@media (min-width: 481px) {
  .searchBox {
    background-image: url(https://cdn.motherflower.com:7090/SiteAsset/home/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  :global(.cityBox) {
    width: 33% !important;
  }

  .searchBottom {
    width: 200px;
  }
}


@media (min-width: 1025px) {
  .searchBox {
    background-image: url(https://cdn.motherflower.com:7090/SiteAsset/home/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .downloadApp {
    right: 8px;
  }

  .autoLocation div {
    color: var(--pink);
  }
}

@media (min-width: 769px) {
  .searchBoxContainer {
    width: 50%;
    margin: 10px auto;
    border-radius: 5px;
  }

  .searchBox {
    padding-top: 45px;
  }

  .title {
    margin-top: 0px;
    font-size: 21px;
  }

  .downloadAndSearchBox {
    display: flex
  }

  .downloadApp {
    position: absolute;
    right: 6%;
    display: grid;
    top: 271px;
  }

  .downloadApp img {
    margin-bottom: 21px;
  }

  .searchBottom {
    margin-bottom: 17px;
  }

}

@media (min-width: 998px) {
  .downloadApp {
    position: absolute;
    right: 9%;
    display: grid;
    top: 214px;
  }
  
  .downloadApp img{
    width: unset;
    height: 50px;
  }
}

@media (min-width: 1201px) {
  .downloadApp img {
    width: unset;
    height: 50px;
  }
}