.tabSection {
  margin: 35px auto 0 auto;
  padding: 0 15px;
  max-width: 1360px;
}

.tabRow {
  padding: 15px;
}

.products {
  min-height: 370px;
}

.products :global(.slick-next),
.products :global(.slick-prev) {
  width: 30px;
  height: 30px;
  top: unset;
  bottom: -40px;
  border: none !important;
  color: #000 !important;
  transition: all 0.5s;
}

.products :global(.slick-prev) {
  left: 15px;
}

.products :global(.slick-next) {
  right: 15px;
}

.products :global(.slick-next:hover),
.products :global(.slick-prev:hover),
.products :global(.slick-next:focus),
.products :global(.slick-prev:focus) {
  background-color: #ebebeb;
  color: #000;
}

.products :global(.slick-next:hover::before),
.products :global(.slick-prev:hover::before),
.products :global(.slick-next:focus::before),
.products :global(.slick-prev:focus::before),
[dir=rtl] .slick-prev::before {
  color: #000 !important;
}

.tabSection :global(.ant-tabs-nav .ant-tabs-tab-active),
.tabSection :global(.ant-tabs-nav .ant-tabs-tab:hover) {
  color: #000 !important;
  font-family: var(--BoldSans);
}

.tabSection :global(.ant-tabs-ink-bar) {
  background-color: var(--pink) !important;
}

.contentLoader {
  margin-right: -5%;
}

:global(.ant-tabs-nav-scroll) {
  text-align: center;
}

.tabSection .tabRow :global(.ant-tabs-bar) {
  margin-bottom: 38px;
  border-bottom: unset;
}

@media (min-width: 481px) {
  .tabSection {
    padding: 0 15px;
  }
}

@media (min-width: 76ppx) {
  .tabSection {
    padding: 0 35px;
  }

  .tabRow {
    padding: 0;
  }
}
