:global { @import '/css/mainFlag.css'; }

.addressList {
  width: 100%;
  padding: 0;
}

@media (min-width: 992px) {
  .addressList {
    padding: 30px 25px;
  }
}

.wrapper {
  border: none;
}

.tableHeader,
.tableData {
  display: block;
  margin: 0;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
}

.tableHeader {
  background: var(--gray);
}

.tableData {
  border-top: none;
}

.tableHeader li,
.tableData li {
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
  flex: 1;
}

.tableHeader li:nth-child(3),
.tableData li:last-child {
  border-bottom: none;
}

.tableHeader p,
.tableData p {
  line-height: 32px;
  margin: 0;
  font-size: 12px;
  color: #000;
  white-space: nowrap;
}

.tableHeader li:nth-child(4),
.tableData li:nth-child(4),
.tableHeader li:last-child,
.tableData li:last-child {
  flex: unset;
  width: 100%;
}

.tableHeader li:nth-child(4),
.tableHeader li:last-child {
  display: none;
  visibility: hidden;
}

.tableData li :global(.ant-btn) {
  margin: 0 auto;
  padding: 0 !important;
  width: 32px !important;
  border: none !important;
  height: 32px !important;
  border-radius: 50% !important;
  line-height: 35px !important;
}

.tableData li :global(.ant-btn:hover),
.tableData li :global(.ant-btn:focus) {
  background-color: #ccc;
  color: #555;
}

.errorMessage {
  color: #cf1322 !important;
  font-size: 12px !important;
  text-align: right;
}

@media (min-width: 768px) {
  .tableHeader,
  .tableData {
    display: flex;
  }

  .tableHeader li,
  .tableData li {
    border-bottom: none;
  }

  .tableHeader li:nth-child(4),
  .tableHeader li:last-child {
    display: block;
    visibility: visible;
  }

  .tableHeader li:nth-child(4),
  .tableHeader li:last-child,
  .tableData li:nth-child(4),
  .tableData li:last-child {
    width: 50px;
  }
}

@media (min-width: 992px) {
  .tableHeader {
    border: 1px solid #e8e8e8;
  }

  .tableData {
    border: 1px solid #e8e8e8;
    border-top: none;
  }

  .tableHeader li,
  .tableData li {
    padding: 10px;
    border: none;
  }
}

.title {
  padding: 15px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.addressList :global(.ant-table) {
  border-radius: 0 !important;
}

.addressList :global(.ant-table table th),
.addressList :global(.ant-table table td) {
  text-align: right !important;
}

.addressList :global(.ant-table-thead) > tr > th,
.addressList :global(.ant-table-tbody) > tr > td {
  padding: 14px 16px !important;
  font-size: 13px;
}

.addressList :global(.ant-table-thead) > tr > th {
  background: #fff;
  color: #000 !important;
}

.addressList .addNewAddress {
  visibility: hidden;
  height: 0;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  transition: all linear 0.3s;
}

.addressList :global(.showAddNewAddress) {
  display: block;
  height: auto;
  visibility: visible;
  overflow: hidden;
  padding: 15px 5px;
  margin: 15px;
  transition: all linear 0.3s;
}

.addressList :global(.hideAddNewAddress) {
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all linear 0.2s;
}

.addressList :global(.addButton) {
  text-align: left;
  margin: 0 15px;
  height: 52px;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.addressList :global(.hide-button) {
  text-align: left;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

@media (min-width: 768px) {
  :global(.showAddNewAddress) {
    display: flex !important;
    height: 350px !important;
  }
}

@media (min-width: 992px) {
  :global(.showAddNewAddress) {
    margin: 15px 0 !important;
  }

  :global(.addButton) {
    margin: 0 !important;
  }
}

.mapTitle,
.modalTitle {
  font-family: var(--MediumSans);
}

.city {
  text-align: right;
  margin-bottom: 0;
}

.city :global(.ant-select-selection) {
  border-radius: 0;
  font-size: 13px;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.city :global(.ant-select) {
  margin-bottom: 20px;
}

.city :global(.ant-select-selection-selected-value) {
  padding-right: 0 !important;
}

.city :global(.ant-select-selection__rendered) {
  margin: 0 !important;
  font-size: 12px !important;
}

.flagBox {
  direction: ltr;
  margin: 0 0 20px;
}

.flagBox .label {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #000;
}

.addBtn {
  font-size: 12px;
  color: #fff;
  background: var(--green);
  border: none;
  line-height: 36px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  margin-top: 5px;
}

:global(.hiddenBoxBtns) {
  margin: 22px 0;
}

:global(.hiddenBoxBtns) .save,
:global(.hiddenBoxBtns) .cancel {
  margin-right: 7px;
  border-radius: 2px;
  font-size: 12px;
  border: none;
}

:global(.hiddenBoxBtns) .save {
  background: var(--green);
  color: #fff !important;
}

:global(.hiddenBoxBtns) .cancel {
  background: #ededed;
  color: #666 !important;
}


.mobileView {
  display: flex;
  margin-bottom: 15px;
}

.mobileView ul {
  flex: 1 1;
}

.mobileView ul:first-child {
  background: var(--gray);
  border-left: none;
  margin: 0;
}

.mobileView ul:first-child li {
  flex: 1 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #e8e8e8;
}

.mobileView ul:last-child {
  /*border: 1px solid #e8e8e8;*/
  margin: 0;
}

.mobileView ul:last-child li {
  flex: 1 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #e8e8e8;
}

:global(.mobileViewTitle) {
  margin-bottom: 15px;
}

.editButton {
  border: unset;
}

.mobileView ul:first-child li:last-child {
  background-color: #fff;
  height: 44px;
  border-left: unset;
  text-align: left;
}

.mobileView ul:last-child li:last-child {
  background-color: #fff;
  height: 44px;
  border-right: unset;
  padding-right: 20px;
}

@media (max-width: 767px) {
  :global(.contentProfile) {
    border: unset !important;
  }

  .mobileViewForm > div {
    margin-bottom: 11px;
  }

  :global(.showAddNewAddress) {
    margin: 15px 0 !important;
  }
}
