.chatBtn {
  position: fixed;
  bottom: -60px;
  right: 10px;
  z-index: 100;
  width: 40px;
  height: 40px;
  color: white;
  background: var(--blue);
  font-size: 16px;
  line-height: 0;
  border: none;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  transition: 0.6s all;
}

:global(.showFloatingBtn) {
  bottom: 20px !important;
}

:global(.shakeChatBtn) {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d( 0, -3px, 0);
  }

  20%, 80% {
    transform: translate3d(0, 3px,  0);
  }

  30%, 50%, 70% {
    transform: translate3d( 0, -6px, 0);
  }

  40%, 60% {
    transform: translate3d( 0, 6px, 0);
  }
}

.chatBtn:hover,
.chatBtn:focus {
  background: var(--blue);
  border: none;
}

.chatBtn img {
  height: 16px;
}

@media (min-width: 992px) {
  .chatBtn {
    position: fixed;
    bottom: -50px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 26px;
  }

  .chatBtn img {
    height: 24px;
  }
}

@media (max-width: 768px) {
  :global(.showFloatingBtn) {
    bottom: 10px !important;
  }
}
