.bankAccount {
  width: 100%;
  margin: 0;
  padding: 15px;
}

@media (min-width: 768px) {
  .bankAccount {
    width: 70%;
    margin: 100px auto;
    padding: 0;
  }
}

.wrapper {
  padding: 0;
}

.wrapper :global(.ant-table-wrapper) {
  border: none;
}

@media (min-width: 992px) {
  .wrapper {
    padding: 30px 25px;
  }

  .wrapper :global(.ant-table-wrapper) {
    border: 1px solid #e8e8e8;
  }
}

.tableHeader,
.tableData {
  display: block;
  margin: 0;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
}

.tableHeader {
  background: #f7f7f7;
}

.tableData {
  border-top: none;
}

.tableHeader li,
.tableData li {
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
  flex: 1;
}

.tableHeader li:nth-child(3),
.tableData li:last-child {
  border-bottom: none;
}

.tableHeader p,
.tableData p {
  line-height: 32px;
  margin: 0;
  font-size: 12px;
  color: #000;
  white-space: nowrap;
}

.tableHeader li:nth-child(4),
.tableData li:nth-child(4),
.tableHeader li:last-child,
.tableData li:last-child {
  flex: unset;
  width: 100%;
}

.tableHeader li:nth-child(4),
.tableHeader li:last-child {
  display: none;
  visibility: hidden;
}

.tableData li :global(.ant-btn) {
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  line-height: 35px;
}

.tableData li :global(.ant-btn:hover),
.tableData li :global(.ant-btn:focus) {
  background-color: #ccc;
  color: #555;
}

@media (min-width: 768px) {
  .tableHeader,
  .tableData {
    display: flex;
  }

  .tableHeader li:nth-child(4),
  .tableHeader li:last-child {
    display: block;
    visibility: visible;
  }

  .tableHeader li:nth-child(4),
  .tableHeader li:last-child,
  .tableData li:nth-child(4),
  .tableData li:last-child {
    width: 50px;
  }

  .tableHeader li,
  .tableData li {
    border-bottom: none;
  }
}

@media (min-width: 992px) {
  .tableHeader {
    border: 1px solid #e8e8e8;
  }

  .tableData {
    border: 1px solid #e8e8e8;
    border-top: none;
  }

  .tableHeader li,
  .tableData li {
    padding: 10px;
    border: none;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.cardNumber {
  display: block;
  direction: ltr;
}

.cardNumber :global(.mf-minus) {
  display: none;
  visibility: hidden;
}

.inputs {
  display: flex;
  direction: ltr;
}

@media (min-width: 480px) {
  .inputs,
  .cardNumber {
    display: flex;
    direction: ltr;
  }

  .cardNumber :global(.mf-minus) {
    display: block;
    visibility: visible;
  }
}

.cardNumber :global(.form-radio),
.cardNumber :global(.form-group) {
  margin: 0 3px 15px;
}

.cardNumber :global(.form-group) input,
.cardNumber :global(.form-group) textarea {
  text-align: center;
}

.cardNumber :global(.mf-minus) {
  font-size: 10px;
  line-height: 35px;
  font-weight: 600;
  color: #000;
}

.bankAccount :global(.ant-select-selection) {
  border: none;
  font-size: 13px;
  border-radius: 0;
  padding-right: 0;
  border-bottom: 1px solid #d9d9d9;
}

.bankAccount :global(.ant-select) {
  margin-bottom: 15px;
}

.bankAccount :global(.ant-select-selection-selected-value) {
  padding-right: 0 !important;
}

.bankAccount :global(.ant-select-selection__rendered) {
  margin: 0 !important;
  font-size: 12px !important;
}

:global(.ant-select-dropdown-menu-item) {
  font-size: 12px !important;
}

.label {
  color: #000;
  font-weight: 600;
  font-size: 13px;
}

.label b {
  color: #aaa;
  font-size: 12px;
  font-weight: 200;
}

.saveBtn {
  background-color: var(--green);
  color: #fff;
  border-radius: 2px;
  border: none;
}

.shebaNumber {
  display: flex;
}

.shebaNumber :global(.form-group) {
  flex: 1;
}

.shebaNumber :global(.form-group) input {
  text-align: left !important;
}

.ir {
  height: 32px;
  border-bottom: 1px solid #e8e8e8;
  padding-right: 15px;
  color: #000;
  font-size: 18px;
  margin-top: 7px;
}

.bankId {
  margin-top: 6px;
}

.errorMessage {
  color: #cf1322 !important;
}

.addBtn {
  font-size: 12px;
  color: #fff;
  background: var(--green);
  border: none;
  line-height: 36px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  margin-top: 5px;
}

.wrapper .bankAccount {
  visibility: hidden;
  height: 0;
  margin: 15px auto;
  overflow: hidden;
  transition: all linear 0.3s;
}

.wrapper :global(.showBankAccount) {
  display: block;
  height: 750px;
  visibility: visible;
  overflow: hidden;
  padding: 15px 5px;
  margin: 15px auto;
  transition: all linear 0.3s;
  -webkit-box-shadow: 4px 8px 32px 4px rgba(148, 148, 148, 0.22);
  -moz-box-shadow: 4px 8px 32px 4px rgba(148, 148, 148, 0.22);
  box-shadow: 4px 8px 32px 4px rgba(148, 148, 148, 0.22);
}

.wrapper :global(.hideBankAccount) {
  height: 0;
  margin: 15px auto;
  visibility: hidden;
  overflow: hidden;
  transition: all linear 0.2s;
}

.wrapper :global(.addButton) {
  text-align: left;
  margin: 0 15px;
  height: 52px;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.wrapper :global(.hide-button) {
  text-align: left;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

@media (min-width: 768px) {
  :global(.showBankAccount) {
    height: 270px !important;
  }
}

@media (min-width: 992px) {
  :global(.showBankAccount) {
    margin: 15px auto !important;
  }

  :global(.addButton) {
    margin: 0 !important;
  }
}

:global(.hiddenBoxBtns) {
  margin: 15px 0;
}

:global(.hiddenBoxBtns) .save,
:global(.hiddenBoxBtns) .cancel {
  margin-right: 7px;
  border-radius: 2px;
  font-size: 12px;
  border: none;
  height: 25px;
}

:global(.hiddenBoxBtns) .save {
  background: var(--green);
  color: #fff !important;
}

:global(.hiddenBoxBtns) .cancel {
  background: #ededed;
  color: #666 !important;
}


.mobileView {
  display: flex;
  margin-bottom: 15px;
}

.mobileView ul {
  flex: 1 1;
}

.mobileView ul:first-child {
  background: var(--gray);
  border-left: none;
  margin: 0;
}

.mobileView ul:first-child li {
  flex: 1 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #e8e8e8;
}

.mobileView ul:last-child {
  /*border: 1px solid #e8e8e8;*/
  margin: 0;
}

.mobileView ul:last-child li {
  flex: 1 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #e8e8e8;
}

:global(.mobileViewTitle) {
  margin-bottom: 15px;
}

.editButton {
  border: unset;
}

.mobileView ul:first-child li:last-child {
  background-color: #fff;
  height: 44px;
  border-left: unset;
  text-align: left;
}

.mobileView ul:last-child li:last-child {
  background-color: #fff;
  height: 44px;
  border-right: unset;
  padding-right: 20px;
}

@media (max-width: 767px) {
  :global(.contentProfile) {
    border: unset !important;
  }

  .mobileViewForm > div {
    margin-bottom: 11px;
  }

  :global(.showBankAccount) {
    height: auto !important;
  }

  .emptyColumn {
    height: 43px;
  }
}
