.checkOutPage {
  margin: 30px auto;
  padding: 0 15px;
  max-width: 1200px;
}

@media (min-width: 480px) {
  .checkOutPage {
    padding: 0 35px;
  }
}

.checkOutPage :global(.ant-card-body) {
  padding: 0 !important;
}

.checkOutPage :global(.form-group),
.checkOutPage :global(.form-radio) {
  margin: 0 !important;
}

.checkOutPage :global(.ant-avatar) {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-left: 10px;
  border-radius: 2px;
}

@media (min-width: 520px) {
  .checkOutPage :global(.ant-avatar) {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
}

.deleteAction {
  display: inline-block;
  background-color: var(--pink) !important;
  border: none !important;
  color: #fff;
  width: 22px;
  padding: 0;
  font-size: 8px !important;
  border-radius: 50%;
  height: 22px;
  line-height: 0 !important;
  font-weight: 600;
  position: absolute;
  left: 10px;
  top: 15px;
}

@media (min-width: 768px) {
  .deleteAction {
    position: unset;
    left: unset;
    top: unset;
  }
}

.deleteAction:hover,
.deleteAction:focus {
  background-color: var(--pink);
  color: #fff;
  border: none;
}

.productName {
  display: block;
  margin-top: 5px;
  margin-bottom: 0;
  color: #000;
  font-weight: 600;
}

.smce,
.mainPrice,
.save {
  display: block;
}

.label {
  margin-right: 5px;
  font-size: 12px;
}

.mainPrice {
  color: #777;
}

.count {
  width: 30px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  box-shadow: none;
  font-size: 13px;
  color: #000;
}

.decrement,
.increment {
  display: inline-block;
  background-color: transparent !important;
  border: none !important;
  color: #000 !important;
  width: 22px;
  padding: 0;
  font-size: 8px !important;
  border-radius: 50%;
  height: 22px;
  line-height: 0 !important;
  font-weight: 600;
}

.decrement {
  margin: 0 5px 0 0;
}

.increment {
  margin: 0 0 0 5px;
}

.decrement:hover,
/*.decrement:focus,*/
.increment:hover {
  background-color: #e7e7e7 !important;
}

.totalPrice {
  color: #000;
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
  padding: 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 480px) {
  .totalPrice {
    font-size: 14px;
  }
}

.mobileCardPickUp,
.mobileCardDelivery,
.checkOutPage :global(.ant-table),
.receipt {
  margin-bottom: 15px;
}

.receipt,
.details {
  display: flex;
  align-items: flex-end;
  padding: 10px 10px 0 0;
}

@media (max-width: 768px) {
  .receipt {
    display: block;
  }
}

.details .header {
  display: block;
  width: 100%;
}

@media (min-width: 520px) {
  .details .header {
    display: flex;
    flex: 1;
    width: 100%;
  }
}

.details .header h4 {
  flex: 1;
}

.discount,
.total,
.unitPrice,
.totalPrice {
  flex: 1;
}

.productPrice {
  display: block;
  padding-top: 5px;
  align-items: center;
  border-top: 1px solid #e8e8e8;
}

@media (min-width: 480px) {
  .productPrice {
    display: flex;
  }
}

.discount {
  padding: 15px;
}

.total b {
  font-weight: 600;
  font-size: 13px;
}

@media (min-width: 768px) {
  .total {
    padding: 15px 15px 15px 45px;
  }
}

.receiptPrices {
  list-style: none;
  padding: 0;
}

.receiptPrices li {
  margin: 5px 0;
}

.productList li,
.productHeader li {
  display: inline-block;
  list-style: none;
  align-items: center;
  align-self: center;
  white-space: nowrap;
}

.receiptPrices li:nth-child(3) {
  padding-bottom: 10px;
}

.receiptPrices li:nth-child(4) {
  padding-bottom: 10px;
}

.receiptPrices li:last-child {
  border-top: 1px solid var(--pink);
  font-weight: 600;
  color: #333;
  padding-top: 10px;
  font-size: 15px;
}

.gift {
  margin: 0 15px 0;
  height: 40px;
}

.discountNum {
  display: flex;
}

.discountNum :global(.ant-btn) {
  padding: 0 10px;
  font-size: 13px;
  margin-right: 7px;
  border-radius: 2px;
  color: #fff;
  overflow: hidden;
}

.greenBtn {
  background-color: var(--green) !important;
}

.greenBtn:hover,
.greenBtn:focus {
  background-color: var(--green);
  color: #fff !important;
  border-color: transparent;
}

.yellowBtn {
  background-color: #ff9113 !important;
}

.yellowBtn:hover,
.yellowBtn:focus {
  background-color: #ff9113;
  color: #fff !important;
  border-color: transparent;
}

.input {
  width: 78%;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  font-size: 12px !important;
}

@media (min-width: 768px) {
  .input {
    width: 70%;
  }
}

.return {
  border: none;
  border-radius: 2px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.25);
  background-color: var(--gray);
}

.return:hover,
.return:focus {
  background-color: #d7d7d7;
  color: #fff !important;
  border-color: transparent;
}

.continue {
  float: left;
  border: none;
  background-color: var(--green);
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}

.continue:hover,
.continue:focus {
  background-color: var(--green);
  color: #fff !important;
  border-color: transparent;
}

@media (min-width: 768px) {
  .return,
  .continue {
    font-size: 14px;
  }
}

.row {
  display: flex !important;
  flex-flow: wrap;
}

.Card {
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width: 480px) {
  .Card {
    width: 49%;
  }
}

@media (min-width: 992px) {
  .Card {
    width: 24%;
  }
}

.relatedPro {
  color: #111;
  font-weight: 600;
  text-align: center;
  margin: 35px auto;
  display: inline-block;
  border-bottom: 1px solid var(--pink);
  padding-bottom: 5px;
}

.checkOutPage :global(.ant-card-body),
.checkOutPage :global(.ant-card-wider-padding .ant-card-body) {
  padding: 15px;
}

.proDetail {
  flex: 1;
}

.productDetailDelivery,
.productDetailPickUp {
  flex: 1;
  align-items: center;
  align-self: center;
}

.productDetailDelivery p,
.productDetailPickUp p {
  margin-bottom: 0;
  font-size: 13px;
}

@media (min-width: 520px) {
  .productDetailDelivery p,
  .productDetailPickUp p {
    margin-bottom: 5px;
  }
}

.mobileCounter {
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.mobileCounter b {
  line-height: 30px;
  color: #000;
}

@media (min-width: 768px) {
  .mobileCounter {
    margin-top: 0;
  }
}

.orders {
  position: relative;
  background: #fff;
  margin: 7px 0;
  padding: 0;
  text-align: right;
  border-radius: 2px;
  border: 1px solid #e8e8e8;
  border-bottom: none;
}

.productHeader {
  background-color: var(--gray);
  padding: 10px 5px 10px 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.productList {
  padding: 15px 5px 10px 0;
  margin: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.productList p {
  margin-bottom: 0;
}

.productList .productName {
  margin-bottom: 0;
  margin-top: 5px;
}

.productHeader li:first-child,
.productList li:first-child {
  text-align: right;
}

.description {
  display: block;
  padding: 10px;
  font-size: 13px;
  border-bottom: none;
  border-top: 1px solid #e8e8e8;
  text-align: justify;
}

@media (min-width: 480px) {
  .description {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .description {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
  }
}

.description img {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.content {
  line-height: 18px;
}

.description b {
  font-weight: normal;
  margin-left: 3px;
  font-family: var(--MediumSans);
  color: #000;
}

@media (min-width: 480px) {
  .content {
    line-height: 28px;
  }
}

.pickupList,
.deliveryList,
.mobileCardPickUp,
.mobileCardDelivery {
  position: relative;
}

.expired {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-35deg);
  padding: 5px;
  border-radius: 5px;
  border: 4px solid #ef474e;
  height: 60px;
  line-height: 30px;
  color: #ef474e;
  font-weight: 600;
  z-index: 1;
}

.expired p {
  margin: 0;
  border: 1px solid #ef474e;
  padding: 6px;
  white-space: nowrap;
}

.pickupList .time,
.pickupList .date,
.pickupList .type,
.mobileCardPickUp .time,
.mobileCardPickUp .date,
.mobileCardPickUp .type {
  color: var(--green);
}

.deliveryList .time,
.deliveryList .date,
.deliveryList .type,
.mobileCardDelivery .time,
.mobileCardDelivery .date,
.mobileCardDelivery .type {
  color: var(--pink);
}

.mobileCardPickUp .type,
.mobileCardDelivery .type {
  white-space: nowrap;
  font-size: 12px;
  margin: 5px 0 5px 0;
}

@media (min-width: 480px) {
  .mobileCardPickUp .type,
  .mobileCardDelivery .type {
    text-align: center;
    font-size: 14px;
  }
}

.type b {
  color: #333;
}

.unitePrice {
  color: #000;
  text-align: left;
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
  padding: 10px;
  font-size: 13px;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.unitePrice b {
  /*width: 100%;*/
  text-align: right;
}

@media (min-width: 480px) {
  .unitePrice {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .unitePrice {
    border-top: none;
  }
}

.mobileDiscount {
  color: #6c26af;
  border-top: 1px solid #e8e8e8;
  background-color: #e7e7e7 !important;
  margin-top: 10px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  font-size: 13px;
}

@media (min-width: 480px) {
  .mobileDiscount {
    font-size: 14px;
  }
}

.total {
  padding: 15px;
}

.price {
  display: flex;
  justify-content: space-between;
}

.counterBtns {
  display: inline-block;
}

small {
  margin-right: 3px;
}

.totalPay {
  display: block;
  border: 1px solid #e8e8e8;
  margin-bottom: 10px;
  padding: 10px;
}

@media (min-width: 768px) {
  .totalPay {
    display: flex;
    padding: 0;
    border: none;
    border-bottom: 1px solid #e8e8e8;
  }
}

.disValue,
.final {
  flex: 1;
  align-items: center;
  padding: 0;
  align-self: center;
}

@media (min-width: 768px) {
  .final {
    padding: 10px;
    border-right: 1px solid #e8e8e8;
  }

  .disValue {
    padding: 10px;
  }
}

.price b {
  color: #000;
  font-size: 14px;
  font-weight: normal;
  font-family: var(--MediumSans);
}

.value {
  font-size: 16px !important;
  font-weight: 600;
}

.value small {
  margin-right: 0;
  font-size: 10px;
  font-weight: 200;
}

.relatedProRow {
  display: block;
}

@media (min-width: 480px) {
  .relatedProRow {
    display: flex;
    flex-wrap: wrap;
  }
}

.emptyBasket {
  background-color: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  text-align: center;
  padding: 15px;
}

.emptyBasket i {
  font-size: 45px;
  position: relative;
  color: #c6c6c6;
}

.emptyBasket i i {
  position: absolute;
  left: 10px;
  color: #c6c6c6;
  font-size: 20px;
  background-color: #f9f9f9;
  top: 6px;
  border-radius: 12px;
}

.emptyBasket div {
  margin-top: 5px;
  color: #c6c6c6;
  font-size: 18px;
}

.divLogin {
  text-align: center;
  padding: 15px;
}

.btnLogin {
  width: 193px;
  font-size: 17px;
  height: 38px;
  margin-top: 20px;
}

.divRegister {
  margin-top: 16px;
  margin-bottom: 55px;
  text-align: center;
}

.btnRegister {
  font-size: 17px;
  color: var(--green);
  border-color: var(--green);
  height: 38px;
}

.products {
  min-height: 370px;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 15px;
}

.title label {
  border-bottom: 1px solid;
  padding-bottom: 4px;
}
