:global { @import '/css/mainFlag.css'; }

.promotion {
  position: absolute;
  width: 100%;
  z-index: 100;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promotion > div {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #000;
  opacity: 0.4;
  z-index: -1;
}

.promotion img {
  width: 75%;
  height: 100vh;
}

@media (min-width: 800px) {
  .promotion img {
    width: 60%;
    height: 100vh;
  }
}
