.productDetailPage {
  margin: 20px auto;
  padding: 0 15px;
  max-width: 1200px;
}

.productCode {
  font-size: 10px;
  font-family: Arial;
  margin-right: 5px;
}
.parentPriceBox {
  position: relative;
}

.notExist {
  position: absolute;
  left: 0;
  border: 3px solid red;
  padding: 6px 13px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 137px;
  text-align: center;
  top: -50px;
  color: red;
  font-size: 17px;
  font-weight: bold;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .productDetailPage {
    padding: 0 35px;
  }
}

.productDetails {
  position: relative;
  display: block;
}

@media (min-width: 767px) {
  .productDetails {
    position: relative;
    display: flex;
  }
}

.gallery {
  width: 100%;
}

.breadCrumb {
  position: absolute;
  top: -35px;
}

@media (min-width: 767px) {
  .gallery {
    width: 340px;
  }
}

@media (min-width: 992px) {
  .gallery {
    width: 380px;
  }

  .notExist {
    position: absolute;
    left: 40%;
    border: 3px solid red;
    padding: 6px 13px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 137px;
    text-align: center;
    top: 77px;
    color: red;
    font-size: 17px;
    font-weight: bold;
    border-radius: 4px;
  }
}

@media (min-width: 1366px) {
  .gallery {
    width: 480px;
  }
}

.details {
  flex: unset;
  margin-right: 0;
}

@media (min-width: 767px) {
  .details {
    flex: 1;
    margin-right: 30px;
  }
}

@media (min-width: 1366px) {
  .details {
    margin-right: 70px;
  }
}

.tabRow .row {
  justify-content: space-between;
}

.tabRow .row {
  display: flex !important;
  flex-flow: wrap;
  justify-content: space-between;
}

.Card {
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width: 480px) {
  .Card {
    width: 49%;
  }
}

@media (min-width: 992px) {
  .Card {
    width: 24%;
  }
}

.tabRow {
  margin: 25px auto;
}

.commentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comments,
.form {
  width: 100%;
}

.form {
  margin-top: 25px;
}

@media (min-width: 992px) {
  .comments,
  .form {
    width: 49%;
  }

  .form {
    margin-top: 0;
  }
}

.title {
  color: #484848;
  font-weight: 600;
  font-size: 14px;
}

.comments .commentLabel,
.comments .productName {
  font-weight: 600;
  color: #484848;
  margin: 0 5px 0 0;
  line-height: 20px;
  font-size: 14px;
}

.productName {
  margin-bottom: 0;
  line-height: 35px;
  font-size: 20px;
  font-family: var(--BoldSans);
  color: #484848;
}

:global(.addToBasket) {
  height: 50px;
  width: 100%;
  font-size: 16px;
}

@media (min-width: 480px) {
  :global(.addToBasket) {
    width: 67.4%;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  :global(.addToBasket) {
    width: 57.4%;
  }
}

@media (min-width: 992px) {
  :global(.addToBasket) {
    width: 67.4%;
    font-size: 18px;
  }
}

:global(.addToBasket:hover),
:global(.addToBasket:focus) {
  background: var(--pink);
  color: #fff;
}

.wrapp {
  display: block;
}

@media (min-width: 480px) {
  .wrapp {
    display: flex;
    justify-content: space-between;
  }
}

.selectTime {
  width: 100%;
  height: 50px;
}

@media (min-width: 480px) {
  .selectTime {
    width: 30%;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .selectTime {
    width: 40%;
  }
}

.selectTime :global(.ant-select-selection) {
  margin-bottom: 0;
  font-size: 20px;
  box-shadow: none !important;
  border: none !important;
  border-bottom: 2px solid #ccc !important;
  border-radius: 0;
}

.selectTime :global(.ant-select-selection--single) {
  height: 50px;
}

.selectTime :global(.ant-select-selection__rendered) {
  line-height: 50px;
}

.selectTime :global(.ant-select-arrow::before) {
  font-size: 12px !important;
}

.shareTag {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  width: 100%;
  order: 2;
}

.tag :global(.tagWrapper) {
  margin: 15px 0;
}

.tag :global(.tagWrapper) :global(.ant-tag) {
  border-radius: 20px;
  font-size: 11px;
}

@media (min-width: 767px) {
  .tag {
    width: 340px;
    order: 0;
  }
}

@media (min-width: 992px) {
  .tag {
    width: 380px;
    order: 0;
  }
}

@media (min-width: 1366px) {
  .tag {
    width: 480px;
    order: 0;
  }
}

.shareBox {
  flex: unset;
  margin-right: 0;
  width: 100%;
}

@media (min-width: 767px) {
  .shareBox {
    flex: 1;
    margin-right: 30px;
  }
}

@media (min-width: 1366px) {
  .shareBox {
    margin-right: 70px;
  }
}

.productDetailPage :global(.ant-tabs:not(.ant-tabs-vertical)) > :global(.ant-tabs-content-animated) {
  display: block !important;
}

.relatedPro {
  padding: 0 25px;
}
