.rateBox {
  display: flex;
  margin-bottom: 20px;
}

.rateBox p {
  margin-bottom: 0;
  margin-left: 10px;
  line-height: 27px;
  font-size: 12px;
}

.rateBox :global(.ant-rate) {
  line-height: 30px !important;
}

.title {
  color: #484848;
  font-weight: 600;
  font-size: 14px;
}

.button {
  background: var(--green);
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 12px;
  transition: all ease 0.5s;
}

.button:hover,
.button:focus {
  background: var(--pink);
  color: #fff;
}

.rateText {
  line-height: 27px;
  font-size: 12px;
}
