.vendorCard :global(.ant-card-body) {
  padding: 15px;
}

.vendorCard {
  margin: 15px 0;
  flex: 100%;
}

.rowWrapper {
  padding: 1em;
}

.firstRow,
.secondRow {
  width: 100%;
  display: flex;
}

.proImage,
.lable {
  width: 100px;
}

.lable p,
.field p {
  margin-bottom: 0;
  font-size: 12px;
}

.lable p {
  display: block;
  color: #33373d;
}

.field p {
  color: #89959b;
}

.field {
  flex: 1;
}

.rating {
  width: 55px;
}

.proInfo {
  flex: 1;
}

.buttons {
  display: flex;
  margin: 0 -15px -15px;
}

.buttons a {
  flex: 1;
  padding: 15px;
  text-align: center;
  position: relative;
  border: 1px solid #e7e7e7;
  border-left: 0 !important;
  border-right: 0 !important;
  background-color: #fdfdfd !important;
  transition: background 0.1s ease;
}

.buttons a:hover,
.buttons a:focus {
  background: rgba(0, 0, 0, 0.03) !important;
  color: rgba(0, 0, 0, 0.95);
}

.buttons a:first-child::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background: #e7e7e7;
}

.buttons a i {
  margin-left: 5px;
}

.rating small {
  text-align: center;
  display: block;
  margin-top: 2px;
}

.ratingBtn .ant-btn {
  padding: 0 8px;
  font-size: 15px;
  background: var(--green) !important;
  border-color: var(--green) !important;
  color: #fff !important;
  border-radius: 4px;
}

.imageCard {
  width: 100px;
  height: 110px;
  display: block;
  background-position: 50%;
  background-size: cover;
}

@media (min-width: 992px) {
  .vendorCard {
    margin: 15px 1%;
    flex: 49%;
  }
}
