.orderDetail {
  position: relative;
  display: flex;
  margin-bottom: 60px;
}

.orderDetail .upDownBtn {
  display: block;
  visibility: visible;
  position: absolute;
  bottom: -50px;
  left: 10px;
}

.ordersAvatar {
  display: flex;
  visibility: visible;
  position: absolute;
  bottom: -50px;
  right: 10px;
}

.ordersAvatar :global(.ant-avatar) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
}

.header,
.data {
  display: block;
  font-size: 13px;
  flex: 1;
}

.header {
  background: var(--gray);
  border: 1px solid #e8e8e8;
  border-left: none;
  margin: 0;
}

.data {
  border: 1px solid #e8e8e8;
  margin: 0;
}

.header li,
.data li {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.header li:last-child,
.data li:last-child {
  display: none;
  visibility: hidden;
}

.header li:nth-child(5),
.data li:nth-child(5) {
  border-bottom: none;
}

.wrapper {
  padding: 15px;
}

.upAndDownBtn,
.upDownBtn {
  border: none;
  width: 40px;
  height: 40px;
  font-size: 12px;
  line-height: 45px;
  background: var(--pink);
  color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 50%;
}

.upAndDownBtn i,
.upDownBtn i {
  font-weight: 600;
}

.productDetail {
  border: 1px solid #e8e8e8;
  display: block;
}

.leftContent ul {
  width: 100%;
}

.leftContent {
  display: flex;
  font-size: 13px;
  padding: 5px 10px;
  border-top: 1px solid #e8e8e8;
}

.rightContent {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 10px;
}

.rightContent :global(.ant-avatar) {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin-left: 10px;
  border-radius: 2px;
}

.rightContent p {
  margin-bottom: 5px;
  font-size: 13px;
}

.rightContent h4 {
  color: var(--blue);
  margin-bottom: 5px;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.leftContent ul {
  margin: 0;
}

.leftContent ul li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.leftContent ul li p {
  margin: 0 40px 0 0;
}

.deliveryType,
.address {
  display: block;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
  border-top: none;
  padding: 10px 10px;
  text-align: center;
  font-size: 13px;
}

.deliveryType span {
  display: block;
}

.deliveryType b {
  color: var(--green);
  margin-right: 7px;
  font-weight: 200;
}

.status {
  color: #dd4b39 !important;
}

:global(.toggleBox.show) {
  min-height: 20px;
  margin-bottom: 25px;
  visibility: visible;
  overflow: hidden;
  transition: all linear 0.3s;
}

:global(.toggleBox.hide) {
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all linear 0.3s;
}

.moreButton {
  display: flex;
  text-align: center;
  margin: 10px auto;
}

.moreCursor {
  cursor: pointer;
}

@media (min-width: 480px) {
  .deliveryType {
    display: flex;
  }
}

@media (min-width: 768px) {
  .orderDetail .upDownBtn {
    display: none;
    visibility: hidden;
  }

  .productDetail {
    display: flex;
    justify-content: space-between;
  }

  .leftContent {
    padding: 10px;
    border: none;
  }

  .rightContent :global(.ant-avatar) {
    width: 90px;
    height: 90px;
    line-height: 90px;
  }

  .orderDetail {
    display: block;
    margin-bottom: 0;
  }

  .header,
  .data {
    display: flex;
    padding: 10px;
    font-size: 13px;
  }

  .data {
    border-top: none;
  }

  .header {
    border-left: 1px solid #e8e8e8;
  }

  .header li,
  .data li {
    flex: 1;
    text-align: center;
    padding: 0;
    border-bottom: none;
  }

  .header li:last-child,
  .data li:last-child {
    display: block;
    visibility: visible;
    flex: unset;
    width: 40px;
  }

  .upAndDownBtn,
  .upDownBtn {
    width: 20px;
    height: 20px;
    font-size: 8px;
    line-height: 24px;
  }

  .orderDetail .upDownBtn {
    bottom: -10px;
  }

  .ordersAvatar {
    display: none;
    visibility: hidden;
  }
}
