.PageWrapper {
  height: 100% !important;
  margin: 0 !important;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 24%;
}

.topFooter {
  text-align: center;
}

.topFooter img {
  width: 85%;
}

@media (max-width: 992px) {
  .spinner {
    margin-top: 35%;
  }
}

@media (max-width: 767px) {
  .spinner {
    margin-top: 50%;
  }
}

@media (max-width: 480px) {
  .spinner {
    margin-top: 60%;
  }
}
