.root {
  position: relative;
  padding-top: 40px;
}

.login,
.shipping,
.payment {
  width: 100%;
  margin: 25px auto;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;
}

@media (min-width: 768px) {
  .login,
  .shipping,
  .payment {
    width: 70%;
  }
}

.login {
  animation-name: login;
}

.shipping {
  animation-name: shipping;
}

.payment {
  animation-name: payment;
}

@keyframes login {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shipping {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes payment {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.checkoutMessage {
  width: 100%;
  margin: 40px auto;
  padding: 15px;
  border-radius: 2px;
  text-align: center;
  background: rgba(255, 255, 255, 0.48);
}

.messageContent {
  background: #fff;
  padding: 20px;
}

.messageTitle {
  color: #000;
  font-weight: 600;
  display: inline-block;
  border-bottom: 1px solid #000;
  padding: 5px 0;
}

.messageTitle i {
  margin-left: 7px;
  vertical-align: sub;
  font-size: 18px;
}

.messageTitle :global(.mf-close-o),
.errorText {
  color: #ff2b2b;
}

.messageTitle :global(.mf-check),
.successText {
  color: var(--green);
}

.lastText {
  font-size: 12px;
}

.backBtn {
  color: #000;
  height: 32px;
  border: none;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 2px;
  background-color: var(--green);
  padding: 5px;
}

.backBtn:hover {
  color: #fff;
  background-color: var(--green);
}

@media (min-width: 480px) {
  .checkoutMessage {
    padding: 35px;
  }
}

@media (min-width: 768px) {
  .wizardWrapper {
    padding: 130px 30px 30px 30px;
  }
}

@media (min-width: 992px) {
  .checkoutMessage {
    width: 60%;
  }
}
