.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 35px;
}

.container h2 {
  font-family: var(--MediumSans);
  display: inline-block;
  border-bottom: 1px solid #000;
}

.container div h4 {
  margin-top: 15px;
  color: #e91e63;
  font-weight: bolder !important;
}

.form {
  margin-top: 35px;
  border-top: 1px solid #b3b3b3;
  padding-top: 15px;
}

:global(.ant-select-selection) {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #ddd !important;
  top: -14px !important;
  border-bottom-left-radius: unset !important;
  border-bottom-right-radius: unset !important;
}

:global(.comboBox) label {
  top: -0.6rem;
  right: 0;
  font-size: 12px;
  color: #000;
  font-weight: 600;
  z-index: 10;
  position: relative;
  /*font-weight: bolder;*/
}

.submit {
  margin-bottom: 25px;
  margin-top: 20px;
}

.submit button {
  margin-top: 5px;
  background-color: var(--green);
  border: none;
  width: 80px;
  height: 28px;
  border-radius: unset;
  color: #fff;
  left: 10px;
  position: absolute;
}

:global(.image) {
  margin-top: 35px;
}

:global(.image) img {
  height: 93%;
  width: 100%;
}

:global(.ant-select-focused .ant-select-selection),
:global(.ant-select-selection):active,
:global(.ant-select-selection):focus,
:global(.ant-select-selection):hover {
  border-color: var(--pink) !important;
  border-bottom-color: var(--pink) !important;
}

.mapTitle {
  margin-bottom: 15px;
  margin-top: 6px;
  margin-right: 12px;
  color: #000;
}

:global(.marginTop) {
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 35px;
  }
}
