@import '../../variables.css';

.megaFooter {
  direction: rtl;
  padding: 16px 40px;
  color: rgb(158,158,158);
  background-color: rgb(66,66,66);
}

.FooterBackground {
  background: var(--pink);
  color: rgba(255,255,255,1);
}

.footerContainer:after,
.footerBottom:after {
  content: '';
  display: block;
  clear: both;
}

.footerColumn {
  display: block;
  position: relative;
}



@media screen and (min-width: 760px) {
  .footerColumn {
    width: 33%;
  }

  .footerColumn:nth-child(1) {
    float: right;
    width: 29% !important;
  }

  .footerColumn:nth-child(2) {
    float: right;
    width: 35% !important;
  }

  .footerColumn:nth-child(3) {
    float: left;
  }

  .footerColumn:nth-child(3):after {
    clear: left;
  }

  .footerColumn:nth-child(4) {
    clear: left;
    float: left;
  }

  .footerColumn:nth-child(4) ul li:not(:first-child) {
    text-align: left;
  }

  .footerColumn:nth-child(4) ul li:last-child p a {
    margin-right: 10px;
  }

  .footerColumn:nth-child(5) {
    width: 10% !important;
  }

  .footerContainer:after {
    content: '';
    display: block;
    clear: both;
  }

  .footerBottom {
    padding-top: 0;
  }
}

.footerColumn ul li p a {
  margin-left: 5px;
}

@media screen and (min-width: 1024px) {
  .footerColumn,
  .footerColumn:nth-child(3),
  .footerColumn:nth-child(4) {
    width: 24%;
    float: right;
  }
}

.collapseCheckbox {
  position: absolute;
  width: 100%;
  height: 55.8px;
  padding: 32px;
  margin: 0;
  margin-top: -16px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}

.collapseCheckbox + .footerHeader:after {
  font-family: 'Material Icons';
  content: '\E5CE';
}

.collapseCheckbox:checked ~ .footerListLink,
.collapseCheckbox:checked + .footerHeader + .footerListLink {
  display: none;
}

.collapseCheckbox:checked + .footerHeader:after {
  font-family: 'Material Icons';
  content: '\E5CF';
}

.footerHeader {
  position: relative;
  width: 100%;
  padding-left: 39.8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 23.8px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
}

.footerHeader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 23.8px;
  height: 23.8px;
  background-size: cover;
}

.footerListLink {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.footerListLink:after {
  clear: both;
  display: block;
  content: '';
}

.footerListLink li {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 8px;
}

.footerListLink a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

.footerListLinkBordered li {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footerListLinkBordered li:last-child {
  border-bottom: 0;
}

@media screen and (min-width: 769px) {
  .collapseCheckbox {
    display: none;
  }

  .collapseCheckbox + .footerHeader:after {
    background-image: none;
  }

  .collapseCheckbox:checked ~ .footerListLink,
  .collapseCheckbox:checked + .footerHeader + .footerListLink {
    display: block;
  }

  .collapseCheckbox:checked + .footerHeader:after {
    content: '';
  }

  .footerColumn:nth-child(3) {
    margin-right: 12%;
  }
}

.footerBottom {
  padding-top: 16px;
  margin-bottom: 16px;
}

.footerLogo {
  margin-bottom: 16px;
  color: white;
}

.footerBottom .footerListLink li {
  float: right;
  margin-bottom: 0;
  margin-left: 16px;
}

@media screen and (min-width: 760px) {
  .footerLogo {
    float: right;
    margin-bottom: 0;
    margin-left: 16px;
  }

  .collapseCheckbox:checked ~ .footerWidget {
    display: block;
  }

  .footerWidget,
  .footerListLink {
    padding-left: 40px;
  }
}

.footerWidget {
  margin-bottom: 32px;
}

.footerListLink p,
.footerListLink a,
.footerWidget p,
.footerWidget a {
  color: inherit;
  font-weight: normal;
  white-space: initial;
}

.collapseCheckbox:checked ~ .footerWidget {
  display: none;
}

.footerImg {
  margin: 0 0 10px 10px;
}

.floatLeft {
  float: left;
}

@media screen and (min-width: 760px) {
  .collapseCheckbox~.footerHeader:after,
  .collapseCheckbox~.footerHeader:after {
    content: '' !important;
  }
}
