.row {
  padding: 15px;
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 100;
}

:global(.noBackground) {
  position: absolute;
  width: 100%;
  z-index: 10;
  color: var(--green);
  height: 162px;
}

:global(.isBackground) {
  direction: rtl;
  position: relative;
  background: url(https://cdn.motherflower.com:7090/SiteAsset/headerCover.jpg) no-repeat center;
  background-size: cover;
  height: 162px;
  margin-bottom: 30px;
}

.nav {
  margin-top: 6px;
}

@media (max-width: 480px) {
  .row {
    top: 75px;
  }
}
