.searchBoxSection {
  position: relative;
  background-image: url(https://cdn.motherflower.com:7090/SiteAsset/home/480.jpg);
  background-size: cover !important;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center !important;
  height: 100vh;
}

@media (min-width: 480px) {
  .searchBoxSection {
    background-image: url(https://cdn.motherflower.com:7090/SiteAsset/home/767.jpg);
  }
}

@media (min-width: 769px) {
  .searchBoxSection {
    background-image: url(https://cdn.motherflower.com:7090/SiteAsset/home/992.jpg);
  }
}

@media (min-width: 992px) {
  .searchBoxSection {
    background-image: url(https://cdn.motherflower.com:7090/SiteAsset/home/1200.jpg);
  }
}

@media (min-width: 1200px) {
  .searchBoxSection {
    background-image: url(https://cdn.motherflower.com:7090/SiteAsset/home/1960.jpg);
  }
}
