.container {
  margin: 27px 50px;
}

.increaseCredit {
  display: flex;
}

.increaseCredit > label:first-child {
  min-width: 140px;
}

.increaseCredit label {
  font-weight: bold;
}

.increaseCredit {
  margin-top: 40px;
}

.buttons {
  margin-top: 35px;
}

.buttons > div {
  margin-bottom: 21px;
}

.buttons div label {
  border: 1px solid rgb(217, 217, 217);
  padding: 6px 12px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  width: 115px;
}

.buttons div label:hover,
:global(.activeButton) {
  color: #fff;
  border: unset;
  background-color: var(--pink);
}

.addedCredit,
.afterAddedCredit {
  justify-content: space-between;
  display: flex;
  margin-bottom:  7px;
}

.buttons > div:nth-child(2),
.buttons > div:nth-child(5) {
  text-align: center;
}

.buttons > div:nth-child(1),
.buttons > div:nth-child(4) {
  text-align: right;
}


.buttons > div:nth-child(3),
.buttons > div:nth-child(6) {
  text-align: left;
}

.addedCredit > label:last-child > span {
  color: red;
}

.payment {
  display: flex;
  margin-top: 10px;
}

.payment > div {
  width: 100%;
  margin-left: 7px;
}

.payment > button {
  top: 7px;
}

.payment input {
  text-align: center;
}

.giftCode {
  width: 100%;
}

.submitButton {
  background-color: var(--green);
  color: #fff;
  border-radius: 2px;
  border: none;
}

.description {
  margin-top: 9px;
  display: inline-block;
  font-size: 11px;
}

@media (max-width: 650px) {

  .increaseCredit > label:first-child {
    min-width: 100px;
  }
}

@media (max-width: 590px) {
  .increaseCredit {
    display: unset;
  }
}

@media (max-width: 480px) {
  .buttons div label {
    width: 91px;
    font-size: 8px;
  }

  * {
    font-size: 11px !important;
  }

  input[type=text] {
    font-size: 11px !important;
  }

  .payment > button {
    top: -4px;
  }

  .container {
    margin: 27px 25px;
  }
}

@media (max-width: 370px) {
  .buttons div label {
    width: 65px;
  }
}
