:global { @import '/css/mainFlag.css'; }

.appDownload {
  margin: 15px auto;
  padding: 0 15px;
  max-width: 1360px;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

:global(.rightSection),
:global(.leftSection) {
  z-index: 1;
}

:global(.rightSection) {
  order: 2;
  width: 100%;
  margin: 0 auto;
  padding: 15px 30px;
  align-self: center;
  text-align: center;
}

:global(.cafeBazar),
:global(.sibApp) {
  margin-right: unset;
  width: 100%;
}

:global(.rightSection) :global(.intl-tel-input),
.mailInput input {
  position: relative;
  height: 35px;
  width: 100%;
  border: none;
  background: #fff;
  padding: 5px 15px 5px 5px;
  border-radius: 40px;
  box-shadow: -5px 6px 7px rgba(0, 0, 0, 0.04), 4px 3px 8px rgba(0, 0, 0, 0.04);
}

.mailInput input {
  font-size: 16px !important;
}

:global(.rightSection) :global(.intl-tel-input) {
  font-size: 12px !important;
}

.mailInput,
.phoneInput {
  position: relative;
}

.rightSectionTitle,
.content {
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
  margin-top: 29px;
  font-family: var(--BoldSans);
}

.content {
  font-weight: 200 !important;
}

.line {
  position: relative;
  display: flex;
  margin: 30px auto;
}

.line::before {
  content: '';
  position: absolute;
  top: 1px;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.line b {
  top: 50%;
  left: 50%;
  padding: 0 5px;
  position: absolute;
  color: #000;
  font-weight: 600;
  background: #f1f1f1;
  transform: translateX(-50%) translateY(-50%);
}

:global(.lineIos)::before {
  position: relative !important;
}

:global(.phoneBtn),
:global(.mailBtn) {
  position: relative;
  height: 35px;
  margin: 10px 0 0 0;
  border-radius: 40px !important;
  font-size: 12px;
}

:global(.phoneBtn) {
  right: 0;
}

:global(.mailBtn) {
  left: 0;
}

:global(.downloadBtn) {
  position: relative !important;
  background: #fff;
  font-weight: bold;
  font-size: 17px;
  height: 45px;
  box-shadow: -5px 6px 7px rgba(0, 0, 0, 0.04), 4px 3px 8px rgba(0, 0, 0, 0.04);
  border: unset !important;
}

:global(.downloadBtn):hover {
  color: #1b0dce;
}

:global(.cafeBazar) img,
:global(.sibApp) img {
  width: 24px;
  margin-left: 6px;
  margin-bottom: 6px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 41px auto;
}

.buttons .btn {
  display: flex;
  width: 130px;
  height: 40px;
  margin: 10px 5px;
  border: none;
  color: #fff;
  padding: 0 10px;
  align-items: center;
  background-color: #000;
}

.buttons .btn img {
  height: 25px;
}

.buttons .btn .text {
  flex: 1;
  text-align: right;
  font-size: 14px;
}

.buttons .text p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
}

:global(.coverflow__container__2RGwF) {
  display: none;
  visibility: hidden;
}

.splash {
  display: block;
  visibility: visible;
  height: 300px;
  margin: 0 auto;
}

.unsetMargin {
  margin: unset !important;
}

.lineCircle {
  text-align: center;
  margin-bottom: 13px;
  margin-top: 23px;
}

.sliderMobile img {
  margin-top: 13px;
  width: 80%;
}

.lineCircle > li {
  width: 27px;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #fff;
  margin: 0 1em;
  display: inline-block;
  color: #000;
  border: 1px solid #000;
  position: relative;
}

.lineCircle > li:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 0.9em;
  left: -4em;
  width: 4em;
  height: 0.1em;
  background: #000;
  z-index: -1;
}

.lineCircle > li:first-child {
  margin-right: 0;
}

.lineCircle > li:last-child {
  margin-left: 0;
}

.titleStep {
  color: var(--pink);
  font-weight: bold;
}

.sliderMobile {
  text-align: center;
}

:global(.activeStep) {
  background: var(--green) !important;
  color: #fff !important;
}

.working {
  color: #000;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.5;
}

:global(.imageSlider) {
  text-align: left;
}

.titleTablet {
  margin-bottom: 25px;
}

.receiveApp {
  margin: 22px 0;
  text-align: center;
}

.receiveApp h4 {
  margin: 0;
}

.soon {
  font-size: 12px;
  color: #000;
  position: absolute;
  left: 16px;
  transform: translateX(-50%) translateY(-50%) rotate(-42deg);
  top: 15px;
}

:global(.imgSlide) {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

:global(.imgSlideWeb) {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  height: 360px;
}

:global(.noOpacity) {
  opacity: 0 !important;
}

.mobileHeader {
  position: relative;
  height: 538px;
}

.mobileHeader > img:first-child {
  height: 100%;
  width: 100%;
  position: absolute;
}

.logo {
  width: 100%;
  text-align: center;
}

.logo img {
  top: 20px;
  position: relative;
  width: 110px;
  cursor: pointer;
}

.footer {
  content: '';
  position: absolute;
  width: 100%;
  min-height: 252px;
  background: #bd8cbf;
  -webkit-clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer button {
  margin-bottom: 10px;
  height: 50px;
}

.description {
  padding: 27px;
  text-align: justify;
}

:global(.tabletView) {
  display: none;
}

:global(.webView) {
  display: block;
  margin-left: 20px;
}

.headerImage {
  content: url('https://cdn.motherflower.com:7090/SiteAsset/download/480.jpg');
}

@media (max-width: 480px) {
  .soon {
    font-size: 9px;
    left: 11px;
    top: 12px;
  }

  :global(.downloadBtn) {
    font-size: 13px;
    height: 36px;
  }

  .buttons {
    margin: 18px auto;
  }

  .receiveApp {
    margin: 14px 0;
    text-align: center;
  }

  .logo img {
    width: 78px;
  }
}

@media (min-width: 320px) {
  .splash {
    height: 420px;
  }
}

@media (min-width: 480px) {
  :global(.phoneBtn),
  :global(.mailBtn) {
    width: auto;
    position: absolute;
    top: 3px;
    margin: 0;
    height: 39px;
    border-radius: 40px;
  }

  .mailInput,
  .phoneInput {
    border-radius: 40px;
    border: 1px solid #eee;
  }

  :global(.phoneBtn) {
    right: 3px;
  }

  :global(.mailBtn) {
    left: 3px;
  }

  :global(.rightSection) :global(.intl-tel-input),
  .mailInput input {
    height: 45px;
    padding: 15px;
  }

  .splash {
    height: 480px;
  }

  :global(.rightSection) {
    width: 70%;
  }

  :global(.cafeBazar) {
    border-color: #000;
    color: #000;
    margin-right: 2% !important;
    width: 48% !important;
  }

  :global(.sibApp) {
    border-color: #452a89;
    color: #000;
    margin-right: 2% !important;
    width: 48% !important;
  }

  .lineCircle > li {
    width: 27px;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    background: #fff;
    margin: 3em 0;
    display: block;
    color: #000;
    border: 1px solid #000;
    position: relative;
  }

  .lineCircle > li:not(:last-child)::before {
    content: '';
    position: absolute;
    bottom: -4.1em;
    right: 0.8em;
    height: 4em;
    width: 0.1em;
    background: #000;
    z-index: -1;
  }

  .lineCircle > li:hover {
    cursor: pointer;
  }

  .lineCircle > li:first-child {
    margin: 0;
  }

  .lineCircle > li span {
    position: absolute;
    color: #000;
    right: 33px;
    text-align: right;
    width: 15em;
    font-weight: bold;
  }

  :global(.imageSlider) img {
    height: 427px;
  }

  .working {
    font-size: 22px;
    margin-top: 15px;
    text-align: center;
  }

  :global(.activeStep) {
    background: var(--pink) !important;
    color: #fff !important;
  }

  :global(.activeStep) span {
    color: var(--pink) !important;
  }

  .titleTablet {
    display: block;
  }

  .lineCircle {
    margin-top: 59px;
  }

  .titleWeb {
    display: none;
  }

  .logo img {
    top: 10px;
  }

  .receiveApp h4 {
    text-align: center;
  }

  :global(.description) {
    top: 65px;
  }

  :global(.description) h4 {
    color: var(--pink);
    border-bottom: 2px solid #000;
    padding-bottom: 8px;
    font-weight: bolder;
    font-size: 18px;
    display: inline;
  }

  :global(.description) div {
    margin-top: 24px;
    line-height: 1.8;
  }

  .footer {
    -webkit-clip-path: polygon(0 67%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 67%, 100% 0, 100% 100%, 0% 100%);
  }

  .footer .buttons {
    margin-top: 130px;
  }

  .headerImage {
    content: url('https://cdn.motherflower.com:7090/SiteAsset/download/992.jpg');
  }
}

@media (max-width: 992px) {
  :global(.tabletView) {
    display: block;
  }

  :global(.webView) {
    display: none;
  }

  .wrapper :global(.row) {
    text-align: center;
    margin-bottom: 50px;
  }

  :global(.description) {
    top: 13px;
  }
}

@media (min-width: 681px) {
  .footer button {
    width: 260px !important;
  }
}

@media (max-width: 900px) and (min-width: 768px) {
  :global(.rightSection),
  :global(.leftSection) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

@media (max-width: 680px) and (min-width: 480px) {
  .soon {
    font-size: 9px;
    left: 9px;
    top: 11px;
  }

  :global(.downloadBtn) {
    font-size: 10px;
    width: 180px !important;
    margin-bottom: 5px;
  }

  .buttons {
    margin-top: 27px;
  }
}

@media (min-width: 768px) {
  :global(.coverflow__container__2RGwF) {
    display: block;
    visibility: visible;
  }

  .splash {
    display: none;
    visibility: hidden;
  }

  .titleTablet {
    display: none;
  }

  .titleWeb {
    display: block;
    text-align: right;
  }

  .lineCircle {
    margin-top: 23px;
  }

  .rightSectionTitle,
  .content {
    text-align: right;
  }
}

@media (min-width: 992px) {
  :global(.rightSection) {
    order: unset;
  }

  :global(.rightSection) {
    width: 40%;
    padding: 0 20px 35px 20px;
  }

  .rightSectionTitle,
  .content {
    text-align: right;
  }

  .wrapper :global(.row) {
    margin-right: 95px;
    margin-bottom: 24px;
  }

  :global(.description) {
    top: 24px;
  }

  .headerImage {
    content: url('https://cdn.motherflower.com:7090/SiteAsset/download/1200.jpg');
  }
}

@media (min-width: 1200px) {
  :global(.rightSection) {
    width: 40%;
    padding: 0 70px 0 70px;
  }

  :global(.phoneBtn),
  :global(.mailBtn) {
    width: auto;
    position: absolute;
    top: 3px;
    margin: 0;
    height: 49px;
    border-radius: 40px;
  }

  :global(.rightSection) :global(.intl-tel-input),
  .mailInput input {
    height: 55px;
    padding: 15px;
  }

  .buttons {
    margin: 14px auto;
  }

  :global(.phoneBtn) {
    right: 3px !important;
  }

  :global(.mailBtn) {
    left: 3px !important;
  }

  .buttons .btn {
    height: 50px;
  }

  .buttons .btn img {
    height: 30px;
  }

  .buttons .text p {
    font-size: 14px;
  }

  .headerImage {
    content: url('https://cdn.motherflower.com:7090/SiteAsset/download/1960.jpg');
  }

  .receiveApp {
    margin: 18px 0;
  }
}

@media (min-width: 1360px) {
  :global(.rightSection) {
    width: 40%;
  }
}
