.container {
  margin: 40px 21px;
  text-align: center;
}

.container h2 {
  font-family: var(--MediumSans);
  display: inline-block;
  text-align: center;
}

.container label,
.container p {
  font-size: 15px;
  margin-top: 15px;
  display: inline-block;
}

.container > button {
  width: 204px;
  min-height: 40px;
  margin-top: 20px;
  min-height: 40px;
  padding: 0;
  border: unset;
  margin-bottom: 20px;
}

.container img {
  width: 204px;
  margin-top: 10px;
}

.steps {
  text-align: right;
}

.steps h2 {
  margin-top: 48px;
  color: var(--pink);
  font-weight: bolder !important;
}

.steps div {
  text-align: center;
}

@media (min-width: 780px) {
  .container {
    max-width: 912px;
    margin: 40px auto;
    text-align: right;
  }

  .container > h2 {
    border-bottom: 1px solid #3e3e3e;
  }

  .container > button {
    margin-bottom: 15px;
  }

  .steps div {
    text-align: unset;
  }

  :global(.row) {
    margin-bottom: 33px;
  }

  .steps h2 {
    margin-top: 20px;
  }

  .container img {
    margin-top: unset;
  }
}
