.bannerSection {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1360px;
}

.banners {
  display: block;
  -webkit-box-shadow: 1px 0px 4px 4px rgba(237,237,237,0.88);
  -moz-box-shadow: 1px 0px 4px 4px rgba(237,237,237,0.88);
  box-shadow: 1px 0px 4px 4px rgba(237,237,237,0.88);
  border-radius: 50px; 
  overflow: hidden;
  margin-top: 10px;
}

.bannerBox {
  flex: 1;
  margin: unset;
  display: block;
}

.bannerBox:hover img,
.bannerBox:focus img {
  box-shadow: 0 0 6px #d0d0d0;
}

.banners img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  transition: all 0.3s;
}

@media (min-width: 480px) {
  .bannerSection {
    padding: 20px 35px;
  }
  .banners { 
    border-radius: 4px;   
  }
}

@media (min-width: 768px) {
  .banners {
    display: flex;
    justify-content: space-between;
  }

  .bannerBox {
    /* margin: 15px 0 15px 15px; */
  }

  .bannerBox:last-child {
    /* margin: 15px 0; */
  }
}
