:global { @import '/css/mainFlag.css'; }

.container {
  width: 100%;
  position: fixed;
  z-index: 10000000;
  padding: 3px 0;
  display: flex;
}

.background {
  height: 70px;
  background-color: #fff;
  width: 100%;
  position: fixed;
  opacity: 1;
  z-index: -1;
  top: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.container > img {
  height: 67px;
}

.closeButton {
  border: unset;
  margin-top: 12px;
  background: unset;
  right: 5px;
  width: 16px;
  padding-right: 13px;
  padding-left: 9px;
  padding-top: 4px;
}

.closeButton > img {
  height: 7px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 11px;
}

.content label:first-child {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
  color: #000;
}

.content label:last-child {
  font-size: 10px;
  color: #000;
}

.installButton {
  background-color: var(--green);
  position: absolute;
  left: 11px;
  bottom: 19px;
  height: 26px;
  color: #fff;
  font-size: 13px;
}
