.root {
  position: relative;
}

.loginWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px 0 30px 0;
}

:global(.ant-select-dropdown-menu-item) {
  font-size: 12px !important;
}

:global(.ant-select-dropdown-menu-item) {
  font-size: 12px !important;
}
