:global(.ant-collapse) {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}

:global(.ant-tabs) {
  overflow: unset;
}

:global(.ant-tabs-nav .ant-tabs-tab) {
  margin: 0 0 0 32px;
}

:global(.ant-collapse) > :global(.ant-collapse-item) > :global(.ant-collapse-header[aria-expanded='true'] .arrow) {
  transform: rotate(180deg);
}

:global(.ant-collapse) > :global(.ant-collapse-item) > :global(.ant-collapse-header) {
  padding: 12px 40px;
  font-size: 14px;
  font-family: var(--BoldSans);
  color: #000;
}

:global(.ant-collapse) > :global(.ant-collapse-item) > :global(.ant-collapse-header .arrow:before) {
  content: '\e93a' !important;
  font-family: motherFlower !important;
  font-size: 9px;
  color: #000;
}

:global(.ant-collapse-header) {
  position: relative;
}

:global(.ant-collapse-header::before) {
  content: '\e95a' !important;
  font-family: motherFlower !important;
  font-size: 14px;
  color: #3e3e3e;
  position: absolute;
  right: 15px;
  line-height: 23px;
  font-weight: 200;
}

:global(.ant-collapse) > :global(.ant-collapse-item:last-child) {
  border: none;
}

:global(.ant-collapse-item-active .ant-collapse-header) {
  color: var(--pink) !important;
}

:global(.ant-collapse) > :global(.ant-collapse-item),
:global(.ant-collapse-content) {
  border-color: #e8e8e8;
  font-size: 13px;
  text-align: justify;
  line-height: 25px;
}
