.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
}
.content,
.direction {
  direction: rtl;
}

.pos {
  position: absolute !important;
}

.backButton {
  position: fixed;
  bottom: 10px;
  margin-left: 28%;
  margin-right: 28%;
  width: 44%;
  background-color: #fe617a;
  border-color: #fe617a;
  border-radius: 19px;
  color: #fff;
}

@media (min-width: 768px) {
  .backButton {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
  }
}
