.wrapp {
  display: flex;
  flex-wrap: wrap;
}

.colorSwitch {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 5px;
  line-height: 15px;
  margin: 3px 0 3px 7px !important;
  text-align: center;
  user-select: none;
  position: relative;
  transition: transform 0.35s;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #f5f5f5;
}

.colorSwitch:hover {
  z-index: 1;
  transform: scale(1.2);
}

.wrapp input[type='checkbox']:checked + label {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.26);
  border: none;
}

.wrapp input[type='checkbox']:checked + label::before {
  content: '\E92D' !important;
  font-family: 'motherFlower' !important;
  font-size: 12px !important;
  color: #ebebeb;
  font-weight: 600;
}

:global(.ant-popover-inner-content) {
  padding: 6px 15px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
}
