.specialOffersContainer {
  margin: 35px auto 0 auto;
  padding: 0 15px;
  max-width: 1360px;
  text-align: center;
}

:global(.offersBox) {
  position: relative;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

:global(.offersBox) :global(.row) {
  align-items: center;
}

.imgWrap {
  display: block;
  margin: 25px;
}

.offerImg {
  height: auto;
  max-width: 100%;
  border-radius: 5px;
}

.label {
  height: 145px;
  position: absolute;
  right: 20px;
  top: -7px;
  z-index: 1;
}

.percent {
  position: absolute;
  display: inline-block;
  right: 28px;
  top: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 49px;
  height: 49px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  z-index: 2;
}

.discount {
  position: absolute;
  right: 28px;
  top: 65px;
  color: #fff;
  font-size: 17px;
  text-align: center;
  z-index: 2;
}

.firstRow {
  margin: 20px 20px 5px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.offerTitle {
  font-family: var(--BoldSans);
  background-color: #f9f9f9;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  color: #000;
  font-size: 18px;
  border-radius: 5px 5px 0 0;
}

.offerDetail {
  display: flex;
}

.offerInfo,
.timer,
.priceInfo {
  flex: 1;
}

.offerInfo .productTitle {
  color: var(--blue);
  font-family: var(--BoldSans);
  font-size: 17px;
  margin-bottom: 10px;
  width: 188px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vendorName,
.deliveryType {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.vendorName b,
.deliveryType b,
.timerTitle,
.priceTitle {
  color: #999;
  font-size: 12px;
}

.vendorName label,
.deliveryType label {
  color: #000;
  font-size: 12px;
  font-family: var(--BoldSans);
}

.featuresList {
  margin-top: 6px;
  margin-bottom: 0;
  height: 55px;
}

.featuresList li i {
  font-size: 8px;
  color: var(--green);
  vertical-align: middle;
  margin-left: 5px;
}

.featuresList li small {
  font-size: 12px;
  font-family: var(--MediumSans);
}

.timerTitle,
.priceTitle {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: var(--MediumSans);
}

.priceInfo,
.timer {
  text-align: center;
}

.profit {
  display: block;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  min-height: 40px;
}

.profit b {
  font-size: 13px;
  color: #999;
}

.profitPrice {
  font-size: 18px !important;
  font-family: var(--BoldSans);
}

.profit label {
  font-size: 13px;
  font-family: var(--MediumSans);
}

.profit .profitPrice,
.profit label {
  color: #000;
}

.priceInfo {
  position: relative;
}

.priceLabels {
  position: relative;
  width: 150px;
  margin: 0 auto;
  height: 90px;
  z-index: 100;
}

.lastPrice,
.mainPrice,
.pickUp,
.delivery {
  width: 150px;
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.lastPrice {
  background-color: var(--green);
  color: #fff;
}

.mainPrice {
  background-color: #ebebeb;
  color: #b4b4b4;
  position: absolute;
  bottom: 15px;
  z-index: -1;
}

.lastPrice b {
  font-size: 20px;
}

.lastPrice label {
  font-size: 16px;
}

.mainPrice b {
  position: relative;
  font-size: 18px;
}

.mainPrice b::before {
  content: '';
  width: 100%;
  border-bottom: 1px solid #b4b4b4;
  position: absolute;
  right: -4px;
  top: 50%;
}

.mainPrice label {
  font-size: 14px;
}

.pickUp,
.delivery {
  border: 1px solid #e8e8e8;
  font-size: 18px;
  margin-top: 10px;
}

.pickUp {
  color: var(--green);
}

.delivery {
  color: var(--pink);
}

.offerSlider {
  margin: 0 20px;
  padding: 0 20px;
}

.slidesImg {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  height: auto;
  max-width: 100%;
  transition: all 0.3s;
}

.slides {
  position: relative;
  /* padding: 15px 7px 15px 7px; */
  margin-top: 1px;
}

.slides:hover .slidesImg {
  box-shadow: 0 0 6px #d0d0d0;
}

.slides .label {
  position: absolute;
  left: 6px;
  top: 24px;
  right: auto;
}

.slides .label img {
  height: 25px;
}

.slides small {
  position: absolute;
  font-size: 12px;
  color: #fff;
  top: 5px;
  left: 15px;
}

.offerSlider :global(.slick-next),
.offerSlider :global(.slick-prev) {
  border: none;
  border-radius: 50%;
}

.offerSlider :global(.slick-prev::before),
.offerSlider :global(.slick-next::before),
.offerSlider :global([dir=rtl] .slick-prev::before) {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.details {
  display: block;
  height: 90px;
}

.timerWrapper {
  display: flex;
  justify-content: center;
  direction: ltr;
  height: 90px;
}

.timerWrapper .timerNum {
  display: flex;
  margin: 10px 3px;
}

.timerWrapper .numbers {
  display: inline-block;
  width: 30px;
  height: 45px;
  background-color: #f9f9f9;
  border: 1px solid #e8e8e8;
  margin: 5px 3px;
  line-height: 45px;
  font-size: 20px;
  font-family: var(--MediumSans);
  color: #000;
  border-radius: 4px;
}

.comma {
  margin: 0 !important;
  display: inline-block !important;
  line-height: 77px;
  font-size: 20px;
  color: #000;
}

.mobileOffer {
  position: relative;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.mobileOffer .mainPrice {
  bottom: -5px;
}

.mobileOffer .timerTitle {
  margin-bottom: 0;
  margin-top: 15px;
}

.mobileOffer .timerWrapper {
  justify-content: center;
}

.mobileOffer .offerImg {
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin: 0;
}

:global(.mainOffer) {
  position: relative;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.mobileProductInfo {
  display: block;
  align-items: center;
}

.mobileOffer .productTitle {
  font-weight: 200;
  font-size: 16px;
  width: auto;
}

.mobileOffer .vendorName,
.mobileOffer .deliveryType {
  font-size: 13px;
}

.mobileOffer .priceInfo {
  position: relative;
  box-shadow: none;
  margin: 0;
  flex: unset;
  padding: 5px 0 20px 0;
}

.mobileOffer .specialOffers {
  background-color: transparent;
}

.mobileOffer .priceLabels {
  margin: 0 auto;
  width: 135px;
  height: 70px;
}

.mobileOffer .offerInfo {
  text-align: center;
  padding: 15px 0 0 0;
}

.mobileOffer .lastPrice,
.mobileOffer .mainPrice {
  width: 135px;
  border-radius: 7px;
  padding: 5px 0;
  line-height: 28px;
}

.mobileOffer .lastPrice b {
  font-size: 18px;
}

.mobileOffer .lastPrice label {
  font-size: 14px;
}

.mobileOffer .mainPrice b {
  font-size: 16px;
}

.slider :global(.slick-slide) {
  /* max-width: 129px !important; */
  /* float: right; */
}

@media (min-width: 480px) {
  .specialOffersContainer {
    padding: 0px;
  }

  .mobileProductInfo {
    display: flex;
  }

  .mobileOffer .priceLabels {
    margin: 0;
    height: 70px;
    width: 135px;
  }

  .mobileOffer .offerInfo {
    text-align: right;
    padding: 15px;
  }

  .mobileOffer .priceInfo {
    padding: 0 0 0 15px;
  }
}

@media (min-width: 481px) and (max-width: 1050px) {
  .firstRow {
    border-bottom: unset;
    margin-top: -65px;
  }

  .parentProfit {
    margin-right: 23%;
    margin-top: -19px;
    width: 55%;
  }

  .offerInfo {
    margin-right: 10px;
  }

  .featuresList {
    height: 79px;
  }

  :global(.detailProduct) {
    margin-right: 7px;
  }

  .priceInfo {
    top: -67px;
    left: -21px;
  }

  .slider {
    top: -8px;
  }
}

.title {
  display: inline-block;
  margin: 25px auto;
  padding: 0 5px 6px 6px;
  border-bottom: 1.5px solid var(--pink);
  color: #000;
  font-size: 16px;
  font-weight: bold !important;
}

.slider {
  /* position: absolute; */
  top: 0;
  width: 90%;
  margin: 0 auto;
  /* height: 300px; */
  /* bottom: -85px; */
  margin-right: 10%;
  margin-left: 10%;
  /* background-color: #fff; */
}

.specialOffersContainer :global(.slick-prev),
.specialOffersContainer :global(.slick-next) {
  width: 30px;
    height: 30px;
    top: unset;
    bottom: -26px;
    border: none !important;
    color: #000 !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


.specialOffersContainer :global(.slick-prev) {
  left: 15px;
}

.specialOffersContainer :global(.slick-next) {
  right: 15px;
}