.content {
  direction: rtl;
  margin: 0 auto;
  padding: 0;
  max-width: 1100px;
}

@media (max-width: 1360px) {
  .content {
    padding: 0 40px;
  }
}

@media (max-width: 1200px) {
  .content {
    padding: 0 60px;
  }
}

@media (max-width: 992px) {
  .content {
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  .content {
    padding: 0 15px;
  }
}
