.navigation {
  flex: 1;
  /* display: inline-block; */
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;
}

.link {
  display: inline-block;
  color: #000;
  padding: 5px 0 5px 10px;
  transition: unset !important;
  font-size: 13px;
  font-weight: bold;
}

.link:hover,
.link:focus {
  color: var(--pink);
  text-decoration: none;
  border-bottom: none;
}

.userMenu,
.loginUser {
  /* position: absolute; */
  /* top: -67px; */
  float: right;
  list-style: none;
  margin: 0;
  padding: 5px 0px;
}

.userImage {
  border-radius: 50%;
}

.row2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 12px 0 0;
}

.basket > span {
  position: relative;
}

.basket > span > i{
  color: var(--pink);
  font-size: 17px;
  vertical-align: middle;
  margin-left: 6px;
}

.basket span small {
  position: absolute;
  background: var(--green);
  background: #fff;
  border: 1px solid var(--pink);
  display: block;
  width: 17px;
  height: 16px;
  line-height: 15px;
  top: -5px;
  border-radius: 50%;
  left: 14px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: var(--pink);
}

.userMenu li hr {
  border: none;
  border-left: 1px solid #999;
  height: 16px;
  width: 1px;
  top: -6px;
  position: relative;
}


.userMenu li,
.loginUser li {
  position: relative;
  display: inline-block;
  float: right;
}

.userMenu img {
  width: 112px;
  height: unset;
}

.userName {
  display: inline-block;
  margin: 0 6px 0 0;
  color: #000;
  cursor: pointer;
  font-weight: unset;
}

.userName i {
  font-size: 9px;
  margin-right: 4px;
  vertical-align: sub;
}

.dropDown {
  direction: rtl;
}

:global(.showHeader) .link {
  color: #fff;
}

.greeting {
  margin: 0 10px 0 0;
  color: #000;
}

.loginUser :global(.mf-user) {
  display: inline-block;
  width: 23px;
  height: 23px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 21px;
  font-size: 13px;
}

:global(.ant-dropdown-menu) {
  text-align: right;
  background-color: rgba(255, 255, 255, 0.48);
  box-shadow: none;
  padding: 10px 0;
}

:global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-submenu-title) {
  font-size: 13px;
}

:global(.ant-dropdown-menu-item) > a,
:global(.ant-dropdown-menu-submenu-title) > a {
  color: #000;
}

:global(.ant-dropdown-menu-item:hover),
:global(.ant-dropdown-menu-submenu-title:hover) {
  background-color: #fff !important;
}

:global(.ant-dropdown-menu-item:last-child),
:global(.ant-dropdown-menu-submenu-title:last-child),
:global(.ant-dropdown-menu-item:last-child) > a,
:global(.ant-dropdown-menu-submenu-title:last-child) > a,
:global(.ant-dropdown-menu-item:first-child),
:global(.ant-dropdown-menu-submenu-title:first-child),
:global(.ant-dropdown-menu-item:first-child) > a,
:global(.ant-dropdown-menu-submenu-title:first-child) > a {
  border-radius: 0;
}

:global(.ant-dropdown) {
  max-width: 170px;
}


.loginUser li {
  top: 12px;
 }

 
@media (min-width: 481px) {
  .link {
    padding: 5px 10px;
    font-size: 14px;
    border-bottom: 1px solid transparent !important;
  }

  .link:hover,
  .link:focus {
    color: #fff;
    border-bottom: 1px solid var(--pink) !important;
  }

  .userMenu,
  .loginUser {
    position: relative;
    top: 0;
  }

 .row2 {
    padding: 0;
 }
}

@media (min-width: 1025px) {
  
  .navigation {
    padding: 0;
  }
}

@media (max-width: 480px) {
  
  .userMenu li:last-child {
    padding-right: 10px;
  }
}