.card {
  animation-delay: 0.1s;
}

.cardProductAction :global(.ant-btn) {
  position: unset !important;
}

.cardProductAction path {
  fill: var(--pink);
}

.cardProduct {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  box-shadow: none;
  transition: all ease 0.5s;
  direction: rtl;
  border-radius: 5px;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.cardProduct:hover {
  /* box-shadow: 0 0 3px #ddd; */
  -webkit-box-shadow: 0px 8px 18px 0px rgba(232,227,232,1);
    box-shadow: 0px 8px 18px 0px rgba(232,227,232,1);
}

.productLink {
  position: relative;
  display: block;
  width: 100%;
}

.cardProductBadge {
  position: absolute;
  width: 127px;
  height: 42px;
  left: -4px;
  top: 5px;
  z-index: 99;
}

:global(.animate) {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


.cardProductBadge small {
  position: absolute;
  left: 30px;
  top: 7px;
  color: #fff;
  font-size: 14px;
}

.cardProductImg {
  width: 100%;
  height: 250px;
  display: block;
  max-width: 100%;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 5px 5px 0 0;
  transition: all 1s;
}

.cardProductImg:last-child {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 2;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.cardProductMedia {
  position: relative;
  background-image: url('https://cdn.motherflower.com:7090/SiteAsset/default.jpg');
}

.cardProductMedia:hover .cardProductImg:last-child {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 1s;
}

.cardProductMedia a div {
  height: 190px;
  width: 100%;
}

.cardProductTitle {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 3;
  color: #fff;
  background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.4) 100%);
}

.cardProductTitle > * {
  align-self: flex-start;
}

.cardProductText {
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
  width: 172px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.cardProductText a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  letter-spacing: 0;
}

.oxy-card-product:hover .cardProductBadge {
  transform: scale(1);
}

.ratingAnimated {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s;
  transform: translateY(10px);
}

.cardProduct:hover .ratingAnimated {
  opacity: 1;
  max-height: 55px;
  transform: translateY(0);
}

.cardProductAction {
  padding: 7px 0 0 0;
}

.productPrice {
  display: block;
  font-family: var(--RegularSans);
}

.productPrice del {
  opacity: 0.5;
  font-size: 16px;
}

.productPrice ins {
  text-decoration: none;
  font-size: 17px;
  font-weight: 200;
  color: var(--green);
  margin-left: 6px;
  margin-right: 6px;
}

.productPrice .currency {
  color: var(--green);
  font-size: 14px;
  font-weight: 200;
}

.oxy-product-slider {
  position: relative;
  padding-left: 96px;
}

@media (max-width: 839px) {
  .oxy-product-slider {
    padding-left: 0;
  }
}

.rating {
  height: 55px;
  overflow: hidden;
  width: calc(5em + 15px);
}

.rating {
  width: 100%;
  position: relative;
  margin: 0 13px 10px 0;
}

.rating :global(.rate-text) {
  font-size: 14px;
  color: #fff;
}

.addToCard {
  border: none !important;
  overflow: hidden;
  font-size: 22px;
  padding: 0;
  display: inline-block;
  margin-left: 15px;
  transition: all 1s ease;
  left: 0;
  top: 3px;
  color: rgba(24, 144, 255, 0.68);
}

.addToCard:hover,
.addToCard:focus {
  color: #1890ff;
}

.addToCard.add {
  animation: shake 1s;
}

@keyframes shake {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.rate {
  display: block;
  padding: 0 15px 5px 15px;
}

.zeroRate {
  padding-bottom: 10px;
}

:global(.ant-rate) {
  font-size: 14px;
}

:global(.slick-slide) :global(.col-md-12) {
  padding-right: 10px !important;
  padding-left: 15px !important;
}

.deletePrice {
  text-decoration: line-through !important;
  font-family: var(--LightSans);
}
