  .root {
  padding-left: 60px;
  padding-right: 60px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 0 40px;
}

.container div {
  text-align: justify;
}

.container h2 {
  font-family: var(--MediumSans);
  display: inline-block;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}
