.burgerMenu {
  position: relative;
  height: 100vh;
}

.basketList {
  overflow: auto;
  height: 84.5vh;
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  background: #fff;
}

.basketList li {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.basketList li:last-child {
  border-bottom: none;
}

.basketList :global(.ant-avatar) {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-left: 10px;
  border-radius: 2px;
}

.deleteProduct {
  background-color: transparent;
  font-size: 7px;
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: none;
}

.proDetail {
  flex: 1;
}

.proDetail :global(.mf-close) {
  display: inline-block;
  margin: 0 5px;
  font-size: 6px;
}

.proDetail p b {
  font-family: var(--MediumSans);
  font-weight: normal;
}

.proName {
  color: var(--pink);
  width: 125px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  margin: 10px 0 5px 0;
}

.basketListFooter {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  background: #fff;
}

.basketListFooter li:first-child {
  text-align: center;
  border-top: 1px solid #e8e8e8;
  padding: 15px;
}

.basketListFooter li:last-child {
  text-align: left;
  border-top: 1px solid #e8e8e8;
  padding: 15px;
}

.basketListFooter li :global(.ant-btn) {
  background: var(--green);
  color: #fff !important;
  border-radius: 2px !important;
  border: none !important;
  margin-right: 5px;
}

.cart {
  background-color: var(--pink) !important;
}

.empty {
  color: #a5a5a5;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e7;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  :global(.paymentToUp) {
    bottom: 65px;
  }
}

.emptyBasket {
  background-color: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  text-align: center;
  padding: 15px;
}

.emptyBasket i {
  font-size: 37px;
  position: relative;
  color: #c6c6c6;
}

.emptyBasket i i {
  position: absolute;
  left: 9px;
  color: #c6c6c6;
  font-size: 16px;
  background-color: #f9f9f9;
  top: 4px;
  border-radius: 12px;
}

.emptyBasket div {
  margin-top: 5px;
  color: #c6c6c6;
  font-size: 14px;
}

@media (max-width: 480px) {
  :global(.am-drawer-sidebar) {
    overflow: unset !important;
    overflow-y: scroll !important;
  }

  :global(.am-drawer-sidebar)::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  :global(.am-drawer-sidebar)::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }

  :global(.am-drawer-sidebar)::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: unset;
  }
}
