:global(.ant-collapse-header) {
  padding: 8px 10px !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  background: #f0f2f5 !important;
  height: 48px !important;
  padding: 0 15px 0 0 !important;
  line-height: 48px !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
  -webkit-transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header[aria-expanded='true'] .arrow {
  -webkit-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important;
}

.ant-collapse-header .arrow {
  font-size: 16px !important;
  height: 32px !important;
  border-radius: 50% !important;
  cursor: pointer !important;
  width: 32px !important;
  text-align: center !important;
  margin-top: 7px !important;
  line-height: 32px !important;
  transition: all ease 0.5s;
}

.ant-collapse-header .arrow:hover {
  background: #d9d9d9 !important;
}

.ant-collapse > .ant-collapse-item {
  border: none !important;
}

.ant-collapse-borderless {
  margin-bottom: 15px !important;
}

.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 15px !important;
}

.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
  background-color: transparent !important;
  border: 1px solid #eee !important;
  border-top: 0 !important;
  border-radius: 0 !important;
}
