.userName {
  color: #484848;
  font-weight: 600;
  font-size: 13px;
}

.date {
  margin-bottom: 0;
  font-family: sans-serif;
  color: #484848;
}

.comment {
  border: 1px solid #e8e8e8;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comment p {
  margin-bottom: 0;
}

.rateBox :global(.ant-rate) {
  line-height: 30px;
  height: 30px;
}

.title {
  color: #484848;
  font-weight: 600;
  font-size: 14px;
}
