.addBtn {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  z-index: 100;
}

@media (min-width: 992px) {
  .addBtn {
    left: 20px;
    bottom: 20px;
    width: 62px;
    height: 62px;
  }
}

:global(.addToCard) {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 100;
  width: 40px;
  height: 40px;
  color: white;
  background: var(--pink);
  border: none;
  font-size: 16px;
  line-height: 48px;
  transition: all 1s ease;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

:global(.addToCard:hover),
:global(.addToCard:focus) {
  color: var(--pink);
}

:global(.showFloatingBtn) {
  bottom: 20px !important;
}

@media (min-width: 992px) {
  .addBtn {
    left: 20px;
    bottom: 20px;
    width: 62px;
    height: 62px;
  }

  :global(.addToCard) {
    line-height: 60px;
  }
}

:global(.addToCard) small {
  position: absolute;
  background: var(--green);
  display: block;
  width: 20px;
  height: 20px;
  line-height: 22px;
  top: -5px;
  border-radius: 50%;
  left: -5px;
  font-size: 12px;
}

@media (min-width: 992px) {
  :global(.addToCard) small {
    width: 25px;
    height: 25px;
    line-height: 25px;
    top: -5px;
    left: -10px;
    font-size: 14px;
  }
}

:global(.addToCard) svg {
  transform: scaleX(-1);
}

.addBtn:hover small,
.addBtn:focus small {
  color: #fff;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

:global(.addToCard.rubberBand) {
  animation: rubberBand 1s;
}

.badgeCount {
  position: fixed;
  bottom: 35px;
  left: 35px;
  z-index: 100;
}

@media (min-width: 992px) {
  .badgeCount {
    bottom: 55px;
    left: 55px;
  }
}

@media (min-width: 992px) {
  :global(.addToCard) {
    bottom: -60px;
    left: 20px;
    width: 50px;
    height: 50px;
    font-size: 22px;
  }
}

.addBtn :global(.ant-badge-count) {
  background: var(--green) !important;
}

@media (max-width: 768px) {
  :global(.showFloatingBtn) {
    bottom: 10px !important;
  }
}
