.container {
  padding-left: 60px;
  padding-right: 60px;
}

.container h2 {
  font-family: var(--MediumSans);
  display: inline-block;
  border-bottom: 1px solid #000;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 0 40px;
}

.about {
  margin-top: 25px;
  margin-bottom: 35px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.target h2,
.advantages h2 {
  color: var(--pink);
  border-bottom: 0;
  margin-bottom: 20px;
}

.advantages h2{
  margin-top: 20px;
}

.target {
  text-align: justify;
  padding-left: 40px;
}

.advantages {
  text-align: justify;
  padding-right: 40px;
}

.topFooter {
  text-align: center;
}

.topFooter img {
  width: 85%;
}

@media (min-width: 769px) {
  .content {
    display: flex;
  }
}

@media (max-width: 768px) {
  .target {
    padding-left: 0;
  }

  .advantages {
    padding-right: 10px;
    padding-left: 0;
  }
}
