.checkoutContainer {
  width: 100%;
}

.checkoutContainer :global(.ant-card-bordered) {
  border-bottom: none;
  margin-bottom: 5px;
}

.checkoutContainer b {
  font-weight: 200;
  color: #000;
  font-size: 12px;
}

.formWrapper {
  position: relative;
  text-align: center;
}

.orderTitle {
  font-family: var(--MediumSans);
  color: #000;
  padding: 15px 15px 5px 15px;
}

.paymentTitle {
  font-family: var(--MediumSans);
  color: #000;
}

.formWrapper :global(.mf-credit-card) {
  color: #fff;
  background-color: var(--pink);
  border: none;
  position: absolute;
  left: 0;
  top: -45px;
  width: 50px;
  font-size: 24px;
  border-radius: 50%;
  height: 50px;
  text-align: center;
  padding: 13px;
}

.checkoutPayment {
  position: relative;
  direction: rtl;
  width: 100%;
  align-self: center;
  background: rgba(255, 255, 255, 0.48);
  padding: 15px;
  text-align: center;
}

.checkoutPayment p {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .checkoutPayment {
    padding: 20px;
  }
}

.productDetail :global(.ant-avatar) {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-left: 10px;
  border-radius: 2px;
}

@media (min-width: 420px) {
  .productDetail :global(.ant-avatar) {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
}

.checkoutPayment :global(.ant-table-thead) > tr > th {
  font-weight: 200 !important;
  color: #000 !important;
  background: #ebebeb !important;
}

.checkoutPayment :global(.ant-table) {
  border-radius: 0 !important;
}

.checkoutPayment :global(.ant-table) table tr th:first-child,
.checkoutPayment :global(.ant-table) table tr td:first-child {
  text-align: right !important;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding-bottom: 2px;
  color: #000;
  font-family: var(--MediumSans);
}

.formWrapper :global(.mf-pin) {
  color: #fff;
  background-color: var(--pink);
  border: none;
  position: absolute;
  left: 0;
  top: -45px;
  width: 50px;
  font-size: 20px;
  border-radius: 50%;
  height: 50px;
  text-align: center;
  padding: 14px;
}

.checkOutPage {
  margin: 30px 0;
}

.checkoutContainer :global(.ant-card-body) {
  padding: 0 !important;
}

.checkOutPage :global(.form-group),
.checkOutPage :global(.form-radio) {
  margin: 0 !important;
}

.checkOutPage :global(.ant-avatar) {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-left: 10px;
  border-radius: 2px;
}

@media (min-width: 520px) {
  .checkOutPage :global(.ant-avatar) {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
}

.deleteAction {
  background-color: var(--pink);
  color: #fff;
  width: 22px;
  padding: 0;
  font-size: 7px !important;
  border-radius: 50%;
  height: 22px;
  line-height: 5px !important;
  font-family: var(--MediumSans);
  border: none !important;
  position: absolute;
  left: 10px;
  top: 15px;
}

@media (min-width: 992px) {
  .deleteAction {
    position: unset;
    left: unset;
    top: unset;
  }
}

.deleteAction:hover,
.deleteAction:focus {
  background-color: var(--pink);
  color: #fff;
  border: none;
}

.productName {
  display: block;
  margin-top: 5px;
  margin-bottom: 0;
  color: #000;
  font-family: var(--MediumSans);
}

.smce,
.mainPrice,
.save {
  display: block;
}

.toman {
  font-family: var(--MediumSans);
  margin-right: 5px;
  font-size: 12px !important;
}

.label {
  margin-right: 5px;
  font-size: 12px;
}

.mainPrice {
  color: #777;
}

.count {
  width: 30px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  box-shadow: none;
  font-size: 13px;
  color: #000;
}

.decrement,
.increment {
  display: inline-block;
  background-color: transparent !important;
  border: none !important;
  color: #000 !important;
  width: 22px;
  padding: 0;
  font-size: 8px !important;
  border-radius: 50%;
  height: 22px;
  line-height: 0 !important;
  font-family: var(--MediumSans);
}

.decrement {
  margin: 0 5px 0 0;
}

.increment {
  margin: 0 0 0 5px;
}

.decrement:hover,
.decrement:focus,
.increment:hover,
.increment:focus {
  background-color: #e7e7e7 !important;
}

.totalPrice {
  color: #000;
  border-top: 1px solid #e8e8e8;
  padding: 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 480px) {
  .totalPrice {
    font-size: 14px;
  }
}

.receipt,
.details {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

@media (max-width: 768px) {
  .receipt {
    display: block;
  }
}

.details .header {
  display: block;
  width: 100%;
}

@media (min-width: 520px) {
  .details .header {
    display: flex;
    flex: 1;
    width: 100%;
  }
}

.details .header h4 {
  flex: 1;
}

.discount,
.total,
.totalPrice {
  flex: 1;
}

.productPrice {
  display: block;
  padding-top: 5px;
  align-items: center;
  border-top: 1px solid #e8e8e8;
}

@media (min-width: 480px) {
  .productPrice {
    display: flex;
  }
}

.discount {
  padding: 15px;
}

.total b {
  font-family: var(--MediumSans);
  font-size: 13px;
}

@media (min-width: 768px) {
  .total {
    padding: 15px 15px 15px 45px;
  }
}

.receiptPrices li {
  margin: 5px 0;
}

.productList li,
.productHeader li {
  display: inline-block;
  list-style: none;
  align-items: center;
  align-self: center;
  white-space: nowrap;
}

.gift {
  height: 40px;
}

.discountNum {
  display: flex;
}

.discountNum :global(.ant-btn) {
  padding: 0 10px;
  font-size: 13px;
  margin-right: 7px;
  border-radius: 2px;
  color: #fff;
  overflow: hidden;
}

:global(.discountBtn) {
  width: 65px;
}

.yellowBtn {
  background-color: #ff9113 !important;
}

.yellowBtn:hover,
.yellowBtn:focus {
  background-color: #ff9113;
  color: #fff !important;
  border-color: transparent;
}

.input,
.inputError {
  width: 78%;
  border: none;
  padding: 5px 0;
  font-size: 12px !important;
  border-bottom: 1px solid #e8e8e8;
}

@media (min-width: 768px) {
  .input,
  .inputError {
    width: 70%;
  }
}

.return {
  border: none;
  background-color: #d7d7d7;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}

.return:hover,
.return:focus {
  background-color: #d7d7d7;
  color: #fff !important;
  border-color: transparent;
}

.continue {
  float: left;
  border: none;
  background-color: var(--green);
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}

.continue:hover,
.continue:focus {
  background-color: var(--green);
  color: #fff !important;
  border-color: transparent;
}

@media (min-width: 768px) {
  .return,
  .continue {
    font-size: 14px;
  }
}

.row {
  display: flex !important;
  flex-flow: wrap;
  justify-content: space-between;
}

.Card {
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width: 480px) {
  .Card {
    width: 49%;
  }
}

@media (min-width: 992px) {
  .Card {
    width: 24%;
  }
}

.relatedPro {
  color: #111;
  font-family: var(--MediumSans);
  text-align: center;
  margin: 35px auto;
  display: inline-block;
  border-bottom: 1px solid var(--pink);
  padding-bottom: 5px;
}

.checkOutPage :global(.ant-card-body),
.checkOutPage :global(.ant-card-wider-padding .ant-card-body) {
  padding: 15px;
}

.proDetail {
  flex: 1;
}

.productDetailDelivery,
.productDetailPickUp {
  flex: 1;
  align-items: center;
  align-self: center;
}

.productDetailDelivery p,
.productDetailPickUp p {
  margin-bottom: 0;
  font-size: 13px;
}

@media (min-width: 520px) {
  .productDetailDelivery p,
  .productDetailPickUp p {
    margin-bottom: 5px;
  }
}

.mobileCounter {
  border-top: 1px solid #e8e8e8;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.mobileCounter b {
  line-height: 25px;
  color: #000;
}

.orders,
.banks {
  position: relative;
  margin: 5px 0;
  padding: 0;
  text-align: right;
  border-radius: 2px;
  border-bottom: none;
}

.banks,
.coupon {
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 15px;
}

.total {
  background: #fff;
  padding: 15px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

@media (min-width: 768px) {
  .orders {
    background: #fff;
  }
}

.productHeader {
  background-color: var(--gray);
  padding: 10px 5px 10px 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.productList {
  padding: 15px 5px 10px 0;
  margin: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.productList p {
  margin-bottom: 0;
}

.productList .productName {
  margin-bottom: 0;
  margin-top: 5px;
}

.productHeader li:first-child,
.productList li:first-child {
  text-align: right;
}

.description {
  display: block;
  padding: 10px;
  font-size: 13px;
  border-bottom: none;
  border-top: 1px solid #e8e8e8;
  text-align: justify;
  position: relative;
}

.btnEvent,
.btnEvent:hover,
.btnEvent:focus {
  background-color: var(--pink);
  color: #fff;
  position: absolute;
  left: 15px;
  bottom: 7px;
  border-radius: 3px;
  border-color: var(--pink);
  width: 180px;
}

.btnEventOk,
.btnEventOk:hover,
.btnEventOk:focus {
  background-color: #fff;
  color: var(--green);
  position: absolute;
  left: 15px;
  bottom: 7px;
  border-radius: 3px;
  width: 180px;
  border: 1px solid var(--green);
  padding: 5px;
}

.btnEventApp,
.btnEventApp:hover,
.btnEventApp:focus {
  background-color: var(--pink);
  color: #fff;
  bottom: 7px;
  border-radius: 3px;
  width: 95%;
  margin: 6px 15px;
  border-color: var(--pink);
  margin-right: 10px;
}

.btnEventAppOk,
.btnEventAppOk:hover,
.btnEventAppOk:focus {
  background-color: #fff;
  color: var(--green);
  bottom: 7px;
  border-radius: 3px;
  width: 95%;
  margin: 6px 10px;
  position: relative;
  border: 1px solid var(--green);
  padding: 5px;
}

.btnEventOk i,
.btnEventAppOk i {
  margin-left: 7px;
}

.btnEventOk div,
.btnEventAppOk div {
  position: absolute;
  left: 0;
  top: 7px;
}

.btnEventOk div i,
.btnEventAppOk div i {
  cursor: pointer;
  margin-left: 14px;
  color: #999;
}

.validationOccasion {
  margin-right: 110px;
  color: red;
}

.widthDescription {
  max-width: 70%;
}

:global(.bodyModal) {
  display: flex;
  margin-bottom: 8px;
  padding: 10px;
}

:global(.bodyModal) label {
  width: 130px;
  margin-top: 5px;
}

:global(.fullWidth) {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 4px;
}

:global(.bodyModal) input:focus {
  border-color: #40a9ff;
}

:global(.hideITag) {
  display: none;
}

.textArea {
  height: 90px !important;
}

.previewBtn {
  position: absolute;
  right: 0;
}

:global(.preview .ant-modal-close-x) {
  color: #000 !important;
}

:global(.preview .ant-modal-close-x) i {
  display: none;
}

:global(.preview .ant-modal-close-x) {
  width: 30px;
  line-height: 23px;
  font-size: 8px;
}

:global(.preview .ant-modal-footer) {
  border-top: none;
}

:global(.preview .ant-modal-body) {
  padding-top: 5px !important;
}

.parentBody {
  border: 6px solid;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.bodyPreview {
  margin: 2px;
  border: 4px solid;
  padding: 15px;
}

.bodyPreview div:nth-child(1) {
  font-weight: bolder;
  margin-right: 5px;
}

.bodyPreview div:nth-child(2) {
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.bodyPreview div:nth-child(3) {
  font-weight: bolder;
  position: absolute;
  bottom: 38px;
  left: 46px;
}

.userDescription :global(.fullWidth) {
  margin: 0 !important;
}

.descriptionMobile {
  margin-bottom: 5px;
  padding-top: 0 !important;
}


.descriptionMobile .userDescription {
  width: 100%;
}

@media (max-width: 1200px) {
  .btnEventOk,
  .btnEvent,
  .btnEventOk:hover,
  .btnEvent:hover,
  .btnEventOk:focus,
  .btnEvent:focus {
    position: relative !important;
    width: 100%;
    margin-top: 12px;
    left: 0;
    bottom: 0;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .btnEventOk,
  .btnEvent {
    bottom: unset;
    top: 10px;
  }
}

@media (min-width: 480px) {
  .description {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .description {
    border-bottom: 1px solid #e8e8e8;
  }
}

.content {
  line-height: 18px;
}

.description b {
  font-family: var(--MediumSans);
  margin-left: 3px;
}

@media (min-width: 480px) {
  .content {
    line-height: 28px;
  }
}

.pickupList .time,
.pickupList .date,
.pickupList .type,
.mobileCardPickUp .time,
.mobileCardPickUp .date,
.mobileCardPickUp .type {
  color: var(--green);
}

.deliveryList .time,
.deliveryList .date,
.deliveryList .type,
.mobileCardDelivery .time,
.mobileCardDelivery .date,
.mobileCardDelivery .type {
  color: var(--pink);
}

.mobileCardPickUp .type,
.mobileCardDelivery .type {
  white-space: nowrap;
  font-size: 12px;
  margin: 5px 0 5px 0;
}

@media (min-width: 480px) {
  .mobileCardPickUp .type,
  .mobileCardDelivery .type {
    font-size: 14px;
  }
}

.type b {
  color: #333;
}

.unitePrice {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
  padding: 10px;
  font-size: 13px;
}

.priceValue {
  font-family: var(--MediumSans);
  font-size: 16px;
}

@media (min-width: 480px) {
  .unitePrice {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .unitePrice {
    border-top: none;
  }
}

.mobileDiscount {
  color: #6c26af;
  border-top: 1px solid #e8e8e8;
  background-color: #e7e7e7 !important;
  padding: 10px;
  font-family: var(--MediumSans);
  text-align: center;
  font-size: 13px;
}

.mobileDiscount b {
  font-size: 13px;
  font-family: var(--MediumSans);
}

@media (min-width: 480px) {
  .mobileDiscount {
    font-size: 14px;
  }
}

.counterBtns {
  display: inline-block;
}

small {
  margin-right: 3px;
  font-family: var(--MediumSans);
}

.totalPay {
  display: block;
  border: 1px solid #e8e8e8;
  margin-bottom: 10px;
  padding: 10px;
}

@media (min-width: 768px) {
  .totalPay {
    display: flex;
    padding: 0;
    border: none;
    border-bottom: 1px solid #e8e8e8;
  }
}

.disValue,
.final {
  flex: 1;
  align-items: center;
  padding: 0;
  align-self: center;
}

@media (min-width: 768px) {
  .final {
    padding: 10px;
    border-right: 1px solid #e8e8e8;
  }

  .disValue {
    padding: 10px;
  }
}

.price b {
  color: #000;
  font-size: 14px;
  font-family: var(--MediumSans);
}

.value {
  font-size: 16px !important;
  font-family: var(--MediumSans);
}

.value small {
  margin-right: 0;
  font-size: 10px;
  font-weight: 200;
}

.coupon {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
  border-top: none;
  padding: 15px 15px 0 15px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.couponForm {
  flex: 1;
  text-align: right;
}

.couponForm :global(.discountBtn) {
  display: block;
  margin: 13px 0;
  width: 65px;
  padding: 0 10px;
  font-size: 13px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

@media (min-width: 768px) {
  .mask {
    display: block;
    visibility: visible;
  }
}

.price {
  float: left;
  font-family: var(--MediumSans);
  display: flex;
  justify-content: space-between;
}

.receiptPrices {
  list-style: none;
  padding: 0;
}

.receiptPrices li b {
  font-family: var(--MediumSans);
}

.receiptPrices li:nth-child(4) {
  padding-bottom: 10px;
}

.receiptPrices li:last-child {
  border-top: 1px solid var(--pink);
  font-family: var(--MediumSans);
  color: #333;
  padding-top: 10px;
  font-size: 15px;
}

.radios {
  margin: 20px 0;
}

.radios :global(.ant-radio-group) {
  display: block;
}

.radios :global(.ant-radio-inner::after) {
  top: 2px;
  left: 2px;
}

.radios :global(.ant-radio-checked::after),
.radios :global(.ant-radio-checked .ant-radio-inner) {
  border: 2px solid #000 !important;
}

.radios :global(.ant-radio-wrapper) {
  width: 100%;
  color: #000;
}

.radios :global(.ant-radio-inner::after) {
  background-color: #000 !important;
}

.radios :global(.ant-radio-focused .ant-radio-inner),
.radios :global(.ant-radio:hover .ant-radio-inner),
.radios :global(.ant-radio-wrapper:hover .ant-radio .ant-radio-inner) {
  border-color: #1890ff !important;
}

@media (min-width: 768px) {
  .radios :global(.ant-radio-wrapper) {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .radios :global(.ant-radio-wrapper) {
    width: 35%;
  }
}

.logo {
  margin-left: 8px;
}

.pickupUl,
.deliveryUl {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.deliveryUl {
  padding-top: 10px;
}

.priceUl {
  display: flex;
  align-items: start;
  padding: 0 10px;
  margin: 10px 0;
}

.mainCol {
  flex: 1;
}

.mainCol .price {
  display: block;
  width: 100%;
  text-align: left;
  margin-left: 5px;
  color: #000;
}

.priceUl li label {
  display: block;
  color: #000;
  font-family: var(--MediumSans);
}

.proImg {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.proDetails {
  flex: 1;
}

:global(.confirmationBtn) {
  height: 32px;
  font-size: 13px;
  box-shadow: 0 2px 4px 0 rgba(45, 45, 45, 0.42);
}

@media (min-width: 768px) {
  :global(.confirmationBtn) {
    width: 370px;
    font-size: 14px;
  }
}

.pickupList,
.deliveryList,
.mobileCardPickUp,
.mobileCardDelivery {
  position: relative;
}

.expired {
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 5px;
  height: 60px;
  line-height: 30px;
  color: #ef474e;
  font-family: var(--MediumSans);
  border-radius: 5px;
  border: 4px solid #ef474e;
  transform: translateX(-50%) translateY(-50%) rotate(20deg);
}

.expired p {
  margin: 0;
  padding: 6px;
  white-space: nowrap;
  border: 1px solid #ef474e;
}

.userDescription {
  padding: 30px 10px;
  border-bottom: 1px solid #e8e8e8;
}

.couponForm h4 {
  font-size: 14px;
  font-family: var(--MediumSans);
  margin-bottom: 12px;
}

.userDescription h4 {
  font-size: 13px;
  font-family: var(--MediumSans);
}

.penImg {
  margin-left: 5px;
}

.userDescription :global(.form-group) {
  position: relative;
  margin: 0 15px;
}
