.wizardWrapper {
  padding: 130px 15px 30px 15px;
  margin: 0 auto;
  max-width: 1360px;
  display: block;
  position: relative;
  overflow: hidden;
}

.wizardContent {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-right: 0;
}

.title {
  white-space: nowrap;
  font-size: 13px;
  margin-left: 0;
  margin-top: 5px;
  color: #000;
  text-align: center;
  font-family: var(--RegularSans);
  cursor: pointer;
}

.stepContainer {
  list-style: none;
  display: flex;
  margin: 50px auto;
  padding: 0;
  width: 100%;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.48);
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(45, 45, 45, 0.42);
  text-align: center;
}

@media (min-width: 768px) {
  .stepContainer {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .stepContainer {
    width: 70%;
  }
}

.list {
  position: relative;
  flex: unset;
  padding: 15px 10px;
  display: inline-block;
}

.list:nth-child(2) {
  flex: 1;
  z-index: 5;
}

.list:nth-child(2)::before {
  content: '';
  position: absolute;
  height: 1px;
  top: 34px;
  width: 45%;
  left: 55%;
  background: #fff;
  z-index: -1;
}

.list:nth-child(2)::after {
  content: '';
  position: absolute;
  height: 1px;
  top: 34px;
  width: 45%;
  right: 55%;
  background: #fff;
  z-index: -1;
}

.list:first-child {
  padding-right: 15px;
}

.list:first-child .steps {
  text-align: right;
}

.list:last-child {
  flex: unset;
  padding-left: 15px;
}

.list:last-child::before {
  width: unset;
  height: unset;
  position: unset;
  content: unset;
}

.steps {
  text-align: center;
}

:global(.stepsKey) {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #000;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 16px;
  line-height: 35px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  :global(.stepsKey) {
    font-size: 18px;
  }
}

:global(.selectedStep) {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

:global(.passedStep) {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

:global(.mf-checked) {
  display: none;
  visibility: hidden;
}

:global(.passedStep) :global(.mf-checked) {
  display: block;
  visibility: visible;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  width: 20px;
  right: 6px;
  top: 6px;
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding: 4px;
}

.nextPrevBtns {
  position: absolute;
  bottom: 0;
  left: 0;
}

.checkoutMessage {
  width: 100%;
  margin: 40px auto;
  padding: 15px;
  border-radius: 2px;
  text-align: center;
  background: rgba(255, 255, 255, 0.48);
}

.messageContent {
  background: #fff;
  padding: 20px;
}

.messageTitle {
  color: #000;
  font-weight: 600;
  display: inline-block;
  border-bottom: 1px solid #000;
  padding: 5px 0;
}

.messageTitle i {
  margin-left: 7px;
  vertical-align: sub;
  font-size: 18px;
}

.messageTitle :global(.mf-close-o),
.errorText {
  color: #ff2b2b;
}

.messageTitle :global(.mf-check),
.successText {
  color: var(--green);
}

.lastText {
  font-size: 12px;
}

.backBtn {
  color: #fff;
  height: 32px;
  border: none;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 2px;
  background-color: var(--green);
}

@media (min-width: 480px) {
  .checkoutMessage {
    padding: 35px;
  }
}

@media (min-width: 768px) {
  .wizardWrapper {
    padding: 130px 30px 30px 30px;
  }
}

@media (min-width: 992px) {
  .checkoutMessage {
    width: 60%;
  }
}

@media (min-width: 1360px) {
  .wizardWrapper {
    padding: 130px 30px 30px 30px;
    margin: 0 auto;
    max-width: 1360px;
    position: relative;
    overflow: hidden;
  }
}
