:global(.ant-modal-content) {
  border-radius: 0 !important;
}

:global(.ant-modal-body) {
  padding: 0 !important;
}

.modalContent {
  height: 200px;
  display: flex;
  position: relative;
}

.content {
  flex: 1;
  align-self: center;
  margin-right: 45px;
  z-index: 1;
}

.modalContent .background {
  height: 200px;
  position: absolute;
  left: 0;
}

.modalContent h3 {
  position: relative;
  font-weight: 600;
  font-size: 16px;
}

.modalContent h3 .logo {
  position: absolute;
  height: 35px;
  right: -25px;
  top: -25px;
}

.yes,
.no {
  width: 70px;
  height: 32px;
  border: 2px;
  margin-left: 10px;
  margin-top: 10px;
}

.yes {
  background: var(--pink);
  color: #fff;
}

.no {
  background: #f1f1f1;
  color: #555;
}

@media (min-width: 480px) {
  .yes,
  .no {
    margin-top: 35px;
  }
}
