:global(.coverflow__container__2RGwF) {
  background: transparent;
  width: auto !important;
  height: 500px !important;
}

@media (min-width: 768px) {
  :global(.coverflow__container__2RGwF) {
    height: 440px !important;
  }
}

@media (min-width: 992px) {
  :global(.coverflow__container__2RGwF) {
    height: 480px !important;
  }
}

@media (min-width: 1360px) {
  :global(.coverflow__container__2RGwF) {
    height: 520px !important;
  }
}

@media (min-width: 1920px) {
  :global(.coverflow__container__2RGwF) {
    height: 580px !important;
  }
}

@media (min-width: 2400px) {
  :global(.coverflow__container__2RGwF) {
    height: 700px !important;
  }
}

:global(.coverflow__figure__zEOhf) {
  opacity: 1 !important;
}

:global(.coverflow__figure__zEOhf),
:global(.coverflow__cover__3uJrO) {
  box-shadow: none;
}
