.rate {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 0;
  margin-top: 0;
}

.rate :global(.anticon-star::before) {
  font-size: 14px !important;
}

.vendorName {
  margin-top: 60px;
  margin-bottom: 0;
  font-size: 14px;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rate p {
  margin-bottom: 0;
  font-size: 12px;
}

@media (min-width: 1200px) {
  .vendorName {
    width: 155px;
  }
}

.rateBox :global(.rate-text) {
  position: absolute;
  font-size: 14px;
  border-radius: 2px;
  color: #fff;
  background: var(--green);
  font-family: sans-serif;
  vertical-align: text-top;
  padding: 1px 6px;
  top: 42%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.roundRate {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 105px;
  height: 40px;
}

.roundRate {
  line-height: 0 !important;
}

.roundRate :global(.ant-rate-star) {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.roundRate :global(.ant-rate-star:first-child),
.roundRate :global(.ant-rate-star:nth-child(2)),
.roundRate :global(.ant-rate-star:nth-child(3)),
.roundRate :global(.ant-rate-star:nth-child(4)),
.roundRate :global(.ant-rate-star:last-child) {
  position: absolute;
}

.roundRate :global(.ant-rate-star:first-child),
.roundRate :global(.ant-rate-star:last-child) {
  bottom: 0;
}

.roundRate :global(.ant-rate-star:nth-child(2)),
.roundRate :global(.ant-rate-star:nth-child(4)) {
  bottom: 17px;
}

.roundRate :global(.ant-rate-star:first-child) {
  right: 2px;
}

.roundRate :global(.ant-rate-star:last-child) {
  left: 2px;
}

.roundRate :global(.ant-rate-star:nth-child(2)) {
  right: 20px;
}

.roundRate :global(.ant-rate-star:nth-child(4)) {
  left: 20px;
}

.roundRate :global(.ant-rate-star:nth-child(3)) {
  bottom: 25px;
  right: 46px;
}

.vendorLoc i {
  margin-left: 5px;
}
