.wishList :global(.mf-favorite-o) {
  display: block;
  width: 50px;
  height: 32px;
  text-align: right;
  line-height: 24px;
  font-size: 20px;
  color: #b7b7b7;
}

@media (min-width: 1200px) {
  .wishList :global(.mf-favorite-o) {
    width: 100px;
  }
}

@media (min-width: 1200px) {
  .wishList :global(.mf-favorite-o) {
    width: 210px;
  }
}
