.reminding {
  width: 100%;
  border-bottom: none;
  padding: 0;
}

@media (min-width: 992px) {
  .reminding {
    padding: 30px 25px;
  }
}

.wrapper {
  border: none;
}

@media (min-width: 992px) {
  .wrapper {
    border: 1px solid #e8e8e8;
    padding: 0;
  }
}

.title {
  display: none;
  visibility: hidden;
}

@media (min-width: 992px) {
  .title {
    display: block;
    visibility: visible;
    padding: 15px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }
}

.reminding :global(.ant-table) {
  border-radius: 0 !important;
}

.reminding :global(.ant-table table th),
.reminding :global(.ant-table table td) {
  text-align: right !important;
}

.reminding :global(.ant-table-thead) > tr > th,
.reminding :global(.ant-table-tbody) > tr > td {
  padding: 14px 16px !important;
  font-size: 13px;
}

.reminding :global(.ant-table-thead) > tr > th {
  border-bottom: none !important;
}

.mobileViewList {
  margin: 10px;
  border: 1px solid #e8e8e8;
  border-top: 2px solid var(--pink);
  border-radius: 2px;
}

.mobileViewList li {
  padding: 10px 20px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.mobileViewList li:last-child {
  display: block;
  text-align: center;
  border-bottom: none;
}

.mobileViewList .btn {
  border: none;
  font-size: 18px;
  line-height: 40px;
}
